<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.testng.eclipse.launchconfig">
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.testng.remote.RemoteTestNG"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="OG Util"/>
<mapAttribute key="org.testng.eclipse.ALL_CLASS_METHODS"/>
<listAttribute key="org.testng.eclipse.CLASS_TEST_LIST"/>
<listAttribute key="org.testng.eclipse.GROUP_LIST"/>
<listAttribute key="org.testng.eclipse.GROUP_LIST_CLASS"/>
<stringAttribute key="org.testng.eclipse.LOG_LEVEL" value="2"/>
<listAttribute key="org.testng.eclipse.METHOD_TEST_LIST"/>
<listAttribute key="org.testng.eclipse.PACKAGE_TEST_LIST">
<listEntry value="com.opengamma"/>
<listEntry value="com.opengamma.extsql"/>
<listEntry value="com.opengamma.fudge.inner"/>
<listEntry value="com.opengamma.id"/>
<listEntry value="com.opengamma.transport"/>
<listEntry value="com.opengamma.transport.jaxrs"/>
<listEntry value="com.opengamma.transport.jms"/>
<listEntry value="com.opengamma.transport.socket"/>
<listEntry value="com.opengamma.util"/>
<listEntry value="com.opengamma.util.component"/>
<listEntry value="com.opengamma.util.db"/>
<listEntry value="com.opengamma.util.fudgemsg"/>
<listEntry value="com.opengamma.util.i18n"/>
<listEntry value="com.opengamma.util.money"/>
<listEntry value="com.opengamma.util.monitor"/>
<listEntry value="com.opengamma.util.paging"/>
<listEntry value="com.opengamma.util.rest"/>
<listEntry value="com.opengamma.util.test"/>
<listEntry value="com.opengamma.util.time"/>
<listEntry value="com.opengamma.util.timeseries"/>
<listEntry value="com.opengamma.util.timeseries.object"/>
<listEntry value="com.opengamma.util.tuple"/>
</listAttribute>
<mapAttribute key="org.testng.eclipse.PARAMETERS"/>
<intAttribute key="org.testng.eclipse.TYPE" value="5"/>
</launchConfiguration>
