*~
foo~
*.class
classes/
dist/
ivy/
bootstrap/
lib/
tests/classes/
tests/output/
.settings/org.eclipse.ltk.core.refactoring.prefs
derby.log
db/derby/test_*
db/hsqldb/test_*
generated/
build/
doc/
/.fudge-proto-gitignore
/MANIFEST.MF
.clover/
.DS_Store
*.log
