<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Note that these connection details need to be in the spring files also - i
             these are for the hibernate toolchain that is unaware of Spring -->
        <property name="hibernate.connection.driver_class">${hibernate.connection.driver_class}</property>
        <property name="hibernate.connection.url">${hibernate.connection.url}</property>
        <property name="hibernate.dialect">${hibernate.dialect}</property>
        <mapping resource="com/opengamma/financial/security/master/db/hibernate/DomainSpecificIdentifierBean.hbm.xml"/>
        <mapping resource="com/opengamma/financial/security/master/db/hibernate/ExchangeBean.hbm.xml"/>
        <mapping resource="com/opengamma/financial/security/master/db/hibernate/CurrencyBean.hbm.xml"/>
        <mapping resource="com/opengamma/financial/security/master/db/hibernate/GICSCodeBean.hbm.xml"/>
        <mapping resource="com/opengamma/financial/security/master/db/hibernate/FrequencyBean.hbm.xml"/>
        <mapping resource="com/opengamma/financial/security/master/db/hibernate/DayCountBean.hbm.xml"/>
        <mapping resource="com/opengamma/financial/security/master/db/hibernate/BusinessDayConventionBean.hbm.xml"/>
        <mapping resource="com/opengamma/financial/security/master/db/hibernate/StubTypeBean.hbm.xml"/>
        <mapping resource="com/opengamma/financial/security/master/db/hibernate/SecurityBean.hbm.xml"/>     
    </session-factory>
</hibernate-configuration>
