<div>
  <div class="OG-g-rows" style="height: {{holder_height}}px;">
    {{#each rows}}
      <div class="OG-g-row OG-g-{{data_row}}" style="top: {{top}}px;">
        {{#each cells}}
          <div class="OG-g-cell OG-g-{{type}} c{{column}}{{#error}} og-error{{/error}}
          {{#highlight}} og-cell-{{../highlight}}{{/highlight}}
          {{#logging}} og-log og-log-{{../logging}}{{/logging}}">
            {{{value}}}
          </div>
        {{/each}}
      </div>
    {{/each}}
  </div>
  {{#if loading}}
    <div class="OG-g-rest" style="top: 0px; opacity: 0; filter: alpha(opacity=0);"></div>
  {{else}}
    <div class="OG-g-rest"></div>
  {{/if}}
</div>