<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.testng.eclipse.launchconfig">
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.testng.remote.RemoteTestNG"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="OG Core"/>
<mapAttribute key="org.testng.eclipse.ALL_CLASS_METHODS">
<mapEntry key="com.opengamma.core.historicaldata.HistoricalDataSourceTest" value=""/>
<mapEntry key="com.opengamma.core.position.impl.PortfolioImplTest" value=""/>
<mapEntry key="com.opengamma.core.position.impl.PortfolioNodeImplTest" value=""/>
<mapEntry key="com.opengamma.core.position.impl.PositionImplTest" value=""/>
<mapEntry key="com.opengamma.core.position.impl.TradeImplTest" value=""/>
<mapEntry key="com.opengamma.core.security.SecurityUtilsTest" value=""/>
</mapAttribute>
<listAttribute key="org.testng.eclipse.CLASS_TEST_LIST">
<listEntry value="com.opengamma.core.historicaldata.HistoricalDataSourceTest"/>
<listEntry value="com.opengamma.core.position.impl.PortfolioImplTest"/>
<listEntry value="com.opengamma.core.position.impl.PortfolioNodeImplTest"/>
<listEntry value="com.opengamma.core.position.impl.TradeImplTest"/>
<listEntry value="com.opengamma.core.position.impl.PositionImplTest"/>
<listEntry value="com.opengamma.core.security.SecurityUtilsTest"/>
</listAttribute>
<listAttribute key="org.testng.eclipse.GROUP_LIST"/>
<listAttribute key="org.testng.eclipse.GROUP_LIST_CLASS"/>
<stringAttribute key="org.testng.eclipse.LOG_LEVEL" value="2"/>
<listAttribute key="org.testng.eclipse.METHOD_TEST_LIST"/>
<listAttribute key="org.testng.eclipse.PACKAGE_TEST_LIST"/>
<mapAttribute key="org.testng.eclipse.PARAMETERS"/>
<intAttribute key="org.testng.eclipse.TYPE" value="1"/>
</launchConfiguration>
