<?php
# CPP Documentation configuration

$config_tempdir = "C:\\OpenGamma\\OG-Language\\SRC\\Util";
$config_includes = "/I..\\lib\\include /I..";
$config_defines = "/D_WIN32";
$config_preprocessor = "cl /nologo /P /C /Fi$config_tempdir\\\$OUTFILE $config_includes $config_defines \$INFILE";
$config_common_header = "stdafx.h";
?>
