<div class="OG-timeseries">
  <section class="og-plots {{alive}}">
    <div class="og-flot-top"></div>
    <div class="og-plot-header"></div>
    <div class='og-timeseries-refresh OG-link'>Refresh</div>
    <div class="og-timeseries-plot og-js-timeseries-plot">
      <div class="og-js-p1"></div>
      <div class="og-flot-xaxis"></div>
      <div class="og-js-p2-background"></div>
      <div class="og-js-p2"></div>
      <div class="og-tenor"></div>
    </div>
  </section>
  <section class="og-loading">loading...</section>
</div>