<section class="og-plots {{alive}}">
  <div class="og-flot-top"></div>
  <div class="og-flot-xaxis"></div>
  <div class="og-flot-right-mask"></div>
  <div class="og-flot-left-mask"></div>
  <div class="og-timeseries-plot og-js-timeseries-plot">
    <div class="og-js-p1-crop"><div class="og-js-p1"></div></div>
    <div class="og-js-p2-crop"><div class="og-js-p2"></div></div>
    <div class="og-tenor"></div>
  </div>
  <div class="og-plot-header"></div>
</section>
<section class="og-data-points"></section>