/db/
*.log
projects/Fudge-Java/
projects/Fudge-Proto/
projects/OG-Bloomberg/
projects/OG-Excel/
projects/OG-Integration/
projects/OG-Reuters/
repository/
ivy/
bootstrap/
tests/output/
docs/
lib/
.idea/