/db/
*.log
common/build-projects.xml
common/credentials.properties
common/tests.properties
common/db.properties
common/deploy.properties
/projects/*
!/projects/OG-Analytics
!/projects/OG-Bloomberg
!/projects/OG-Component
!/projects/OG-Core
!/projects/OG-Engine
!/projects/OG-Examples
!/projects/OG-Financial
!/projects/OG-Integration
!/projects/OG-Language
!/projects/OG-LiveData
!/projects/OG-Master
!/projects/OG-MasterDB
!/projects/OG-Maths
!/projects/OG-Security
!/projects/OG-Util
!/projects/OG-Web
!/projects/OG-BloombergExample
repository/
ivy/
bootstrap/
tests/output/
javadoc
lib/
.idea/
.DS_Store
.*.sw?
logs/
artifacts/
output/
output-long/
/dist/
/Setting-up-an-Eclipse-workspace.html
test-output/
/install/
/OpenGamma/
/build/
LOCAL_STASH
*.iws
*.ids
docs.sqlite3
