*~
foo~
*.class
*.log
*.iml
.project
.classpath
.checkstyle
/.clover/
/.settings/
/bin/
/build/
/data/
/dist/
/generated/
/lib/
/target/
/temp/
/tests/classes/
/tests/output/
/test-output/
/MANIFEST.MF
/.DS_Store
build.number
javadoc-data.json
*.pyc

/sesame-*/
!/sesame-component/
!/sesame-engine/
!/sesame-function/
!/sesame-server/
!/sesame-war-main/
!/sesame-web/

# IntelliJ config files
*.iws
*.iml
*.ids
.idea/
!.idea/runConfigurations/
atlassian-ide-plugin.xml
