<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">${hibernate.connection.driver_class}</property>
        <property name="hibernate.connection.url">${hibernate.connection.url}</property>
        <property name="hibernate.dialect">${hibernate.dialect}</property>
        <mapping resource="com/opengamma/livedata/server/PersistentSubscription.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
