<div class="reduced">
    <div class="tooltip-cta norf" data-tooltip="1" data-tooltip-type="large">North</div>
    <div class="tooltip-cta norf-west" data-tooltip="2" data-tooltip-type="large">North West</div>
    <div class="tooltip-cta west" data-tooltip="3" data-tooltip-type="large">West</div>
    <div class="tooltip-cta south-west" data-tooltip="4" data-tooltip-type="large">South West</div>
    <div class="tooltip-cta south" data-tooltip="5" data-tooltip-type="large">South</div>
    <div class="tooltip-cta south-east" data-tooltip="6" data-tooltip-type="large">South East</div>
    <div class="tooltip-cta east" data-tooltip="7" data-tooltip-type="large">East</div>
    <div class="tooltip-cta north-east" data-tooltip="8" data-tooltip-type="large">North East</div>
</div>
<div class="center">
  <a class="tooltip-cta north" href="#" data-tooltip="9" data-tooltip-type="large">Link</a>
  <a class="tooltip-cta east" href="#" data-tooltip="10" data-tooltip-type="large">Link</a>
  <a class="tooltip-cta south" href="#" data-tooltip="11" data-tooltip-type="large">Link</a>
  <a class="tooltip-cta west" href="#" data-tooltip="12" data-tooltip-type="large">Link</a>
  <a class="tooltip-cta north-east" href="#" data-tooltip="13" data-tooltip-type="large">Link</a>
  <a class="tooltip-cta south-east" href="#" data-tooltip="14" data-tooltip-type="large">Link</a>
  <a class="tooltip-cta south-west" href="#" data-tooltip="15" data-tooltip-type="large">Link</a>
  <a class="tooltip-cta north-west" href="#" data-tooltip="16" data-tooltip-type="large">Link</a>
</div>