<article>
  <header class="OG-header-generic" style="min-height: 94px;">
    <div class="OG-tools"></div>
    <label class="og-h1-label">Portfolio:</label><h1 data-og-editable="name" data-og-id="${object_id}">{{if portfolio_name}}${portfolio_name}{{else}}${name}{{/if}}</h1>
    <div class="OG-js-breadcrumb"></div>
    <div class="OG-js-header-links"></div>
  </header>
  <section>
    <div class="OG-details-content OG-js-details-panel">
      <section class="OG-clearFix OG-details-grid">
        <div class="og-js-portfolios" style="width: 40%;"></div>
        <div class="OG-clearFix og-js-positions" style="width: 60%;"></div>
      </section>
      <section class="OG-clearFix OG-gadgets-positions-container og-js-gadgets-positions"></section>
      <section class="og-grid-last og-js-trades-table"></section>
    </div>
  </section>
</article>