<article>
  <header class="OG-header-generic tool-tips" style="min-height: 94px;">
    <ul>
        <li><a href="*" data-tooltip="Help tooltip demo, this text is part of the anchors data attribute">link A</a></li>
        <li><a href="*" data-tooltip="Help tooltip demo, this text is part of the anchors data attribute">link B</a></li>
        <li><a href="*" data-tooltip="Help tooltip demo, this text is part of the anchors data attribute">link C</a></li>
        <li><a href="*" data-tooltip="Help tooltip demo, this text is part of the anchors data attribute">link D</a></li>
        <li><a href="*" data-tooltip="Help tooltip demo, this text is part of the anchors data attribute">link E</a></li>
    </ul>
    <div class="tip">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam consectetur quam a sapien egestas eget scelerisque lectus tempor. Duis placerat tellus at erat pellentesque nec ultricies erat molestie. Integer nec orci id tortor molestie porta. Suspendisse eu sagittis quam.
    </div>
  </header>
  <section>
    <div class="OG-details-content OG-js-details-panel">
      <section class="OG-clearFix OG-details-grid">
        <div></div>
      </section>
    </div>
  </section>
</article>