<article>
  <header class="OG-header-generic">
    <div class="OG-tools"></div>
    <h1>${title}</h1>
  </header>
  <section style="width: 800px;">
    <div class="OG-details-content OG-timeseries OG-js-details-panel">
      <section class="OG-c10 og-grid-last og-plots"></section>
      <section class="og-data-points"></section>
      <section>
        <table class="OG-table">
          <col style="width: 40%" />
          <col style="width: 60%" />
            <thead>
            <tr>
              <th><span>Identifiers</span></th><th>&nbsp;</th>
            </tr>
          </thead>
          <tbody class="og-js-identifiers"></tbody>
        </table>
      </section>
    </div>
  </section>
</article>