<article>
  <header class="OG-header-generic">
    <div class="OG-tools"></div>
    <h1>${title}</h1>
  </header>
  <section>
    <div class="OG-details-content OG-timeseries OG-js-details-panel">
      <section>
        <section class="OG-c10 og-grid-last og-plots"></section>
        <section class="og-data-points"></section>
        <section class="OG-mod-1 og-style-2 OG-c5" style="width: 360px;">
          <table>
            <col style="width: 40%" />
            <col style="width: 60%" />
              <thead>
              <tr>
                <td>Identifiers</td><td></td>
              </tr>
            </thead>
            <tbody class="og-js-identifiers og-mod-content"></tbody>
          </table>
        </section>
      </section>
    </div>
  </section>
</article>