<article>
  <header class="OG-header-generic">
    <div class="OG-tools"></div>
    <label class="og-h1-label">Region:</label><h1>{{html template_data.name}}</h1>
  </header>
  <section>
    <div class="OG-details-content OG-js-details-panel">
      <section>
          <table class="OG-table">
            <col style="width: 40%" />
            <col style="width: 60%" />
            <thead>
              <tr><th><span><em>Region details</em></span></th><th>&nbsp;</th></tr>
            </thead>
            <tbody class="og-js-info">
              <tr>
                <td><span>Full Name</span></td>
                <td>${template_data.full_name}</td>
              </tr>
              <tr>
                <td><span>Classification</span></td>
                <td>${template_data.classification}</td>
              </tr>
              <tr>
                <td><span>FInancial Region</span></td>
                <td>${keys.FINANCIAL_REGION}</td>
              </tr>
              <tr>
                <td><span>ISO Country code</span></td>
                <td>${keys.ISO_COUNTRY_ALPHA2}</td>
              </tr>
              <tr>
                <td><span>ISO Currency code</span></td>
                <td>${keys.ISO_CURRENCY_ALPHA3}</td>
              </tr>
            </tbody>
          </table>
      </section>
      <section>
          <table class="OG-table">
            <col style="width: 40%" />
            <col style="width: 60%" />
            <thead>
              <tr><th><span><em>Parent regions</em></span></th><th>&nbsp;</th></tr>
            </thead>
            <tbody class="og-js-parent_regions"></tbody>
          </table>
      </section>
      <section>
          <table class="OG-table">
            <col style="width: 40%" />
            <col style="width: 60%" />
            <thead>
              <tr><th><span><em>Child regions</em></span></th><th>&nbsp;</th></tr>
            </thead>
            <tbody class="og-js-child_regions"></tbody>
          </table>
      </section>
    </div>
  </section>
</article>