<article>
  <header class="OG-header-generic">
    <div class="OG-toolbar"></div>
    <h1>${name}</h1>
  </header>
  <section>
    <div class="OG-details-content OG-batch">
      <div class="OG-c10 og-grid-last" style="width: 500px">
        <div class="OG-field-box">
          <div class="og-lbl">
            <div>Observation date</div>
            <div>Observation time</div>
            <div>Status</div>
            <div>Total results</div>
            <div>Total errors</div>
          </div>
          <div>
            <div>${date}</div>
            <div>${time}</div>
            <div>${version}</div>
            <div>${total_results}</div>
            <div>${total_errors}</div>
          </div>
        </div>
        <h2>Results</h2>
        <div class="og-treeLines">
        <table class="OG-table-style-01">
          <thead>
            <tr>
              <td>Calculation configuration</td>
              <td>Computation target</td>
              <td>Value name</td>
              <td>Function unique id</td>
              <td>Value</td>
            </tr>
          </thead>
          <tbody class="og-js-results"></tbody>
        </table>
        </div>
        <h2>Errors</h2>
        <div class="og-treeLines og-treeLinesLast OG-JS-positions">
          <table class="OG-table-style-01">
            <thead>
              <tr>
                <td>Calculation configuration</td>
                <td>Computation target</td>
                <td>Value name</td>
                <td>Function unique id</td>
                <td>Exception class</td>
                <td>Exception message</td>
                <td>Stack trace</td>
              </tr>
            </thead>
            <tbody class="og-js-errors"></tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</article>