<article>
  <header class="OG-header-generic">
    <div class="OG-toolbar"></div>
    <h1 data-og-editable="name">${name}</h1>
    <div class="OG-js-header-links"></div>
  </header>
  <section>
    <div class="OG-details-content OG-js-details-panel">
      <div class="OG-c10 og-grid-last OG-max-width-xl">
        <section class="OG-mod-1 OG-c4" style="width: 347px;">
          <div>
            <h3>Portfolios</h3>
            <div class="og-js-portfolios" style="height: 400px"></div>
            <a href="#" class="OG-link-add OG-js-add-sub-portfolio">add new portfolio</a>
          </div>
        </section>
        <section class="OG-mod-1 OG-c6" style="width: 407px;">
          <div>
            <h3>Positions</h3>
            <div class="og-js-positions" style="height: 400px"></div>
            <a href="#" class="OG-link-add OG-js-add-position">add new position</a>
          </div>
        </section>
      </div>
    </div>
  </section>
</article>