<div class="OG-portfolio">
  <h1>
    <span class="og-js-breadcrumb"></span>
    <span data-og-editable="name">${name}</span>
  </h1>
  <div class="og-treeLines">
    <table class="OG-table-style-01">
    <thead>
      <tr>
        <td><strong>Portfolios</strong></td>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td>
          <input type="text" value="name" autocomplete="off" class="og-js-create-portfolio-node" />
          <button class="OG-small-button og-button-secondary">create new portfolio</button>
        </td>
      </tr>
    </tfoot>
    <tbody class="og-js-portfolios"></tbody>
  </table>
  </div>
  <div class="og-treeLines og-treeLinesLast OG-JS-positions">
    <table class="OG-table-style-01">
      <thead>
        <tr>
          <td><strong>Positions</strong></td>
          <td>Quantity</td>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan="2">
            <div class="og-js-add-position">
              <input type="text" value="search" autocomplete="off" />
              <button class="OG-small-button og-button-secondary">add position</button>
            </div>
          </td>
        </tr>
      </tfoot>
      <tbody class="og-js-positions"></tbody>
</table>
  </div>
</div>
