<article>
  <header class="OG-header-generic">
    <div class="OG-tools"></div>
    <h1>${template_data.name}</h1>
  </header>
  <section>
    <div class="OG-details-content OG-exchanges OG-js-details-panel">
      <section>
        <div class="OG-mod-1 OG-c6">
          <table>
            <col style="width: 40%" />
            <col style="width: 60%" />
            <thead>
              <tr><td colspan="2">Exchange details</td></tr>
            </thead>
            <tbody class="og-mod-content og-js-info">
              <tr>
                <td><span>Region ID</span></td>
                <td>${regionKey['Region id']}</td>
              </tr>
              <tr>
                <td><span>Key</span></td>
                <td>${identifiers.Key}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </section>
</article>