<div class="OG-position">
  <h1>
    <span>${NAME}</span>
  </h1>
  <table class="OG-table-style-01 og-security">
    <thead>
      <tr>
        <td><strong>Security</strong></td>
        <td>Type</td>
        <td>Quantity</td>
      </tr>
    </thead>
    <tbody>
      <tr class="og-js-main"></tr>
    </tbody>
  </table>
  <table class="OG-table-style-01">
    <thead>
      <tr>
        <td><strong>Identifiers</strong></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><ul class="og-js-identifiers"></ul></td>
      </tr>
    </tbody>
  </table>
  <table class="OG-table-style-01">
    <thead>
      <tr>
        <td><strong>Trades</strong></td>
        <td>Quantity</td>
        <td>Counterparty</td>
        <td>Date</td>
      </tr>
    </thead>
    <tbody class="og-js-trades"></tbody>
  </table>
</div>