<div class="OG-config">
  <h1>
    <span data-og-editable="name">${name}</span>
  </h1>
  <div class="OG-field-box"></div>

  <div class="og-treeLines">
    <table class="OG-table-style-01">
    <thead>
      <tr>
        <td><strong>${type}</strong></td>
      </tr>
    </thead>
    <tfoot>
      <tr><td><button class="OG-small-button og-button-secondary">save</button></td></tr>
    </tfoot>
    <tbody>
      <tr>
        <td><textarea style="width: 99%; min-height: 400px;">${configXml}</textarea></td><!-- TEMP -->
      </tr>
    </tbody>
  </table>

  </div>

</div>
