<article>
    <header class="OG-header-generic">
        <div class="OG-tools"></div>
        <label class="og-h1-label">Legal Entity:</label>

        <h1>{{html template_data.name}}</h1>
    </header>
    <section>
        <div class="OG-details-content OG-js-details-panel">
            <section>
                <table class="OG-table">
                    <col style="width: 40%"/>
                    <col style="width: 60%"/>
                    <thead>
                    <tr>
                        <th><span><em>Legal Entity Name</em></span></th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th><span class="og-js-name"></span></th>
                    </tr>
                    </tbody>
                </table>
            </section>
            <section>
                <table class="OG-table">
                    <col style="width: 40%"/>
                    <col style="width: 60%"/>
                    <thead>
                    <tr>
                        <th><span><em>Identifiers</em></span></th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody class="og-js-identifiers"></tbody>
                </table>
            </section>
            <section>
                <table class="OG-table">
                    <col style="width: 40%"/>
                    <col style="width: 60%"/>
                    <thead>
                    <tr>
                        <th><span><em>Legal Entity Details</em></span></th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody class="og-js-details"></tbody>
                </table>
            </section>
            <section>
                <table class="OG-table">
                    <col style="width: 40%"/>
                    <col style="width: 60%"/>
                    <thead>
                    <tr>
                        <th><span><em>Legal Entity Attributes</em></span></th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody class="og-js-attributes"></tbody>
                </table>
            </section>
            <section>
                <table class="OG-table">
                    <col style="width: 40%"/>
                    <col style="width: 60%"/>
                    <thead>
                    <tr>
                        <th colspan="3"><span><em>Ratings</em></span></th>
                    </tr>
                    <tr>
                        <th>Rater</th>
                        <th>Seniority</th>
                        <th>Score</th>
                    </tr>
                    </thead>
                    <tbody class="og-js-ratings"></tbody>
                </table>
            </section>
            <section>
                <table class="OG-table">
                    <col style="width: 40%"/>
                    <col style="width: 60%"/>
                    <thead>
                    <tr>
                        <th><span><em>Capabilities</em></span></th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody class="og-js-capabilities"></tbody>
                </table>
            </section>
            <section>
                <table class="OG-table">
                    <col style="width: 40%"/>
                    <col style="width: 60%"/>
                    <thead>
                    <tr>
                        <th><span><em>Obligations</em></span></th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody class="og-js-obligations"></tbody>
                </table>
            </section>
            <section>
                <table class="OG-table">
                    <col style="width: 40%"/>
                    <col style="width: 60%"/>
                    <thead>
                    <tr>
                        <th><span><em>Accounts</em></span></th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody class="og-js-accounts"></tbody>
                </table>
            </section>
            <section>
                <table class="OG-table">
                    <col style="width: 40%"/>
                    <col style="width: 60%"/>
                    <thead>
                    <tr>
                        <th><span><em>Issued Securities</em></span></th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody class="og-js-issued_securities"></tbody>
                </table>
            </section>
            <section>
                <table class="OG-table">
                    <col style="width: 40%"/>
                    <col style="width: 60%"/>
                    <thead>
                    <tr>
                        <th><span><em>Root Portfolio</em></span></th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody class="og-js-root_portfolio"></tbody>
                </table>
            </section>
        </div>
    </section>

</article>