<article>
  <header class="OG-header-generic">
    <div class="OG-tools"></div>
    <h1>{{html name}}</h1>
  </header>
  <section>
    <div class="OG-details-content OG-region OG-js-details-panel">
      <section>
        <div class="OG-field-box">
          <div class="og-lbl">
            <div>Full Name</div>
            <div>Classification</div>
          </div>
          <div>
            <div><strong class="OG-editable" og-edit="name">${full_name}</strong></div>
            <div><strong class="OG-editable" og-edit="name">${classification}</strong></div>
          </div>
        </div>
        <div class="OG-field-box og-js-keys"></div>
        <div class="og-treeLines">
            <table class="OG-table-style-01">
              <thead>
                <tr>
                  <td><strong>Parent regions</strong></td>
                </tr>
              </thead>
              <tbody class="og-js-parent_regions"></tbody>
            </table>
          </div>
        <div class="og-treeLines og-treeLinesLast">
            <table class="OG-table-style-01">
            <thead>
              <tr>
                <td><strong>Child regions</strong></td>
              </tr>
            </thead>
            <tbody class="og-js-child_regions"></tbody>
          </table>
        </div>
      </section>
    </div>
  </section>
</article>