<div class="reduced">
    <div class="tooltip-cta norf">North</div>
    <div class="tooltip-cta norf-west">North West</div>
    <div class="tooltip-cta west">West</div>
    <div class="tooltip-cta south-west">South West</div>
    <div class="tooltip-cta south">South</div>
    <div class="tooltip-cta south-east">South East</div>
    <div class="tooltip-cta east">East</div>
    <div class="tooltip-cta north-east">North East</div>
</div>
<div class="center">
  <a class="tooltip-cta north" href="#">Link</a>
  <a class="tooltip-cta east" href="#">Link</a>
  <a class="tooltip-cta south" href="#">Link</a>
  <a class="tooltip-cta west" href="#">Link</a>
  <a class="tooltip-cta north-east" href="#">Link</a>
  <a class="tooltip-cta south-east" href="#">Link</a>
  <a class="tooltip-cta south-west" href="#">Link</a>
  <a class="tooltip-cta north-west" href="#">Link</a>
</div>