/build/
/TestResults/
/Client/tests/classes/
/Client/tests/output/
/dist/
/doc/
/*/Debug/
/*/Release/
/*/DebugWin32/
/*/ReleaseWin32/
/*/Debugx64/
/*/Releasex64/
/*/Temp/
/*/*.aps
/*/*.vcxproj.user
/Connector/com_opengamma_language_*
/OG-Language.suo
MANIFEST.MF
build.number
.settings/
/_ReSharper*
