<?xml version="1.0" encoding="UTF-8"?>
<fudgeEnvelope>
  <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.curve.CurveNodeIdMapper</fudgeField0>
  <name type="string">EUR Swap 3M Bloomberg Mapper</name>
  <swapIds type="message">
    <P1Y type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~EUSW1V3 Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P1Y>
    <P2Y type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~EUSW2V3 Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P2Y>
    <P3Y type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~EUSW3V3 Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P3Y>
    <P4Y type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~EUSW4V3 Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P4Y>
    <P5Y type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~EUSW5V3 Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P5Y>
    <P6Y type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~EUSW6V3 Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P6Y>
    <P7Y type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~EUSW7V3 Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P7Y>
    <P8Y type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~EUSW8V3 Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P8Y>
    <P9Y type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~EUSW9V3 Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P9Y>
    <P10Y type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~EUSW10V3 Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P10Y>
    <P11Y type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~EUSW11V3 Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P11Y>
    <P12Y type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~EUSW12V3 Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P12Y>
    <P15Y type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~EUSW15V3 Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P15Y>
    <P20Y type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~EUSW20V3 Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P20Y>
    <P25Y type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~EUSW25V3 Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P25Y>
    <P30Y type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~EUSW30V3 Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P30Y>
    <P35Y type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~EUSW35V3 Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P35Y>
    <P40Y type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~EUSW40V3 Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P40Y>
    <P50Y type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~EUSW50V3 Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P50Y>
  </swapIds>
  <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.curve.CurveNodeIdMapper</fudgeField0>
</fudgeEnvelope>
