<?xml version="1.0" encoding="UTF-8"?>
<fudgeEnvelope>
  <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.curve.CurveNodeIdMapper</fudgeField0>
  <name type="string">EURJPY Forward Bloomberg Mapper</name>
  <fxForwardIds type="message">
    <P1D type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~EURJPYON Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">POINTS</typeField>
      <underlyingInstrument type="string">BLOOMBERG_TICKER~EURJPY Curncy</underlyingInstrument>
      <underlyingDataField type="string">Market_Value</underlyingDataField>
    </P1D>
    <P7D type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~EURJPY1W Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">POINTS</typeField>
      <underlyingInstrument type="string">BLOOMBERG_TICKER~EURJPY Curncy</underlyingInstrument>
      <underlyingDataField type="string">Market_Value</underlyingDataField>
    </P7D>
    <P1M type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~EURJPY1M Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">POINTS</typeField>
      <underlyingInstrument type="string">BLOOMBERG_TICKER~EURJPY Curncy</underlyingInstrument>
      <underlyingDataField type="string">Market_Value</underlyingDataField>
    </P1M>
    <P2M type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~EURJPY2M Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">POINTS</typeField>
      <underlyingInstrument type="string">BLOOMBERG_TICKER~EURJPY Curncy</underlyingInstrument>
      <underlyingDataField type="string">Market_Value</underlyingDataField>
    </P2M>
    <P3M type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~EURJPY3M Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">POINTS</typeField>
      <underlyingInstrument type="string">BLOOMBERG_TICKER~EURJPY Curncy</underlyingInstrument>
      <underlyingDataField type="string">Market_Value</underlyingDataField>
    </P3M>
    <P4M type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~EURJPY4M Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">POINTS</typeField>
      <underlyingInstrument type="string">BLOOMBERG_TICKER~EURJPY Curncy</underlyingInstrument>
      <underlyingDataField type="string">Market_Value</underlyingDataField>
    </P4M>
    <P5M type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~EURJPY5M Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">POINTS</typeField>
      <underlyingInstrument type="string">BLOOMBERG_TICKER~EURJPY Curncy</underlyingInstrument>
      <underlyingDataField type="string">Market_Value</underlyingDataField>
    </P5M>
    <P6M type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~EURJPY6M Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">POINTS</typeField>
      <underlyingInstrument type="string">BLOOMBERG_TICKER~EURJPY Curncy</underlyingInstrument>
      <underlyingDataField type="string">Market_Value</underlyingDataField>
    </P6M>
    <P9M type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~EURJPY9M Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">POINTS</typeField>
      <underlyingInstrument type="string">BLOOMBERG_TICKER~EURJPY Curncy</underlyingInstrument>
      <underlyingDataField type="string">Market_Value</underlyingDataField>
    </P9M>
    <P12M type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~EURJPY12M Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">POINTS</typeField>
      <underlyingInstrument type="string">BLOOMBERG_TICKER~EURJPY Curncy</underlyingInstrument>
      <underlyingDataField type="string">Market_Value</underlyingDataField>
    </P12M>
    <P15M type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~EURJPY15M Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">POINTS</typeField>
      <underlyingInstrument type="string">BLOOMBERG_TICKER~EURJPY Curncy</underlyingInstrument>
      <underlyingDataField type="string">Market_Value</underlyingDataField>
    </P15M>
    <P18M type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~EURJPY18M Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">POINTS</typeField>
      <underlyingInstrument type="string">BLOOMBERG_TICKER~EURJPY Curncy</underlyingInstrument>
      <underlyingDataField type="string">Market_Value</underlyingDataField>
    </P18M>
    <P2Y type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~EURJPY2Y Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">POINTS</typeField>
      <underlyingInstrument type="string">BLOOMBERG_TICKER~EURJPY Curncy</underlyingInstrument>
      <underlyingDataField type="string">Market_Value</underlyingDataField>
    </P2Y>
    <P3Y type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~EURJPY3Y Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">POINTS</typeField>
      <underlyingInstrument type="string">BLOOMBERG_TICKER~EURJPY Curncy</underlyingInstrument>
      <underlyingDataField type="string">Market_Value</underlyingDataField>
    </P3Y>
    <P4Y type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~EURJPY4Y Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">POINTS</typeField>
      <underlyingInstrument type="string">BLOOMBERG_TICKER~EURJPY Curncy</underlyingInstrument>
      <underlyingDataField type="string">Market_Value</underlyingDataField>
    </P4Y>
    <P5Y type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~EURJPY5Y Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">POINTS</typeField>
      <underlyingInstrument type="string">BLOOMBERG_TICKER~EURJPY Curncy</underlyingInstrument>
      <underlyingDataField type="string">Market_Value</underlyingDataField>
    </P5Y>
  </fxForwardIds>
  <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.curve.CurveNodeIdMapper</fudgeField0>
</fudgeEnvelope>
