<?xml version="1.0" encoding="UTF-8"?>
<fudgeEnvelope>
  <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.curve.CurveNodeIdMapper</fudgeField0>
  <name type="string">GBP Swap ON Bloomberg Mapper</name>
  <swapIds type="message">
    <P7D type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~BPSWS1Z Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P7D>
    <P14D type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~BPSWS2Z Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P14D>
    <P1M type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~BPSWSA Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P1M>
    <P2M type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~BPSWSB Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P2M>
    <P3M type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~BPSWSC Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P3M>
    <P4M type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~BPSWSD Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P4M>
    <P5M type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~BPSWSE Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P5M>
    <P6M type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~BPSWSF Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P6M>
    <P7M type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~BPSWSG Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P7M>
    <P8M type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~BPSWSH Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P8M>
    <P9M type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~BPSWSI Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P9M>
    <P10M type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~BPSWSJ Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P10M>
    <P11M type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~BPSWSK Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P11M>
    <P1Y type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~BPSWS1 Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P1Y>
    <P18M type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~BPSWS1F Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P18M>
    <P2Y type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~BPSWS2 Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P2Y>
    <P3Y type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~BPSWS3 Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P3Y>
    <P4Y type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~BPSWS4 Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P4Y>
    <P5Y type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~BPSWS5 Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P5Y>
    <P6Y type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~BPSWS6 Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P6Y>
    <P7Y type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~BPSWS7 Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P7Y>
    <P8Y type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~BPSWS8 Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P8Y>
    <P9Y type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~BPSWS9 Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P9Y>
    <P10Y type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~BPSWS10 Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P10Y>
    <P12Y type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~BPSWS12 Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P12Y>
    <P15Y type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~BPSWS15 Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P15Y>
    <P20Y type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~BPSWS20 Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P20Y>
    <P25Y type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~BPSWS25 Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P25Y>
    <P30Y type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~BPSWS30 Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P30Y>
    <P40Y type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~BPSWS40 Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P40Y>
    <P50Y type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~BPSWS50 Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P50Y>
  </swapIds>
  <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.curve.CurveNodeIdMapper</fudgeField0>
</fudgeEnvelope>
