<?xml version="1.0" encoding="UTF-8"?>
<fudgeEnvelope>
   <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.curve.CurveNodeIdMapper</fudgeField0>
   <name type="string">MXN Swap 1M Bloomberg Mapper</name>
   <swapIds type="message">
      <P3M type="message">
         <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
         <instrument type="string">BLOOMBERG_TICKER~MPSWC Curncy</instrument>
         <dataField type="string">Market_Value</dataField>
         <typeField type="string">OUTRIGHT</typeField>
      </P3M>
      <P6M type="message">
         <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
         <instrument type="string">BLOOMBERG_TICKER~MPSWF Curncy</instrument>
         <dataField type="string">Market_Value</dataField>
         <typeField type="string">OUTRIGHT</typeField>
      </P6M>
      <P9M type="message">
         <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
         <instrument type="string">BLOOMBERG_TICKER~MPSWI Curncy</instrument>
         <dataField type="string">Market_Value</dataField>
         <typeField type="string">OUTRIGHT</typeField>
      </P9M>
      <P13M type="message">
         <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
         <instrument type="string">BLOOMBERG_TICKER~MPSW1A Curncy</instrument>
         <dataField type="string">Market_Value</dataField>
         <typeField type="string">OUTRIGHT</typeField>
      </P13M>
      <P26M type="message">
         <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
         <instrument type="string">BLOOMBERG_TICKER~MPSW2B Curncy</instrument>
         <dataField type="string">Market_Value</dataField>
         <typeField type="string">OUTRIGHT</typeField>
      </P26M>
      <P39M type="message">
         <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
         <instrument type="string">BLOOMBERG_TICKER~MPSW3C Curncy</instrument>
         <dataField type="string">Market_Value</dataField>
         <typeField type="string">OUTRIGHT</typeField>
      </P39M>
      <P52M type="message">
         <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
         <instrument type="string">BLOOMBERG_TICKER~MPSW4D Curncy</instrument>
         <dataField type="string">Market_Value</dataField>
         <typeField type="string">OUTRIGHT</typeField>
      </P52M>
      <P65M type="message">
         <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
         <instrument type="string">BLOOMBERG_TICKER~MPSW5E Curncy</instrument>
         <dataField type="string">Market_Value</dataField>
         <typeField type="string">OUTRIGHT</typeField>
      </P65M>
      <P91M type="message">
         <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
         <instrument type="string">BLOOMBERG_TICKER~MPSW7G Curncy</instrument>
         <dataField type="string">Market_Value</dataField>
         <typeField type="string">OUTRIGHT</typeField>
      </P91M>
      <P130M type="message">
         <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
         <instrument type="string">BLOOMBERG_TICKER~MPSW10K Curncy</instrument>
         <dataField type="string">Market_Value</dataField>
         <typeField type="string">OUTRIGHT</typeField>
      </P130M>
      <P195M type="message">
         <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
         <instrument type="string">BLOOMBERG_TICKER~MPSW16C Curncy</instrument>
         <dataField type="string">Market_Value</dataField>
         <typeField type="string">OUTRIGHT</typeField>
      </P195M>
      <P260M type="message">
         <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
         <instrument type="string">BLOOMBERG_TICKER~MPSW21H Curncy</instrument>
         <dataField type="string">Market_Value</dataField>
         <typeField type="string">OUTRIGHT</typeField>
      </P260M>
      <P390M type="message">
         <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
         <instrument type="string">BLOOMBERG_TICKER~MPSW32F Curncy</instrument>
         <dataField type="string">Market_Value</dataField>
         <typeField type="string">OUTRIGHT</typeField>
      </P390M>
   </swapIds>
   <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.curve.CurveNodeIdMapper</fudgeField0>
</fudgeEnvelope>
