<section>
  <div class="OG-details-content OG-config OG-grid">
    <div class="OG-c6 og-grid-last OG-max-width-l OG-form">
      <section class="OG-mod-0 og-mod-al OG-c3">
        <h3>Swap Tenors</h3>
        <div class="og-mod-content">
          <ul class="og-awesome-list og-js-strips">
            <li class="og-js-strip">
              <div class="og-del og-js-rem"></div>
              <div class="OG-clearFix og-strip"><input type="text" class="og-tenor" /></div>
            </li>
            <li class="og-js-strip">
              <div class="og-del og-js-rem"></div>
              <div class="OG-clearFix og-strip"><input type="text" class="og-tenor" /></div>
            </li>
            <li class="og-js-strip">
              <div class="og-del og-js-rem"></div>
              <div class="OG-clearFix og-strip"><input type="text" class="og-tenor" /></div>
            </li>
          </ul>
          <div class="og-footer">
            <span class="OG-link-add og-js-add">add row</span>
          </div>
        </div>
      </section>
      <section class="OG-mod-0 og-mod-al OG-c3">
        <h3>Option Expires</h3>
        <div class="og-mod-content">
          <ul class="og-awesome-list og-js-strips">
            <li class="og-js-strip">
              <div class="og-del og-js-rem"></div>
              <div class="OG-clearFix og-strip"><input type="text" class="og-tenor" /></div>
            </li>
            <li class="og-js-strip">
              <div class="og-del og-js-rem"></div>
              <div class="OG-clearFix og-strip"><input type="text" class="og-tenor" /></div>
            </li>
            <li class="og-js-strip">
              <div class="og-del og-js-rem"></div>
              <div class="OG-clearFix og-strip"><input type="text" class="og-tenor" /></div>
            </li>
          </ul>
          <div class="og-footer">
            <span class="OG-link-add og-js-add">add row</span>
          </div>
        </div>
      </section>
      <section class="OG-mod-0 OG-c3 og-mod-al og-grid-last">
        <h3>Relative Strikes</h3>
        <div class="og-mod-content">
          <ul class="og-awesome-list og-js-strips">
            <li class="og-js-strip">
              <div class="og-del og-js-rem"></div>
              <div class="OG-clearFix og-strip"><input type="text" class="og-tenor" /></div>
            </li>
            <li class="og-js-strip">
              <div class="og-del og-js-rem"></div>
              <div class="OG-clearFix og-strip"><input type="text" class="og-tenor" /></div>
            </li>
            <li class="og-js-strip">
              <div class="og-del og-js-rem"></div>
              <div class="OG-clearFix og-strip"><input type="text" class="og-tenor" /></div>
            </li>
            <li class="og-js-strip">
              <div class="og-del og-js-rem"></div>
              <div class="OG-clearFix og-strip"><input type="text" class="og-tenor" /></div>
            </li>
            <li class="og-js-strip">
              <div class="og-del og-js-rem"></div>
              <div class="OG-clearFix og-strip"><input type="text" class="og-tenor" /></div>
            </li>
          </ul>
          <div class="og-footer">
            <span class="OG-link-add og-js-add">add row</span>
          </div>
        </div>
      </section>
      <section class="OG-mod-0">
        <button type="submit" value="save" class="OG-small-button og-js-submit">Save</button>
        <button type="submit" value="save_as_new" class="OG-small-button og-js-submit">Save As New</button>
      </section>
    </div>
  </div>
</section>