<section style="width: 800px">
  <div class="OG-details-content OG-config OG-grid OG-form">
    <section>
      <table class="OG-table">
        <thead>
          <tr>
            <th><span>Main</span></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <label>
                <span>Name</span>
                <input name="name" type="text" style="width: 50%" />
              </label>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
    <section>
      <table class="OG-table">
        <thead>
          <tr>
            <th><span>Curve Instrument Provider</span></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <label>
                <span>Class</span>
                <input type="text" value="com.opengamma.financial.analytics.volatility.surface.BloombergSwaptionVolatilitySurfaceInstrumentProvider" style="width: 50%" />
              </label>
            </td>
          </tr>
          <tr>
            <td>
              <label>
                <span>Prefix</span>
                <input name="name" type="text" style="width: 50%" />
              </label>
            </td>
          </tr>
          <tr>
            <td>
              <label>
                <span>Name</span>
                <input name="name" type="text" style="width: 50%" />
              </label>
            </td>
          </tr>
          <tr>
            <td>
              <label>
                <span>Postfix</span>
                <input name="name" type="text" style="width: 50%" />
              </label>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
</section>