<section>
  <div class="OG-details-content OG-config OG-grid og-vol-surf-def">
    <div class="OG-c8 og-grid-last OG-max-width-l OG-form og-vol-surf-def">
      <section class="OG-mod-0 OG-c6 og-grid-last og-main">
        <h3>Main</h3>
        <div class="og-mod-content">
          <label>
            <span>Name</span>
            <span><input name="name" type="text" style="width: 60%" /></span>
          </label>
          <label>
            <span>Target</span>
            <span><input name="name" type="text" style="width: 60%" /></span>
          </label>
        </div>
      </section>
      <section class="OG-mod-0 og-mod-al OG-c4">
        <h3>
          <span>X</span>
          <select>
            <option>FX Vol Quote</option>
          </select>
        </h3>
        <div class="og-mod-content">
          <header>
            <span class="og-type">Type</span><span class="og-distance">Distance</span>
          </header>
          <ul class="og-awesome-list og-js-strips">
            <li class="og-js-strip">
              <div class="og-del og-js-rem"></div>
              <div class="OG-clearFix og-strip">
                <select class="og-type"><option>FX Vol Quote</option></select><input type="text" class="og-distance" />
              </div>
            </li>
            <li class="og-js-strip">
              <div class="og-del og-js-rem"></div>
              <div class="OG-clearFix og-strip">
                <select class="og-type"><option>FX Vol Quote</option></select><input type="text" class="og-distance" />
              </div>
            </li>
            <li class="og-js-strip">
              <div class="og-del og-js-rem"></div>
              <div class="OG-clearFix og-strip">
                <select class="og-type"><option>FX Vol Quote</option></select><input type="text" class="og-distance" />
              </div>
            </li>
          </ul>
          <div class="og-footer">
            <span class="OG-link-add og-js-add">add row</span>
          </div>
        </div>
      </section>
      <section class="OG-mod-0 og-mod-al OG-c4 og-grid-last">
        <h3>
          <span>Y</span>
          <select>
            <option>Tenor</option>
          </select>
        </h3>
        <div class="og-mod-content">
          <header>
            <span class="og-tenor">Tenor</span>
          </header>
          <ul class="og-awesome-list og-js-strips">
            <li class="og-js-strip">
              <div class="og-del og-js-rem"></div>
              <div class="OG-clearFix og-strip"><input type="text" class="og-tenor" /></div>
            </li>
            <li class="og-js-strip">
              <div class="og-del og-js-rem"></div>
              <div class="OG-clearFix og-strip"><input type="text" class="og-tenor" /></div>
            </li>
            <li class="og-js-strip">
              <div class="og-del og-js-rem"></div>
              <div class="OG-clearFix og-strip"><input type="text" class="og-tenor" /></div>
            </li>
          </ul>
          <div class="og-footer">
            <span class="OG-link-add og-js-add">add row</span>
          </div>
        </div>
      </section>
      <section class="OG-mod-0">
        <button type="submit" value="save" class="OG-small-button og-js-submit">Save</button>
        <button type="submit" value="save_as_new" class="OG-small-button og-js-submit">Save As New</button>
      </section>
    </div>
  </div>
</section>