<div class="OG-config">
  <div class="OG-warning-message"></div>
  <h1>
    <span data-og-editable="name">${name}</span>
  </h1>
  <div class="OG-field-box"></div>
  <div class="og-treeLines">
    <table class="OG-table-style-01">
    <thead>
      <tr>
        <td><strong>${type}</strong></td>
      </tr>
    </thead>
    <tfoot>
      <tr><td><button class="OG-small-button og-button-secondary og-js-save-config">save</button></td></tr>
    </tfoot>
    <tbody>
      <tr>
        <td><textarea data-og="config-data" style="width: 99%; min-height: 400px;">${configData}</textarea></td><!-- TEMP -->
      </tr>
    </tbody>
  </table>
  </div>
</div>