<div class="OG-toolbar"></div>
<header class="OG-header-generic">
  <h1>${name}</h1>
</header>
<div class="OG-details-container">
<div class="og-details-content OG-config">
  <div class="OG-c10 og-grid-last OG-max-width-l OG-form">
    <!--
      -- Main
      -->
    <section class="OG-mod-0 OG-c7 og-grid-last og-id-cur">
      <h3>Main</h3>
      <div class="og-mod-content">
        <label>
          <span>Name</span>
          <span><input type="text" /></span>
        </label>
        <label>
          <span>Currency</span>
          <span>
            <select name="currency">
              <option value="">Select</option>
              <option value="AED">AED - United Arab Emirates, Dirhams</option>
            </select>
          </span>
        </label>
        <label>
          <span>Region</span>
          <span>
            <select name="currency">
              <option value="">Select</option>
              <option value="AED">US - United States</option>
            </select>
          </span>
        </label>
      </div>
    </section>
    <!--
      -- Strip
      -->
    <section class="OG-mod-0 OG-c7 og-grid-last og-yc-strips">
      <h3>Strip</h3>
      <div class="og-mod-content">
        <div class="og-a-list-header">
          <span class="og-tenor">Tenor</span>
          <span class="og-type">Type</span>
          <span class="og-num">Num <small>(futures)</small></span>
          <span class="og-convention">Convention Name</span>
        </div>
        <ul class="og-awesome-list">
          <li>
            <div class="og-del"></div>
            <div class="OG-clearFix og-strip">
              <input type="text" class="og-tenor" />
              <select class="og-type"><option>Libor</option></select>
              <input class="og-num" type="text" />
              <select class="og-convention"><option>Default</option></select>
              <span class="OG-icon og-icon-table"></span>
            </div>
          </li>
          <li>
            <div class="og-del"></div>
            <div class="OG-clearFix og-strip">
              <input type="text" class="og-tenor" />
              <select class="og-type"><option>Libor</option></select>
              <input class="og-num" type="text" />
              <select class="og-convention"><option>Default</option></select>
              <span class="OG-icon og-icon-table"></span>
            </div>
          </li>
          <li>
            <div class="og-del"></div>
            <div class="OG-clearFix og-strip">
              <input type="text" class="og-tenor" />
              <select class="og-type"><option>Libor</option></select>
              <input class="og-num" type="text" />
              <select class="og-convention"><option>Default</option></select>
              <span class="OG-icon og-icon-table"></span>
            </div>
          </li>
          <li>
            <div class="og-del"></div>
            <div class="OG-clearFix og-strip">
              <input type="text" class="og-tenor" />
              <select class="og-type"><option>Libor</option></select>
              <input class="og-num" type="text" />
              <select class="og-convention"><option>Default</option></select>
              <span class="OG-icon og-icon-table"></span>
            </div>
          </li>
          <li>
            <div class="og-del"></div>
            <div class="OG-clearFix og-strip">
              <input type="text" class="og-tenor" />
              <select class="og-type"><option>Libor</option></select>
              <input class="og-num" type="text" />
              <select class="og-convention"><option>Default</option></select>
              <span class="OG-icon og-icon-table"></span>
            </div>
          </li>
          <li>
            <div class="og-del"></div>
            <div class="OG-clearFix og-strip">
              <input type="text" class="og-tenor" />
              <select class="og-type"><option>Libor</option></select>
              <input class="og-num" type="text" />
              <select class="og-convention"><option>Default</option></select>
              <span class="OG-icon og-icon-table"></span>
            </div>
          </li>
          <li>
            <div class="og-del"></div>
            <div class="OG-clearFix og-strip">
              <input type="text" class="og-tenor" />
              <select class="og-type"><option>Libor</option></select>
              <input class="og-num" type="text" />
              <select class="og-convention"><option>Default</option></select>
              <span class="OG-icon og-icon-table"></span>
            </div>
          </li>
          <li>
            <div class="og-del"></div>
            <div class="OG-clearFix og-strip">
              <input type="text" class="og-tenor" />
              <select class="og-type"><option>Libor</option></select>
              <input class="og-num" type="text" />
              <select class="og-convention"><option>Default</option></select>
              <span class="OG-icon og-icon-table"></span>
            </div>
          </li>
          <li>
            <div class="og-del"></div>
            <div class="OG-clearFix og-strip">
              <input type="text" class="og-tenor" />
              <select class="og-type"><option>Libor</option></select>
              <input class="og-num" type="text" />
              <select class="og-convention"><option>Default</option></select>
              <span class="OG-icon og-icon-table"></span>
            </div>
          </li>
          <li>
            <div class="og-del"></div>
            <div class="OG-clearFix og-strip">
              <input type="text" class="og-tenor" />
              <select class="og-type"><option>Libor</option></select>
              <input class="og-num" type="text" />
              <select class="og-convention"><option>Default</option></select>
              <span class="OG-icon og-icon-table"></span>
            </div>
          </li>
          <li>
            <div class="og-del"></div>
            <div class="OG-clearFix og-strip">
              <input type="text" class="og-tenor" />
              <select class="og-type"><option>Libor</option></select>
              <input class="og-num" type="text" />
              <select class="og-convention"><option>Default</option></select>
              <span class="OG-icon og-icon-table"></span>
            </div>
          </li>
          <li>
            <div class="og-del"></div>
            <div class="OG-clearFix og-strip">
              <input type="text" class="og-tenor" />
              <select class="og-type"><option>Libor</option></select>
              <input class="og-num" type="text" />
              <select class="og-convention"><option>Default</option></select>
              <span class="OG-icon og-icon-table"></span>
            </div>
          </li>
        </ul>
        <div class="og-footer">
          <span class="OG-link-add">add row</span>
        </div>
      </div>
    </section>
    <section class="OG-mod-0">
      <button type="submit">Save</button>
    </section>
  </div>
</div>
</div>