*~
foo~
*.class
*.log
.project
.classpath
.checkstyle
/bin/
/build/
/data/
/dist/
/target/
/lib/
/ivy/
/temp/
tests/classes/
tests/output/
!src/com/opengamma/util/db/
!tests/unit/com/opengamma/util/db/
/MANIFEST.MF
.clover/
build.number
.settings/
install/db
*.iml
