*~
foo~
*.class
*.log
.project
.classpath
.checkstyle
/bin/
/build/
/dist/
/target/
/lib/
/ivy/
/temp/
docs/javadoc/
tests/classes/
tests/output/
!web/*
/*.DS_Store
/MANIFEST.MF
.clover/
build.number
.settings
test-output/
*.iws
*.ids
*.iml
