<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/OG Integration/src/com/opengamma/integration/viewer/LocalEngineViewerLauncher.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.opengamma.integration.viewer.LocalEngineViewerLauncher"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="OG Integration"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-ea -Dlogback.configurationFile=com/opengamma/util/test/warn-logback.xml -Xmx2048m"/>
</launchConfiguration>
