<div class="OG-details-container">
<div class="OG-details-content OG-config">
  <section class="OG-form">
    <!-- curve specification builder -->
    <section class="OG-mod-0 og-grid-last og-csb og-js-section">
      <div class="og-mod-content">
        <label>
          <span>Name</span>
          <span><input name="name" value="${name}" type="text" /></span>
        </label>
      </div>
    </section>
    <section class="OG-mod-0 og-grid-last og-csb og-js-section">
      <h3>
        {{html item_0}}
      </h3>
      <div class="og-mod-content og-js-holder" style="position: relative;">
        {{html item_1}}
        <div class="og-footer">
          <span class="OG-link-add og-js-add">add row</span>
        </div>
      </div>
    </section>
  </section>
</div>
</div>