<section>
  <div class="OG-details-content OG-config OG-grid">
    <div class="OG-c10 og-grid-last OG-max-width-l OG-form">
    {{html item_0}}<!-- view definition currency and identifier -->
    {{html item_1}}<!-- result model definition -->
    {{html item_2}}<!-- execution parameters -->
    {{html item_3}}<!-- user information -->
    <section class="OG-mod-0 OG-c10 og-grid-last og-column-sets og-js-colsets">
      <div>
        <h3>Column Sets</h3>
        <p>
          A list of named <em>column sets</em>. These allow the same analytics to be computed using different settings and
          viewed side by side at the same time.
        </p>
        {{html item_4}}<!-- column set tabs -->
    </div>
    {{html item_5}}<!-- column sets -->
  </section>
  </div>
</section>
