<select name="{{#if name}}{{name}}{{else}}currency{{/if}}">
  <option value="">Select a Currency</option>
  <optgroup label="Most Popular">
    <option value="CNY">CNY - China, Yuan</option>
    <option value="EUR">EUR - Euro</option>
    <option value="GBP">GBP - United Kingdom, Pounds</option>
    <option value="JPY">JPY - Japan, Yen</option>
    <option value="USD">USD - United States of America, Dollars</option>
  </optgroup>
  <optgroup label="Active Currencies">
    <option value="AED">AED - United Arab Emirates, Dirhams</option>
    <option value="AFN">AFN - Afghanistan, Afghanis</option>
    <option value="ALL">ALL - Albania, Leke</option>
    <option value="AMD">AMD - Armenia, Drams</option>
    <option value="ANG">ANG - Netherlands Antilles, Guilders</option>
    <option value="AOA">AOA - Angola, Kwanza</option>
    <option value="ARS">ARS - Argentina, Pesos</option>
    <option value="AUD">AUD - Australia, Dollars</option>
    <option value="AWG">AWG - Aruba, Guilders</option>
    <option value="AZN">AZN - Azerbaijan, New Manats</option>
    <option value="BAM">BAM - Bosnia and Herzegovina, Convertible Marka</option>
    <option value="BBD">BBD - Barbados, Dollars</option>
    <option value="BDT">BDT - Bangladesh, Taka</option>
    <option value="BGN">BGN - Bulgaria, Leva</option>
    <option value="BHD">BHD - Bahrain, Dinars</option>
    <option value="BIF">BIF - Burundi, Francs</option>
    <option value="BMD">BMD - Bermuda, Dollars</option>
    <option value="BND">BND - Brunei Darussalam, Dollars</option>
    <option value="BOB">BOB - Bolivia, Bolivianos</option>
    <option value="BRL">BRL - Brazil, Brazil Real</option>
    <option value="BSD">BSD - Bahamas, Dollars</option>
    <option value="BTN">BTN - Bhutan, Ngultrum</option>
    <option value="BWP">BWP - Botswana, Pulas</option>
    <option value="BYR">BYR - Belarus, Rubles</option>
    <option value="BZD">BZD - Belize, Dollars</option>
    <option value="CAD">CAD - Canada, Dollars</option>
    <option value="CDF">CDF - Congo, Congolese Francs</option>
    <option value="CHF">CHF - Switzerland, Francs</option>
    <option value="CLP">CLP - Chile, Pesos</option>
    <option value="CNH">CNH - China, Renmibi</option>
    <option value="CNY">CNY - China, Yuan</option>
    <option value="COP">COP - Colombia, Pesos</option>
    <option value="CRC">CRC - Costa Rica, Colones</option>
    <option value="CUP">CUP - Cuban peso</option>
    <option value="CVE">CVE - Cape Verde, Escudos</option>
    <option value="CYP">CYP - Cyprus, Pounds</option>
    <option value="CZK">CZK - Czech Republic, Koruny</option>
    <option value="DJF">DJF - Djibouti, Francs</option>
    <option value="DKK">DKK - Denmark, Kroner</option>
    <option value="DOP">DOP - Dominican Republic, Pesos</option>
    <option value="DZD">DZD - Algeria, Algeria Dinars</option>
    <option value="EEK">EEK - Estonian kroon</option>
    <option value="EGP">EGP - Egypt, Pounds</option>
    <option value="ERN">ERN - Eritrea, Nakfa</option>
    <option value="ETB">ETB - Ethiopia, Birr</option>
    <option value="EUR">EUR - Euro</option>
    <option value="FJD">FJD - Fiji, Dollars</option>
    <option value="FKP">FKP - Falkland Islands, Pounds</option>
    <option value="GBP">GBP - United Kingdom, Pounds</option>
    <option value="GEL">GEL - Georgia, Lari</option>
    <option value="GGP">GGP - Guernsey, Pounds</option>
    <option value="GHS">GHS - Ghana, Cedis</option>
    <option value="GIP">GIP - Gibraltar, Pounds</option>
    <option value="GMD">GMD - Gambia, Dalasi</option>
    <option value="GNF">GNF - Guinea, Francs</option>
    <option value="GTQ">GTQ - Guatemala, Quetzales</option>
    <option value="GYD">GYD - Guyana, Dollars</option>
    <option value="HKD">HKD - Hong Kong, Dollars</option>
    <option value="HNL">HNL - Honduras, Lempiras</option>
    <option value="HRK">HRK - Croatia, Kuna</option>
    <option value="HTG">HTG - Haiti, Gourdes</option>
    <option value="HUF">HUF - Hungary, Forint</option>
    <option value="IDR">IDR - Indonesia, Rupiahs</option>
    <option value="ILS">ILS - Israel, New Shekels</option>
    <option value="IMP">IMP - Isle of Man, Pounds</option>
    <option value="INR">INR - India, Rupees</option>
    <option value="IQD">IQD - Iraq, Dinars</option>
    <option value="IRR">IRR - Iran, Rials</option>
    <option value="ISK">ISK - Iceland, Kronur</option>
    <option value="JEP">JEP - Jersey, Pounds</option>
    <option value="JMD">JMD - Jamaica, Dollars</option>
    <option value="JOD">JOD - Jordan, Dinars</option>
    <option value="JPY">JPY - Japan, Yen</option>
    <option value="KES">KES - Kenya, Shillings</option>
    <option value="KGS">KGS - Kyrgyzstan, Soms</option>
    <option value="KHR">KHR - Cambodia, Riels</option>
    <option value="KMF">KMF - Comoros, Francs</option>
    <option value="KPW">KPW - North Korea, Won</option>
    <option value="KRW">KRW - South Korea, Won</option>
    <option value="KWD">KWD - Kuwait, Dinars</option>
    <option value="KYD">KYD - Cayman Islands, Dollars</option>
    <option value="KZT">KZT - Kazakhstan, Tenge</option>
    <option value="LAK">LAK - Laos, Kips</option>
    <option value="LBP">LBP - Lebanon, Pounds</option>
    <option value="LKR">LKR - Sri Lanka, Rupees</option>
    <option value="LRD">LRD - Liberia, Dollars</option>
    <option value="LSL">LSL - Lesotho, Maloti</option>
    <option value="LTL">LTL - Lithuania, Litai</option>
    <option value="LVL">LVL - Latvia, Lati</option>
    <option value="LYD">LYD - Libya, Dinars</option>
    <option value="MAD">MAD - Morocco, Dirhams</option>
    <option value="MDL">MDL - Moldova, Lei</option>
    <option value="MGA">MGA - Madagascar, Ariary</option>
    <option value="MKD">MKD - Macedonia, Denars</option>
    <option value="MMK">MMK - Myanmar, Kyats</option>
    <option value="MNT">MNT - Mongolia, Tugriks</option>
    <option value="MOP">MOP - Macau, Patacas</option>
    <option value="MRO">MRO - Mauritania, Ouguiyas</option>
    <option value="MTL">MTL - Malta, Liri</option>
    <option value="MUR">MUR - Mauritius, Rupees</option>
    <option value="MVR">MVR - Maldives, Rufiyaa</option>
    <option value="MWK">MWK - Malawi, Kwachas</option>
    <option value="MXN">MXN - Mexico, Pesos</option>
    <option value="MYR">MYR - Malaysia, Ringgits</option>
    <option value="MZM">MZM - Mozambique, Meticais</option>
    <option value="NAD">NAD - Namibia, Dollars</option>
    <option value="NGN">NGN - Nigeria, Nairas</option>
    <option value="NIO">NIO - Nicaragua, Cordobas</option>
    <option value="NOK">NOK - Norway, Krone</option>
    <option value="NPR">NPR - Nepal, Nepal Rupees</option>
    <option value="NZD">NZD - New Zealand, Dollars</option>
    <option value="OMR">OMR - Oman, Rials</option>
    <option value="PAB">PAB - Panama, Balboa</option>
    <option value="PEN">PEN - Peru, Nuevos Soles</option>
    <option value="PGK">PGK - Papua New Guinea, Kina</option>
    <option value="PHP">PHP - Philippines, Pesos</option>
    <option value="PKR">PKR - Pakistan, Rupees</option>
    <option value="PLN">PLN - Poland, Zlotych</option>
    <option value="PYG">PYG - Paraguay, Guarani</option>
    <option value="QAR">QAR - Qatar, Rials</option>
    <option value="RON">RON - Romania, New Lei</option>
    <option value="RSD">RSD - Serbia, Dinars</option>
    <option value="RUB">RUB - Russia, Rubles</option>
    <option value="RWF">RWF - Rwanda, Rwanda Francs</option>
    <option value="SAR">SAR - Saudi Arabia, Riyals</option>
    <option value="SBD">SBD - Solomon Islands, Dollars</option>
    <option value="SCR">SCR - Seychelles, Rupees</option>
    <option value="SDG">SDG - Sudan, Pounds</option>
    <option value="SEK">SEK - Sweden, Kronor</option>
    <option value="SGD">SGD - Singapore, Dollars</option>
    <option value="SHP">SHP - Saint Helena, Pounds</option>
    <option value="SKK">SKK - Slovak koruna</option>
    <option value="SLL">SLL - Sierra Leone, Leones</option>
    <option value="SOS">SOS - Somalia, Shillings</option>
    <option value="SRD">SRD - Suriname, Dollars</option>
    <option value="STD">STD - São Tome and Principe, Dobras</option>
    <option value="SYP">SYP - Syria, Pounds</option>
    <option value="SZL">SZL - Swaziland, Emalangeni</option>
    <option value="THB">THB - Thailand, Baht</option>
    <option value="TJS">TJS - Tajikistan, Somoni</option>
    <option value="TMM">TMM - Turkmenistan, Manats</option>
    <option value="TND">TND - Tunisia, Dinars</option>
    <option value="TOP">TOP - Tonga, Pa'anga</option>
    <option value="TRY">TRY - Turkey, New Lira</option>
    <option value="TTD">TTD - Trinidad and Tobago, Dollars</option>
    <option value="TWD">TWD - Taiwan, New Dollars</option>
    <option value="TZS">TZS - Tanzania, Shillings</option>
    <option value="UAH">UAH - Ukraine, Hryvnia</option>
    <option value="UGX">UGX - Uganda, Shillings</option>
    <option value="USD">USD - United States of America, Dollars</option>
    <option value="UYU">UYU - Uruguay, Pesos</option>
    <option value="UZS">UZS - Uzbekistan, Sums</option>
    <option value="VEB">VEB - Venezuela, Bolivares</option>
    <option value="VND">VND - Viet Nam, Dong</option>
    <option value="VUV">VUV - Vanuatu, Vatu</option>
    <option value="WST">WST - Samoa, Tala</option>
    <option value="XAF">XAF - Communauté Financière Africaine BEAC, Francs</option>
    <option value="XCD">XCD - East Caribbean Dollars</option>
    <option value="XDR">XDR - IMF Special Drawing Rights</option>
    <option value="XOF">XOF - Communauté Financière Africaine BCEAO, Francs</option>
    <option value="XPF">XPF - Comptoirs Français du Pacifique Francs</option>
    <option value="YER">YER - Yemen, Rials</option>
    <option value="ZAR">ZAR - South Africa, Rand</option>
    <option value="ZMK">ZMK - Zambia, Kwacha</option>
  </optgroup>
  <optgroup label="Inactive Currencies">
    <option value="ADF">ADF - Andorran franc</option>
    <option value="ADP">ADP - Andorran peseta</option>
    <option value="ATS">ATS - Austrian schilling</option>
    <option value="AHK">AHK - Austro-Hungarian krone</option>
    <option value="BEF">BEF - Belgian franc</option>
    <option value="CYP">CYP - Cypriot pound</option>
    <option value="DEM">DEM - German mark</option>
    <option value="EEK">EEK - Estonian kroon</option>
    <option value="ESP">ESP - Spanish peseta</option>
    <option value="FIM">FIM - Finnish markka</option>
    <option value="FRF">FRF - French franc</option>
    <option value="GRD">GRD - Greek drachma</option>
    <option value="GGK">GGK - German gold mark</option>
    <option value="GPM">GPM - German Papiermark</option>
    <option value="IEP">IEP - Irish pound</option>
    <option value="ITL">ITL - Italian lira</option>
    <option value="LUF">LUF - Luxembourg franc</option>
    <option value="MCF">MCF - Monegasque franc</option>
    <option value="MAF">MAF - Moroccan franc</option>
    <option value="MTL">MTL - Maltese lira</option>
    <option value="NLG">NLG - Netherlands guilder</option>
    <option value="PTE">PTE - Portuguese escudo</option>
    <option value="SIT">SIT - Slovenian tolar</option>
    <option value="SKK">SKK - Slovak koruna</option>
    <option value="SML">SML - San Marinese lira</option>
    <option value="VAL">VAL - Vatican lira</option>
    <option value="XEU">XEU - European Currency Unit</option>
    <option value="AFA">AFA - Afghan afghani</option>
    <option value="AON">AON - Angolan kwanza</option>
    <option value="AOR">AOR - Angolan kwanza</option>
    <option value="ARL">ARL - Argentine peso ley</option>
    <option value="ARP">ARP - Argentine peso argentino</option>
    <option value="ARA">ARA - Argentine austral</option>
    <option value="AZM">AZM - Azerbaijani manat</option>
    <option value="BGL">BGL - Bulgarian lev</option>
    <option value="BOP">BOP - Bolivian peso</option>
    <option value="BRB">BRB - Brazilian cruzeiro</option>
    <option value="BRC">BRC - Brazilian cruzado</option>
    <option value="BRE">BRE - Brazilian cruzeiro</option>
    <option value="BRN">BRN - Brazilian cruzado novo</option>
    <option value="BRR">BRR - Brazilian cruzeiro real</option>
    <option value="CLE">CLE - Chilean escudo</option>
    <option value="CSD">CSD - Serbian dinar</option>
    <option value="CSK">CSK - Czechoslovak koruna</option>
    <option value="DDM">DDM - East German Mark</option>
    <option value="ECS">ECS - Ecuadorian sucre</option>
    <option value="ECV">ECV - Ecuador (Unidad de Valor Constante)</option>
    <option value="GQE">GQE - Equatorial Guinean ekwele</option>
    <option value="ESA">ESA - Spanish peseta (account A)</option>
    <option value="ESB">ESB - Spanish peseta (account B)</option>
    <option value="GNE">GNE - Guinean syli</option>
    <option value="GHC">GHC - Ghanaian cedi</option>
    <option value="GWP">GWP - Guinea-Bissau peso</option>
    <option value="ILP">ILP - Israeli lira</option>
    <option value="ILR">ILR - Old Israeli shekel</option>
    <option value="ISJ">ISJ - Icelandic old krona</option>
    <option value="LAJ">LAJ - Lao kip</option>
    <option value="MGF">MGF - Malagasy franc</option>
    <option value="MKN">MKN - Macedonian denar</option>
    <option value="MLF">MLF - Malian franc</option>
    <option value="MVQ">MVQ - Maldivian rupee</option>
    <option value="MXP">MXP - Mexican peso</option>
    <option value="MZM">MZM - Mozambican metical</option>
    <option value="NFD">NFD - Newfoundland dollar</option>
    <option value="PEH">PEH - Peruvian sol</option>
    <option value="PEI">PEI - Peruvian inti</option>
    <option value="PLZ">PLZ - Polish zloty</option>
    <option value="ROL">ROL - Romanian leu</option>
    <option value="RUR">RUR - Russian rouble</option>
    <option value="SDD">SDD - Sudanese dinar</option>
    <option value="SDP">SDP - Sudanese pound</option>
    <option value="SRG">SRG - Surinamese guilder</option>
    <option value="SUR">SUR - Soviet rouble</option>
    <option value="SVC">SVC - Salvadoran colón</option>
    <option value="TJR">TJR - Tajikistani ruble</option>
    <option value="TMM">TMM - Turkmenistani manat</option>
    <option value="TRL">TRL - Turkish lira</option>
    <option value="UAK">UAK - Ukrainian karbovanets</option>
    <option value="UGS">UGS - Ugandan shilling</option>
    <option value="UYN">UYN - Uruguay old peso</option>
    <option value="VEB">VEB - Venezuelan bolívar</option>
    <option value="XFO">XFO - Gold franc</option>
    <option value="YDD">YDD - South Yemeni dinar</option>
    <option value="YUD">YUD - Yugoslav dinar</option>
    <option value="YUN">YUN - Yugoslav dinar</option>
    <option value="YUR">YUR - Yugoslav dinar</option>
    <option value="YUO">YUO - Yugoslav dinar</option>
    <option value="YUG">YUG - Yugoslav dinar</option>
    <option value="YUM">YUM - Yugoslav dinar</option>
    <option value="ZAL">ZAL - South African financial rand</option>
    <option value="ZRN">ZRN - Zaïrean new zaïre</option>
    <option value="ZRZ">ZRZ - Zaïrean zaïre</option>
    <option value="ZWC">ZWC - Rhodesian dollar</option>
    <option value="ZWD">ZWD - Zimbabwean dollar</option>
    <option value="ZWN">ZWN - Zimbabwean dollar</option>
    <option value="ZWR">ZWR - Zimbabwean dollar</option>
  </optgroup>
</select>