<div class="OG-details-container">
<div class="og-details-content OG-config">
  <div class="OG-c10 og-grid-last OG-form">
    <!-- curve specification builder -->
    <section class="OG-mod-0 og-grid-last og-csb">
      <div class="og-mod-content">
        <label>
          <span>Name</span>
          <span><input name="name" value="${name}" type="text" /></span>
        </label>
      </div>
    </section>
    <section class="OG-mod-0 og-grid-last og-csb">
      <h3>
        <div class="og-a-list-header og-strip">
          <div>Tenor</div>
          <div>Rate</div>
          <div>Cash</div>
          <div>Swap</div>
          <div>Future</div>
          <div>OIS</div>
          <div>FRA</div>
          <div>Tenor Swap</div>
          <div>Basis Swap</div>
        </div>
      </h3>
      <div class="og-mod-content og-js-holder" style="position: relative;">
        {{html item_0}}
        <div class="og-footer">
          <span class="OG-link-add og-js-add">add row</span>
        </div>
      </div>
    </section>
    <section class="OG-mod-0">
      <button type="submit">Save</button>
    </section>
  </div>
</div>
</div>