<div class="OG-form">
  <br />
  <div>
    <label>Name <input name="name" value="${name}" type="text" class="og-c6" /></label>
  </div>
  {{html item_0}}<!-- view definition currency and identifier -->
  {{html item_1}}<!-- result model definition -->
  {{html item_2}}<!-- execution parameters -->
  <section>
    <div>
      <h2>Column Sets</h2>
      <small>
        A list of named column sets. These allow the same analytics to be computed using different settings and
        viewed side by side at the same time
      </small>
      {{html item_3}}<!-- column set names -->
    </div>
    <div class="OG-form-column-sets og-js-colsets">
      {{html item_4}}<!-- column sets -->
      <br /><br />
    </div>
  </section>
  <div class="og-confirm">
    <div>
      <button class="OG-small-button og-button-secondary">Cancel</button>
      <button class="OG-small-button">Save</button>
      <button class="OG-small-button">Delete</button>
    </div>
  </div>
</div>