<section>
  <div class="OG-details-content OG-config OG-grid OG-js-details-panel">
    <section>
      <div class="og-treeLines">
        <form action=".">
        <table class="OG-table-style-01">
          <thead>
            <tr>
              <td><strong>${type}</strong></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <label>Name <input type="text" name="name" value="${name}" /></label>
              </td>
            </tr>
            <tr>
              <td>
                <textarea data-og="config-data" name="raw" style="width: 99%; min-height: 425px;">${raw}</textarea>
              </td>
            </tr>
          </tbody>
        </table>
        </form>
      </div>
    </section>
  </div>
</section>