<section style="width: 800px">
  <div class="OG-details-content OG-config OG-grid OG-form">
    <section>
      <table class="OG-table">
        <thead>
          <tr><th><span>Name</span></th></tr>
        </thead>
        <tbody>
          <tr><td><span><input name="name" value="${name}" type="text" /></span></td></tr>
        </tbody>
      </table>
    </section>
    <section>
      <section class="OG-mod-0 og-mod-al OG-c3" style="width: 33.3%">
        <h3><span>Swap Tenors</span></h3>
        <div class="og-mod-content og-js-holder">
          {{html item_0}}
          <div class="og-footer">
            <span class="OG-link-add og-js-add">add row</span>
          </div>
        </div>
      </section>
      <section class="OG-mod-0 og-mod-al OG-c3" style="width: 33.3%">
        <h3><span>Option Expiries</span></h3>
        <div class="og-mod-content og-js-holder">
          {{html item_1}}
          <div class="og-footer">
            <span class="OG-link-add og-js-add">add row</span>
          </div>
        </div>
      </section>
      <section class="OG-mod-0 og-mod-al OG-c3 og-grid-last" style="width: 33.3%">
        <h3><span>Relative Strikes</span></h3>
        <div class="og-mod-content og-js-holder">
          {{html item_2}}
          <div class="og-footer">
            <span class="OG-link-add og-js-add">add row</span>
          </div>
        </div>
      </section>
    </section>
  </div>
</section>