<div id="{{container}}" class="og-constraints OG-clearFix {{classes}}">
  <div>Constraints:</div>
  <ul id="{{widget}}" class="og-awesome-list">
    <li id="{{row_with}}" class="og-js-with og-js-row">
      <div class="og-del og-js-rem"></div>
      <div class="og-with">
        <label><input class="og-js-radio" value="with" type="radio" />with</label>
        <label><input class="og-js-radio" value="without" type="radio" />without</label>
        <input type="text" class="og-js-key" placeholder="type" />
        <span>=</span>
        <input type="text" class="og-js-value" placeholder="allow all" />
        <label><input type="checkbox" title="make this constraint optional" />optional</label>
      </div>
    </li>
    <li id="{{row_without}}" class="og-js-without og-js-row">
      <div class="og-del og-js-rem"></div>
      <div class="og-without">
        <label><input class="og-js-radio" value="with" type="radio" />with</label>
        <label><input class="og-js-radio" value="without" type="radio" />without</label>
        <input type="text" class="og-js-without-field og-js-key" placeholder="all" />
        <label><input type="checkbox" disabled="disabled" title="make this constraint optional" />optional</label>
      </div>
    </li>
  </ul>
  <div><span class="og-new-link og-js-add">add constraint</span></div>
</div>