<div class="OG-form">
  {{html item_0}}<!-- view definition main fields -->
  {{html item_1}}<!-- result model definition -->
  {{html item_2}}<!-- execution parameters -->
  <section>
    <div>
      <h2>Column Sets</h2>
      <small>
        A list of named column sets. These allow the same analytics to be computed using different settings and
        viewed side by side at the same time
      </small>
      {{html item_3}}<!-- tabs -->
    </div>
    <div class="OG-form-column-sets">
      {{html item_4}}<!-- column set name -->
      <ul>
        <li>
          <a>Column Values</a>
          {{html item_5}}<!-- column values -->
        </li>
        <li>
          <a>Additional Values</a>
          {{html item_6}}<!-- spesific requirments fields -->
          {{html item_7}}<!-- constraints -->
        </li>
        <li>
          <a>Default Constraints</a>
          <div>{{html item_8}}</div><!-- constraints -->
        </li>
        <li>
          <a>Resolution Rule Transform</a>
          {{html item_9}}<!-- resolution rule transform fields -->
          {{html item_10}}<!-- constraints -->
        </li>
      </ul>
    </div>
  </section>
  <div class="og-confirm">
    <div>
      <button class="OG-small-button og-button-secondary">Cancel</button>
      <button class="OG-small-button">Save</button>
      <button class="OG-small-button">Delete</button>
    </div>
  </div>
</div>