<div id="{{id}}" class="og-resolution-rule OG-clearFix">
  <label>
    Class:
    <input class="og-js-class" type="text" value="{{class_value}}" />
  </label>
  <ul class="og-awesome-list og-js-res-rule-holder">
    <li class="og-js-res-rule">
      <div class="og-del og-js-rem-rule"></div>
      <input type="text" class="og-rule og-js-key" value="" />
      <label>Priority: <input class="og-priority og-js-val" placeholder="null" type="text" /></label>
    </li>
  </ul>
  <div><span class="og-new-link og-js-add-rule">add rule transform</span></div>
</div>