<section>
  <div class="OG-details-content OG-config OG-grid OG-js-details-panel">
    <form action=".">
    <table class="OG-default-renderer">
      <thead>
        <tr>
          <td><strong>{{{type}}}</strong></td>
        </tr>
      </thead>
      <tbody>
        <tr class="og-name">
          <td>
            <label><span>Name</span><input type="text" name="name" value="{{name}}" /></label>
          </td>
        </tr>
        <tr class="og-textarea">
          <td>
            <textarea data-og="config-data" name="raw">{{{raw}}}</textarea>
            <div id="og-js-editor"></div>
          </td>
        </tr>
      </tbody>
    </table>
    </form>
  </div>
</section>