<section class="og-attributes">
  <div class="og-js-deal-attributes">
    <table class="OG-table">
    <thead>
      <tr>
        <th>
          <span><em>Attributes</em></span>
        </th>
      </tr>
    </thead>   
    <tbody>
      <tr>
        <td class="og-attribute-cell">        
          <input type="text" name="attr_key"> =
          <input type="text" name="attr_val">
          <a class="OG-link-add og-js-add-attribute" href="#">add</a>
        </td>
      </tr>
      <tr>
        <td>    
          <ul class="og-awesome-list og-attributes-add-list">
          </ul>
        </td>
      </tr>
    </tbody>
    </table> 
  </div>
</section>