<div class="og-js-spec og-sub-form og-lbl-top">
  ${name} <span class="OG-icon og-icon-remove og-js-rem-spec" title="delete this additional value"></span>
  <div>
    <label class="og-c4">
      Value
      <input name="${value}" class="og-c4" type="text" />
    </label>
  </div>
  <div>
    <label class="og-c4">
      Computation Target Type
      <select name="${type}">
        <option>Select...</option>
        <option value="PRIMITIVE">PRIMITIVE</option>
        <option value="SECURITY">SECURITY</option>
        <option value="TRADE">TRADE</option>
        <option value="POSITION">POSITION</option>
        <option value="PORTFOLIO_NODE">PORTFOLIO_NODE</option>
      </select>
    </label>
  </div>
  <div>
    <label class="og-c4">
      Computation Target Identifier
      <input name="${identifier}" class="og-c4" type="text" />
    </label>
  </div>
</div>