<div id="{{id}}" class="og-scenario OG-clearFix">
  <table width="100%">
    <tr>
      <td>
        <label>
          Scenario definition:<br/>
          <!--<input class="og-js-class" type="text" value="{{class_value}}" />-->
          {{{item_0}}}
        </label>
      </td>
      <td class="og-scenario-or">
        or
      </td>
      <td>
        <label>
          Scenario DSL Script:<br/>
          <!--<input class="og-js-class" type="text" value="{{class_value}}" />-->
          {{{item_1}}}
        </label>
      </td>
    </tr>
  </table>
</div>