<section>
  <div class="OG-details-content OG-config OG-grid">
    <div class="OG-c10 og-grid-last OG-max-width-l OG-form">
      <!--
        -- Main
        -->
      <section class="OG-mod-0 OG-c7 og-grid-last og-id-cur">
        <h3>Main</h3>
        <div class="og-mod-content">
          <label>
            <span>Name</span>
            <span><input type="text" name="name" value="${name}" /></span>
          </label>
          <label>
            <span>Currency</span>
            <span>{{html item_0}}</span>
          </label>
          <label>
            <span>Region</span>
            <span>
              {{html item_1}}
            </span>
          </label>
          <label>
            <span>Interpolator Name</span>
            <span><input type="text" name="interpolatorName" value="${interpolator}" /></span>
          </label>
        </div>
      </section>
      <!--
        -- Yield Curve Node
        -->
      <section class="OG-mod-0 OG-c7 og-grid-last og-yc-strips">
        <h3>Yield Curve Node</h3>
        <div class="og-mod-content">
          <div class="og-a-list-header">
            <span class="og-tenor">Tenor</span>
            <span class="og-type">Type</span>
            <span class="og-num">Num <small>(futures)</small></span>
            <span class="og-convention">Convention Name</span>
          </div>
          <!-- strips -->
          {{html item_2}}
          <div class="og-footer">
            <span class="OG-link-add og-js-add">add row</span>
          </div>
        </div>
      </section>
      <section class="OG-mod-0">
        <button type="submit" value="save" class="OG-small-button og-js-submit">Save</button>
        <button type="submit" value="save_as_new" class="OG-small-button og-js-submit">Save As New</button>
      </section>
    </div>
  </div>
</section>