<section>
  <div class="OG-details-content OG-config OG-grid">
    <div class="OG-c6 og-grid-last OG-max-width-l OG-form og-vol-cube-def">
      <section class="OG-mod-0 og-grid-last OG-c9">
        <div class="og-mod-content">
          <label>
            <span>Name</span>
            <span><input name="name" value="${name}" type="text" /></span>
          </label>
        </div>
      </section>
      <section class="OG-mod-0 og-mod-al OG-c3">
        <h3>Swap Tenors</h3>
        <div class="og-mod-content og-js-holder">
          {{html item_0}}
          <div class="og-footer">
            <span class="OG-link-add og-js-add">add row</span>
          </div>
        </div>
      </section>
      <section class="OG-mod-0 og-mod-al OG-c3">
        <h3>Option Expiries</h3>
        <div class="og-mod-content og-js-holder">
          {{html item_1}}
          <div class="og-footer">
            <span class="OG-link-add og-js-add">add row</span>
          </div>
        </div>
      </section>
      <section class="OG-mod-0 OG-c3 og-mod-al og-grid-last">
        <h3>Relative Strikes</h3>
        <div class="og-mod-content og-js-holder">
          {{html item_2}}
          <div class="og-footer">
            <span class="OG-link-add og-js-add">add row</span>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>