<ul>
  <li>
    <div>
      - Security Type
      <select name="type">
        <option value="" selected="">Select</option>
        <option value="BOND">Bond</option>
        <option value="CASH">Cash</option>
        <option value="EQUITY">Equity</option>
        <option value="FRA">FRA</option>
        <option value="FUTURE">Future</option>
        <option value="EQUITY_OPTION">Option</option>
        <option value="SWAP">Swap</option>
      </select>
    </div>
    <span class="OG-icon og-icon-remove">delete</span>
    <ul class="og-portfolio-requirements">
      <li>
        <div>- Portfolio Requirement 1</div>
        <span class="OG-icon og-icon-remove">delete</span>
        <div class="og-portfolio-requirement">
          <div class="og-required-output">
            <label for="">Required Output</label>
            <select name="">
              <option value="">Bond Coupon Payment</option>
            </select>
          </div>
          {{html item_0}}<!-- constraints -->
        </div>
      </li>
      <li>
        <span class="OG-icon og-icon-add">Add portfolio requirement</span>
      </li>
    </ul>
  </li>
  <li>
    <div>- Security Type <select name=""><option value="">Cash</option></select></div>
    <span class="OG-icon og-icon-remove">delete</span>
    <ul class="og-portfolio-requirements">
      <li>
        <div>- Portfolio Requirement 1</div>
        <span class="OG-icon og-icon-remove">delete</span>
      </li>
      <li>
        <div>- Portfolio Requirement 2</div>
        <span class="OG-icon og-icon-remove">delete</span>
      </li>
      <li><span class="OG-icon og-icon-add">Add portfolio requirement</span></li>
    </ul>
  </li>
  <li><span class="OG-icon og-icon-add">Add security type</span></li>
</ul>