<table class="og-resolution-rule-transform">
  <tr>
    <td>
      <select>
        <option>Dem-GLOBEOP Yield Curve</option>
      </select>
      <input type="text" />
      <td class="og-remove"><span class="OG-icon og-icon-remove"></span></td>
      <td class="og-add"><span class="OG-icon og-icon-add"></span></td>
    </td>
  </tr>
  <tr>
    <td>
      <select>
        <option>Dem-GLOBEOP Yield Curve</option>
      </select>
      <input type="text" />
      <td class="og-remove"><span class="OG-icon og-icon-remove"></span></td>
      <td class="og-add"><span class="OG-icon og-icon-add"></span></td>
    </td>
  </tr>
  <tr>
    <td>
      <select>
        <option>Dem-GLOBEOP Yield Curve</option>
      </select>
      <input type="text" />
      <td class="og-remove"><span class="OG-icon og-icon-remove"></span></td>
      <td class="og-add"><span class="OG-icon og-icon-add"></span></td>
    </td>
  </tr>
</table>


