<section class="OG-mod-0 OG-c6 og-grid-last og-ex-params">
  <h3>Execution Parameters</h3>
  <div class="og-mod-content">
    <table>
      <tr>
        <td class="og-c1">Minimum</td>
        <td>
          <label for="minDeltaCalcPeriod">
            <span class="og-c2"><input id="minDeltaCalcPeriod" name="minDeltaCalcPeriod" type="text" /></span>
          </label>
        </td>
        <td class="og-c1">Minimum full</td>
        <td>
          <label for="minFullCalcPeriod">
            <span class="og-c2"><input id="minFullCalcPeriod" name="minFullCalcPeriod" type="text" /></span>
          </label>
        </td>
      </tr>
      <tr>
        <td class="og-c1">Maximum</td>
        <td>
          <label for="maxDeltaCalcPeriod">
            <span class="og-c2"><input id="maxDeltaCalcPeriod" name="maxDeltaCalcPeriod" type="text" /></span>
          </label>
        </td>
        <td class="og-c1">Maximum full</td>
        <td>
          <label for="maxFullCalcPeriod">
            <span class="og-c2"><input id="maxFullCalcPeriod" name="maxFullCalcPeriod" type="text" /></span>
          </label>
        </td>
      </tr>
    </table>
  </div>
</section>
