<section>
  <div class="OG-details-content OG-config OG-grid OG-form">
      <!--
        -- Main
        -->
      <section class="OG-mod-0 OG-c7 og-id-cur">
        <h3>Main</h3>
        <div class="og-mod-content">
          <label>
            <span>Name</span>
            <span><input type="text" name="name" value="{{name}}" /></span>
          </label>
          <label>
            <span>Currency</span>
            <span>{{{item_0}}}</span>
          </label>
          <label>
            <span>Region</span>
            <span>
              {{{item_1}}}
            </span>
          </label>
          <label>
            <span>Interpolator Name</span>
            <span><input type="text" name="interpolatorName" value="{{interpolator}}" /></span>
          </label>
          <label>
            <span>
              Interpolate Yields
              <input type="checkbox" name="interpolateYields" {{interpolate}} />
            </span>
          </label>
          <label>
            <span>Left Extrapolator Name</span>
            <span><input type="text" name="leftExtrapolatorName" value="{{left}}" /></span>
          </label>
          <label>
            <span>Right Extrapolator Name</span>
            <span><input type="text" name="rightExtrapolatorName" value="{{right}}" /></span>
          </label>
        </div>
      </section>
      <!--
        -- Yield Curve Node
        -->
      <section class="OG-mod-0 OG-c7 og-yc-strips">
        <h3>Yield Curve Node</h3>
        <div class="og-mod-content">
          <div class="og-a-list-header">
            <span class="og-tenor">Tenor</span>
            <span class="og-type">Type</span>
            <span class="og-num">Num <small>(futures)</small></span>
            <span class="og-convention">Curve Specification Stub</span>
          </div>
          <!-- strips -->
          {{{item_2}}}
          <div class="og-footer">
            <span class="OG-link-add og-js-add">add row</span>
          </div>
        </div>
      </section>
  </div>
</section>