<section class="og-conf-form-main">
  <div class="og-sub-form og-lbl-top">
    <div>
      <label for="og-conf-form-identifier" class="og-c4">Identifier</label>
      <input id="og-conf-form-identifier" type="text" class="og-c4" />
    </div>
    <div>
      <label for="og-conf-form-currency" class="og-c4">Currency</label>
      <select id="og-conf-form-currency" name="" class="og-c4">
        <option value="">USD - United States Dollar</option>
        <option value="">GPB - Great Britain Pound</option>
        <option value="">EUR - Euro</option>
        <option value="">AUD - Austraian Dollar</option>
        <option value="">CAD - Canadian Dollar</option>
      </select>
    </div>
  </div>
</section>