<ul>
  <li>
    <div>
      - Security Type
      <select name="type">
        <option value="" selected="">Select</option>
        <option value="BOND">Bond</option>
        <option value="CASH">Cash</option>
        <option value="EQUITY">Equity</option>
        <option value="FRA">FRA</option>
        <option value="FUTURE">Future</option>
        <option value="EQUITY_OPTION">Option</option>
        <option value="SWAP">Swap</option>
      </select>
    </div>
    <span class="OG-icon og-icon-remove">delete</span>
    <ul class="og-portfolio-requirements">
      <li>
        <div>- Portfolio Requirement 1</div>
        <span class="OG-icon og-icon-remove">delete</span>
        <div class="og-portfolio-requirement">
          <div class="og-required-output">
            <label for="">Required Output</label>
            <select name="Select">
              <option value="Actual Repo">Actual Repo</option>
              <option value="Bond Coupon Payment Times">Bond Coupon Payment Times</option>
              <option value="Bond Tenor">Bond Tenor</option>
              <option value="CAPM Beta">CAPM Beta</option>
              <option value="CAPM Regression Adjusted R-Squared">CAPM Regression Adjusted R-Squared</option>
              <option value="CAPM Regression Alpha">CAPM Regression Alpha</option>
              <option value="CAPM Regression Alpha p-Values">CAPM Regression Alpha p-Values</option>
              <option value="CAPM Regression Alpha Residual">CAPM Regression Alpha Residual</option>
              <option value="CAPM Regression Alpha Standard Error">CAPM Regression Alpha Standard Error</option>
              <option value="CAPM Regression Alpha t-Stats">CAPM Regression Alpha t-Stats</option>
              <option value="CAPM Regression Beta">CAPM Regression Beta</option>
              <option value="CAPM Regression Beta p-Values">CAPM Regression Beta p-Values</option>
              <option value="CAPM Regression Beta Residual">CAPM Regression Beta Residual</option>
              <option value="CAPM Regression Beta Standard Error">CAPM Regression Beta Standard Error</option>
              <option value="CAPM Regression Beta t-Stats">CAPM Regression Beta t-Stats</option>
              <option value="CAPM Regression Mean Square Error">CAPM Regression Mean Square Error</option>
              <option value="CAPM Regression R-Squared">CAPM Regression R-Squared</option>
              <option value="CarryRho">CarryRho</option>
              <option value="Clean Price">Clean Price</option>
              <option value="Convertion Factor">Convertion Factor</option>
              <option value="Convexity">Convexity</option>
              <option value="Cost Of Carry">Cost Of Carry</option>
              <option value="Current Yield">Current Yield</option>
              <option value="Delta">Delta</option>
              <option value="DeltaBleed">DeltaBleed</option>
              <option value="Dirty Price">Dirty Price</option>
              <option value="DiscountCurve">DiscountCurve</option>
              <option value="DriftlessTheta">DriftlessTheta</option>
              <option value="dVanna_dVol">dVanna_dVol</option>
              <option value="dZeta_dVol">dZeta_dVol</option>
              <option value="Elasticity">Elasticity</option>
              <option value="FairValue">FairValue</option>
              <option value="Fisher Kurtosis">Fisher Kurtosis</option>
              <option value="Gamma">Gamma</option>
              <option value="GammaBleed">GammaBleed</option>
              <option value="GammaP">GammaP</option>
              <option value="GammaPBleed">GammaPBleed</option>
              <option value="Gross Basis">Gross Basis</option>
              <option value="HistoricalVaR">HistoricalVaR</option>
              <option value="Implied Repo">Implied Repo</option>
              <option value="Jensen's Alpha">Jensen's Alpha</option>
              <option value="Macaulay Duration">Macaulay Duration</option>
              <option value="Market Dirty Price">Market Dirty Price</option>
              <option value="Market Yield To Maturity">Market Yield To Maturity</option>
              <option value="Median">Median</option>
              <option value="Nelson-Siegel Bond Curve">Nelson-Siegel Bond Curve</option>
              <option value="Nelson-Siegel-Svennson Bond Curve">Nelson-Siegel-Svennson Bond Curve</option>
              <option value="Net Basis">Net Basis</option>
              <option value="P&L Series">P&L Series</option>
              <option value="Par Rate">Par Rate</option>
              <option value="Par Rate Parallel Shift Sensitivity">Par Rate Parallel Shift Sensitivity</option>
              <option value="ParametricVaR">ParametricVaR</option>
              <option value="Pearson Kurtosis">Pearson Kurtosis</option>
              <option value="Phi">Phi</option>
              <option value="PnL">PnL</option>
              <option value="PositionCarryRho">PositionCarryRho</option>
              <option value="PositionDelta">PositionDelta</option>
              <option value="PositionDeltaBleed">PositionDeltaBleed</option>
              <option value="PositionDriftlessTheta">PositionDriftlessTheta</option>
              <option value="PositiondVanna_dVol">PositiondVanna_dVol</option>
              <option value="PositiondZeta_dVol">PositiondZeta_dVol</option>
              <option value="PositionElasticity">PositionElasticity</option>
              <option value="PositionFairValue">PositionFairValue</option>
              <option value="PositionGamma">PositionGamma</option>
              <option value="PositionGammaBleed">PositionGammaBleed</option>
              <option value="PositionGammaP">PositionGammaP</option>
              <option value="PositionGammaPBleed">PositionGammaPBleed</option>
              <option value="PositionPhi">PositionPhi</option>
              <option value="PositionRho">PositionRho</option>
              <option value="PositionSpeed">PositionSpeed</option>
              <option value="PositionSpeedP">PositionSpeedP</option>
              <option value="PositionStrikeDelta">PositionStrikeDelta</option>
              <option value="PositionStrikeGamma">PositionStrikeGamma</option>
              <option value="PositionTheta">PositionTheta</option>
              <option value="PositionUltima">PositionUltima</option>
              <option value="PositionVanna">PositionVanna</option>
              <option value="PositionVarianceUltima">PositionVarianceUltima</option>
              <option value="PositionVarianceVanna">PositionVarianceVanna</option>
              <option value="PositionVarianceVega">PositionVarianceVega</option>
              <option value="PositionVarianceVomma">PositionVarianceVomma</option>
              <option value="PositionVega">PositionVega</option>
              <option value="PositionVegaBleed">PositionVegaBleed</option>
              <option value="PositionVegaP">PositionVegaP</option>
              <option value="PositionVomma">PositionVomma</option>
              <option value="PositionVommaP">PositionVommaP</option>
              <option value="PositionZeta">PositionZeta</option>
              <option value="PositionZetaBleed">PositionZetaBleed</option>
              <option value="PositionZomma">PositionZomma</option>
              <option value="PositionZommaP">PositionZommaP</option>
              <option value="Present Value">Present Value</option>
              <option value="Price Series">Price Series</option>
              <option value="PV01">PV01</option>
              <option value="Return Series">Return Series</option>
              <option value="Rho">Rho</option>
              <option value="Sharpe Ratio">Sharpe Ratio</option>
              <option value="Skew">Skew</option>
              <option value="Speed">Speed</option>
              <option value="SpeedP">SpeedP</option>
              <option value="StrikeDelta">StrikeDelta</option>
              <option value="StrikeGamma">StrikeGamma</option>
              <option value="Sum">Sum</option>
              <option value="Theta">Theta</option>
              <option value="Total Risk Alpha">Total Risk Alpha</option>
              <option value="Treynor Ratio">Treynor Ratio</option>
              <option value="Ultima">Ultima</option>
              <option value="Underlying Return Series">Underlying Return Series</option>
              <option value="ValueCarryRho">ValueCarryRho</option>
              <option value="ValueDelta">ValueDelta</option>
              <option value="ValueDeltaBleed">ValueDeltaBleed</option>
              <option value="ValueDriftlessTheta">ValueDriftlessTheta</option>
              <option value="ValuedVanna_dVol">ValuedVanna_dVol</option>
              <option value="ValuedZeta_dVol">ValuedZeta_dVol</option>
              <option value="ValueElasticity">ValueElasticity</option>
              <option value="ValueFairValue">ValueFairValue</option>
              <option value="ValueGamma">ValueGamma</option>
              <option value="ValueGammaBleed">ValueGammaBleed</option>
              <option value="ValueGammaP">ValueGammaP</option>
              <option value="ValueGammaPBleed">ValueGammaPBleed</option>
              <option value="ValuePhi">ValuePhi</option>
              <option value="ValueRho">ValueRho</option>
              <option value="ValueSpeed">ValueSpeed</option>
              <option value="ValueSpeedP">ValueSpeedP</option>
              <option value="ValueStrikeDelta">ValueStrikeDelta</option>
              <option value="ValueStrikeGamma">ValueStrikeGamma</option>
              <option value="ValueTheta">ValueTheta</option>
              <option value="ValueUltima">ValueUltima</option>
              <option value="ValueVanna">ValueVanna</option>
              <option value="ValueVarianceUltima">ValueVarianceUltima</option>
              <option value="ValueVarianceVanna">ValueVarianceVanna</option>
              <option value="ValueVarianceVega">ValueVarianceVega</option>
              <option value="ValueVarianceVomma">ValueVarianceVomma</option>
              <option value="ValueVega">ValueVega</option>
              <option value="ValueVegaBleed">ValueVegaBleed</option>
              <option value="ValueVegaP">ValueVegaP</option>
              <option value="ValueVomma">ValueVomma</option>
              <option value="ValueVommaP">ValueVommaP</option>
              <option value="ValueZeta">ValueZeta</option>
              <option value="ValueZetaBleed">ValueZetaBleed</option>
              <option value="ValueZomma">ValueZomma</option>
              <option value="ValueZommaP">ValueZommaP</option>
              <option value="Vanna">Vanna</option>
              <option value="VarianceUltima">VarianceUltima</option>
              <option value="VarianceVanna">VarianceVanna</option>
              <option value="VarianceVega">VarianceVega</option>
              <option value="VarianceVomma">VarianceVomma</option>
              <option value="Vega">Vega</option>
              <option value="VegaBleed">VegaBleed</option>
              <option value="VegaP">VegaP</option>
              <option value="VolatilitySurface">VolatilitySurface</option>
              <option value="VolatilitySurfaceData">VolatilitySurfaceData</option>
              <option value="Vomma">Vomma</option>
              <option value="VommaP">VommaP</option>
              <option value="Weight">Weight</option>
              <option value="Yield Curve Node Sensitivities">Yield Curve Node Sensitivities</option>
              <option value="Yield To Maturity">Yield To Maturity</option>
              <option value="YieldCurve">YieldCurve</option>
              <option value="YieldCurveJacobian">YieldCurveJacobian</option>
              <option value="YieldCurveMarketData">YieldCurveMarketData</option>
              <option value="YieldCurveSpec">YieldCurveSpec</option>
              <option value="Z Spread">Z Spread</option>
              <option value="Zeta">Zeta</option>
              <option value="ZetaBleed">ZetaBleed</option>
              <option value="Zomma">Zomma</option>
              <option value="ZommaP">ZommaP</option>
            </select>
          </div>
          {{html item_0}}<!-- constraints -->
        </div>
      </li>
      <li>
        <span class="OG-icon og-icon-add">Add portfolio requirement</span>
      </li>
    </ul>
  </li>
  <li>
    <div>- Security Type <select name=""><option value="">Cash</option></select></div>
    <span class="OG-icon og-icon-remove">delete</span>
    <ul class="og-portfolio-requirements">
      <li>
        <div>- Portfolio Requirement 1</div>
        <span class="OG-icon og-icon-remove">delete</span>
      </li>
      <li>
        <div>- Portfolio Requirement 2</div>
        <span class="OG-icon og-icon-remove">delete</span>
      </li>
      <li><span class="OG-icon og-icon-add">Add portfolio requirement</span></li>
    </ul>
  </li>
  <li><span class="OG-icon og-icon-add">Add security type</span></li>
</ul>