<style type="text/css">
  .OG-form .og-view-def-user label span:last-child {
    width: 70%;
  }

  .OG-form .og-view-def-user label input,
  .OG-form .og-view-def-user label select {
    width: 100%;
  }
</style>
<section class="OG-mod-0 og-grid-last og-view-def-user og-js-viewdef-3" style="display: none; height: 160px;">
  <div class="og-mod-content">
    <label>
      <span>User Name</span>
      <span><input name="user.userName" value="{{user}}" type="text" /></span>
    </label>
    <label>
      <span>IP Address</span>
      <span><input name="user.ipAddress" value="{{ip}}" type="text" /></span>
    </label>
  </div>
</section>