<section>
  <div class="OG-details-content OG-config OG-grid OG-form">
    {{{item_0}}}<!-- view definition currency and identifier -->
    {{{item_1}}}<!-- result model definition -->
    {{{item_2}}}<!-- execution parameters -->
    {{{item_3}}}<!-- user information -->
      <section class="OG-mod-0 OG-c10 og-grid-last og-column-sets og-js-colsets">
        <div>
          <h3>
            <div data-tooltip="2" data-tooltip-type="large">Column Sets</div>
          </h3>
          {{{item_4}}}<!-- column set tabs -->
        </div>
        {{{item_5}}}<!-- column sets -->
      </section>
  </div>
</section>
