<div class="og-sub-form og-lbl-top">
  <div>
    <label for="og-config-form-spesific-rec-value" class="og-c4">Value</label>
    <input id="og-config-form-spesific-rec-value" class="og-c4" type="text" />
  </div>
  <div>
    <label for="og-config-form-spesific-rec-target" class="og-c4">Computation Target Type</label>
    <input id="og-config-form-spesific-rec-target" class="og-c4" type="text" />
  </div>
  <div>
    <label for="og-config-form-spesific-rec-identifier" class="og-c4">Computation Target Identifier</label>
    <input id="og-config-form-spesific-rec-identifier" class="og-c4" type="text" />
  </div>
</div>