<li class="og-js-strip">
  <div class="og-del og-js-rem"></div>
  <div class="OG-clearFix og-strip">
    <input type="text" class="og-tenor" name="strip.{{idx}}.tenor" value="{{tenor}}" />
    <select class="og-type" name="strip.{{idx}}.type">
      <option value="LIBOR">Libor rate</option>
      <option value="CASH">Cash rate</option>
      <option value="FRA">Forward-rate agreement</option>
      <option value="FUTURE">Interest-rate future</option>
      <option value="BANKERS_ACCEPTANCE">Bankers acceptance</option>
      <option value="SWAP">Swap rate</option>
      <option value="TENOR_SWAP">Tenor swap</option>
      <option value="BASIS_SWAP">Basis swap</option>
      <option value="OIS_SWAP">OIS swap</option>
      <option value="EURIBOR">Euribor rate</option>
      <option value="FRA_3M">FRA (3m floating tenor)</option>
      <option value="FRA_6M">FRA (6m floating tenor)</option>
      <option value="SWAP_3M">Fixed / float swap (3m floating leg reset tenor)</option>
      <option value="SWAP_6M">Fixed / float swap (6m floating leg reset tenor)</option>
      <option value="CDOR">CDOR</option>
      <option value="CIBOR">Cibor</option>
      <option value="STIBOR">Stibor</option>
      <option value="SIMPLE_ZERO_DEPOSIT">Simple zero deposit strip</option>
      <option value="PERIODIC_ZERO_DEPOSIT">Periodic zero deposit strip
      <option value="CONTINUOUS_ZERO_DEPOSIT">Continuous zero deposit strip</option>
    </select>
    <input class="og-num" type="text" name="strip.{{idx}}.numFutures" value="{{future}}" />
    <!-- convention name -->
    {{{item_0}}}
  </div>
</li>