<article>
	<div class="OG-blotter">
			<div class="OG-blotter-form">
				<h1>Title</h1>
				<div class="OG-blotter-form-content"></div>
				<div class="OG-blotter-form-attributes"></div>
				<div class="OG-blotter-form-buttons"></div>
			</div>
	</div>
</article>