/*
 * Copyright 2012 - present by OpenGamma Inc. and the OpenGamma group of companies
 * Please see distribution for license.
 */

.OG-add-trades div {
  margin-bottom: 10px;
}

.OG-add-trades label {
    display: inline!important;
}

.OG-add-trades label span {
    display: block;
    color: #999;
}

.OG-add-trades .og-premium + select {
    width: 56%;
}

.OG-add-trades .og-premium input {
    width: 40% !important;
}

.OG-add-trades .og-datetimepicker {
    width: 80% !important;
}

.OG-add-trades .og-inline-form {
    width: 16%;
}

.OG-add-trades em {
  color: #ccc;
  clear: left;
  display: block;
}

.OG-add-trades .og-general {
  float: left;
  width: 310px;
  border-right: 1px solid #ebebeb;
}

/* User attributes */
    .OG-add-trades .og-attributes {
      float:right;
      width: 310px;
    }

    .OG-add-trades .og-attributes input {
        width: 40% !important;
    }

    .OG-add-trades .OG-link-add {
       position: relative; left: 2px; top: 1px;
    }

    .OG-add-trades .og-awesome-list {
        border: 1px solid #E3E3E3;
        overflow-y: scroll;
        height: 71px;
        margin-top: 4px;
    }
