/*
 * Copyright 2012 - present by OpenGamma Inc. and the OpenGamma group of companies
 * Please see distribution for license.
 */
.OG-gadget-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.OG-gadget-container:before {
    content: '';
    background: url(/prototype/images/common/sprites/main-sprite-sheet.png) 0 -162px;
    width: 48px;
    height: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -24px 0 0 -24px;
}

.ie8 .OG-gadget-container:before {
    content: none;
}

.OG-gadget-container .og-loading {
    position: absolute;
    top: 10px;
    left: 10px;
}