/*
 * Copyright 2012 - present by OpenGamma Inc. and the OpenGamma group of companies
 * Please see distribution for license.
 */

.OG-analytics-form-menu {
    position: absolute;
    background: #e0f2e7;
    border: 1px solid #dadcdd;
    z-index: 1;
}

.OG-analytics-form-menu .OG-background-03 {
    height: 3px;
}

.OG-analytics-form-menu .OG-icon.og-icon-delete {
    left: 4px; top: -3px;
    display: none;
}

.OG-analytics-form-menu table {
    margin: 7px 1px;
}

.OG-analytics-form-menu table td {
    padding: 3px;
}

.OG-analytics-form-menu table td:first-child {
    padding-left: 10px;
    padding-top: 8px;
}

.OG-analytics-form-menu table td:last-child {
    padding-right: 20px;
}

.OG-analytics-form-menu table tr:hover {
    background-color: #e9f6ee;
}

.OG-analytics-form-menu table tr:last-child:hover {
    background-color: inherit;
}

.OG-analytics-form-menu table tr:hover .OG-icon.og-icon-delete {
    display: block;
}

.OG-analytics-form-menu tr td:nth-child(1) span {
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #fff;
    line-height: 10px;
    height: 10px;
    width: 10px;
    display: block;
    text-indent: 2px;
    font-size: 11px;
    color: #aaa;
}

/** TODO AG: Remove, after solution found for plugin **/
.ui-datepicker{
    z-index: 9999 !important;
}

.ui-datepicker .ui-state-active{
    background-color: #a3ceec;
}

/* aggregation */
    .OG-analytics-form-menu.og-menu-aggregation tr td:nth-child(2) {
        color: #999;
        white-space: nowrap;
    }

    .OG-analytics-form-menu.og-menu-aggregation tr td:nth-child(4) {
        text-align: right;
    }

    .OG-analytics-form-menu.og-menu-aggregation select {
        width: 265px;
    }

    .OG-analytics-form-menu.og-menu-aggregation input {
        vertical-align: bottom;
    }

    .OG-analytics-form-menu.og-menu-aggregation table + div {
        margin: 7px 10px;
    }

    .OG-analytics-form-menu.og-menu-aggregation .og-option {
        white-space: nowrap;
        border: 1px solid #8bcfa8;
        background-color: #8bcfa8;
        color: #fff;
        border-radius: 2px;
        padding: 1px 4px 1px 0;
        position: relative;
    }

    .OG-analytics-form-menu.og-menu-aggregation .og-option:after {
        content: '';
        position: absolute;
        display: block;
        background: #fff;
        opacity: 0.1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 50%;
    }

/* datacources */
    .OG-analytics-form-menu.og-menu-datasources tr td:nth-child(2) select {
        width: 95px;
    }

    .OG-analytics-form-menu.og-menu-datasources tr.OG-dropmenu-actions td:nth-child(3) {
        text-align: right;
    }

    .OG-analytics-form-menu.og-menu-datasources tr td:nth-child(3) select {
        width: 335px;
    }

    .OG-analytics-form-menu.og-menu-datasources tr td select.source{
        width: auto;
        min-width: 256px;
    }

    .OG-analytics-form-menu.og-menu-datasources .snapshot,
    .OG-analytics-form-menu.og-menu-datasources .historical{
        white-space: nowrap;
    }

    .OG-analytics-form-menu.og-menu-datasources .extra-opts,
    .OG-analytics-form-menu.og-menu-datasources .extra-opts .versions,
    .OG-analytics-form-menu.og-menu-datasources .extra-opts .corrections{
        display: inline-block;
    }

    .OG-analytics-form-menu.og-menu-datasources .source-datepicker{
        position:absolute;
        display: none;
        z-index: 10;
    }

    .OG-analytics-form-menu.og-menu-datasources .og-historical-opts{
        margin-left: 11px;
    }

    .OG-analytics-form-menu.og-menu-datasources .extra-opts span{
        vertical-align: middle;
    }

    .OG-analytics-form-menu.og-menu-datasources .extra-opts input[type=button]{
        background: white;
        border: 2px solid #CCC;
        cursor: pointer;
        padding: 3px 0 2px 0;
        width: 49px;
    }

    .OG-datasources-menu td {
        vertical-align: top;
    }


    .OG-analytics-form-menu.og-menu-datasources .extra-opts input[disabled=true]{
        border-top-color: #ccc !important;
    }

    .OG-analytics-form-menu.og-menu-datasources .extra-opts input[type=button].active{
        border-top-color: #80c696 !important;
        cursor: default;
    }

    .OG-analytics-form-menu.og-menu-datasources .og-randomized-opts input {
        width: 33px;
    }


    .OG-analytics-form-menu.og-menu-datasources .og-randomized-opts span {
        padding-left: 3px;
        padding-right: 1px;
        font-size: 80%;
    }

    .OG-analytics-form-menu.og-menu-datasources .og-randomized-opts {
        padding-top: 2px;
        min-width: 400px;
    }


.OG-analytics-form-menu.og-menu-datasources .latest{
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border-right-width: 1px !important;
        margin:0 -3px 0 4px;
    }

    .OG-analytics-form-menu.og-menu-datasources .custom{
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-left-width: 1px !important;
        margin-right: 4px;
    }

    .OG-analytics-form-menu.og-menu-datasources .extra-opts .custom.date-selected{
        width:80px;
    }

    /* snapshots */
    .OG-analytics-form-menu.og-menu-datasources .snapshot .source{
        /*width:130px;
        min-width: 130px;*/
    }

    /* historical */
    .OG-analytics-form-menu.og-menu-datasources .historical td .source{
        /* change back for datetime picker width: 356px;*/
        width: 256px;
    }

    .OG-analytics-form-menu.og-menu-datasources .historical td .source{
        margin-left: 2px;
    }

    .OG-analytics-form-menu.og-menu-datasources .historical .extra-opts{
        margin-left: 0px;
    }

/* temporal */
    .OG-analytics-form-menu.og-menu-temporal{
        background: none;
        font-family: 'Open Sans', arial, serif;
        width:auto;
    }

    .OG-analytics-form-menu.og-menu-temporal fieldset p{
        font-size: 14px;
    }


    .og-menu-temporal fieldset label {
        margin:0 6em 0 0;
    }

    .og-menu-temporal fieldset label + label {
        margin:0 0 0 0;
    }

    .og-menu-temporal input[type=text] {
        margin:0 0 0 2em;
    }

    .OG-analytics-form-menu.og-menu-temporal .valuation-time{
        color: #fff;
        margin: 1px;
        position: relative;
    }

    .og-menu-temporal .valuation-time:before{
        bottom:40%;
        background-color: #fff;
        content: "";
        left:0;
        opacity:0.1;
        position: absolute;
        right:0;
        top:0;
    }

    .OG-analytics-form-menu.og-menu-temporal .valuation-time.OG-background-03{
        height:auto;
    }

    .OG-analytics-form-menu.og-menu-temporal .valuation-time em{
        font-size: 8pt;
        display: block;
    }

    .og-menu-temporal .portfolio-version{
        position: relative;
    }

    .og-menu-temporal .portfolio-version:before{
        bottom:93%;
        content: "";
        left:0;
        opacity:0.3;
        position: absolute;
        right:0;
        top:0;

        background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
        background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    }

    .OG-analytics-form-menu.og-menu-temporal .valuation-time,
    .OG-analytics-form-menu.og-menu-temporal .portfolio-version,
    .OG-analytics-form-menu.og-menu-temporal .portfolio-correction{
        padding: 10px
    }

    .OG-analytics-form-menu.og-menu-temporal .portfolio-version,
    .OG-analytics-form-menu.og-menu-temporal .portfolio-correction{
        background-color: #fff;
    }

    .OG-analytics-form-menu.og-menu-temporal .portfolio-version p,
    .OG-analytics-form-menu.og-menu-temporal .portfolio-correction p{
        margin-bottom: 10px;
}

/* filters */
.OG-analytics-form-menu.og-filters-menu input[type=radio] {
    vertical-align: top;
}

/* ie8 doesnt support nth or last child...degrade */
    .ie8 .OG-analytics-form-menu select {
        min-width: 150px;
    }

    .ie8 .OG-analytics-form-menu label {
        white-space: nowrap;
    }

    .ie8 .OG-analytics-form-menu .OG-icon.og-icon-delete {
        display: block;
        width: 20px;
    }



.query-btn{
    position: absolute;
    display: inline-block;
    left:80%;
    top:7px;
}
