/*
 * Copyright 2012 - present by OpenGamma Inc. and the OpenGamma group of companies
 * Please see distribution for license.
 */
.OG-gadget-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    border: 1px solid #bbb;
}

.OG-gadget-container.og-focus {
    border: 1px solid #000;
}

.OG-gadget-container:before {
    content: 'Drop gadget here';
    width: 100px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -50px;
    color: #999;
    font-size: 10px;
    text-align: center;
}

.ie8 .OG-gadget-container:before {
    content: none;
}

.OG-gadget-container .og-loading {
    position: absolute;
    top: 10px;
    left: 10px;
}