.OG-analytics-footer .OG-logo-light-small {
    left: 3px;
    position: absolute;
    top: 3px;
}

.OG-analytics-footer small {
    color: #eee;
    font-size: 11px;
    left: 84px;
    position: relative;
    top: -2px;
}