/*
 * Copyright 2012 - present by OpenGamma Inc. and the OpenGamma group of companies
 * Please see distribution for license.
 */

.OG-gadget-tabs {
    color: #555;
    text-shadow: 0 1px 0 #fff;
    white-space: nowrap;
    height: 21px;
    position: relative;
    z-index: 1;
}

.OG-gadget-tabs-label {
    display: inline;
    position: relative;
    top: -2px;
    z-index: 1;
}

.OG-gadget-tabs ul:before {
    content: '';
    background: #fff;
    position: absolute;
    top: 1px;
    left: 0;
    right: 0;
    height: 1px;
}

.OG-gadget-tabs li {
    display: inline-block;
    list-style: none;
    background: #eee;
    border-right: 1px solid #d8d8d8;
    border-top: 1px solid #ddd;
    position: relative;
    cursor: move;
    top: -1px;
    font-size: 11px;
}

.ie9 .OG-gadget-tabs li {
    top: -2px;
}

.OG-gadget-tabs li:first-child {
    border-left: 1px solid #d8d8d8;
}

/* separator white bar */
    .OG-gadget-tabs li:before {
        display: block;
        content: '';
        background: #fff;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 1px;
    }

/* highlight */
    .OG-gadget-tabs li:after {
        display: block;
        content: '';
        background: #fafafa;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 50%;
    }

/* top colour hover notifier */
    .OG-gadget-tabs li:hover {
        border-top: 1px solid #555!important;
    }

/* top colour active notifier */
    .OG-gadget-tabs li.og-active {
        background-color: #fff;
        z-index: 5;
        border: 1px solid #bbb;
        border-bottom: 1px solid #fff;
        line-height: 18px;
        top: -1px;
    }

    .OG-gadget-tabs li.og-focus {
        border: 1px solid #000;
        border-bottom: 1px solid #fff;
    }

    .OG-gadget-tabs li.og-active .OG-gadget-tabs-label {
        padding: 2px 5px 0 0;
    }


    .OG-gadget-tabs li.og-active:after {
        background-color: transparent;
    }

    /**
     * Add shadows to the left and right of the active tab
     */
    .OG-gadget-tabs li.og-active:before {
        background-color: transparent;
        background-image:
            -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%),
            -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
        background-image:
            -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%),
            -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
        background-image:
            linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%),
            linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
        background-position: left top, right top;
        background-size: 6px 100%, 6px 100%;
        background-repeat: no-repeat;
        bottom: 0;
        content: '';
        left: -7px;
        position: absolute;
        right: -6px;
        top: 0;
        opacity: 0.1;
        width: auto;
        z-index: 2;
    }

    .OG-gadget-tabs li > div {
        z-index: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .OG-gadget-tabs li > div span {
        color: #aaa;
    }


    .OG-gadget-tabs li > div:first-child {
        padding: 3px 5px 0 5px;
    }
login.ftl
    .OG-gadget-tabs li:last-child {
        float: none;
    }

/* contenxtual delete */
/* TODO: extract out into separate class */
    .OG-gadget-tabs li:hover .og-delete {
        display: block;
    }

    .OG-gadget-tabs li .og-delete {
        display: none;
        background: url('/prototype/images/common/sprites/main-sprite-sheet.png');
        content: '';
        cursor: pointer;
        background-position: -23px -35px;
        height: 10px;
        width: 11px;
        position: absolute;
        right: -6px;
        top: 6px;
        z-index: 4;
    }

    .OG-gadget-tabs li .og-delete:hover {
        background-position: -11px -35px;
    }

/* multiselect */
    .OG-gadget-tabs .OG-multiselect {
        display: none;
        margin: -3px 0 0 -5px;
        position: relative;
    }

    .OG-gadget-tabs .og-active .OG-multiselect {
        display: inline-block;
    }