/*
 * Copyright 2012 - present by OpenGamma Inc. and the OpenGamma group of companies
 * Please see distribution for license.
 */

.OG-layout-analytics-container {
    height: 100%;
    background: #fff;
    visibility: hidden;
}

.OG-layout-analytics-footer {
    background: #555 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJ0lEQVQIW2MUFxf/b2BkzAADjO6eXv8vnDvLABMEC4BkYYJwAZggAPOTD9RNbjElAAAAAElFTkSuQmCC);
    color: #ccc;
    border-top: 1px solid #555;
}

.OG-layout-analytics-center,
.OG-layout-analytics-south,
.OG-layout-analytics-dock-north,
.OG-layout-analytics-dock-center,
.OG-layout-analytics-dock-south {
    background: #f8f8f8;
}

.OG-layout-analytics-south:before,
.OG-layout-analytics-dock-north:before,
.OG-layout-analytics-dock-center:before,
.OG-layout-analytics-dock-south:before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 30px;
    margin: -5px 0 0 -15px;
    color: #ccc;
}

/**
  * 20x20
  * @colordef #000 black @ 40% transparency (0)
  * @colordef #fff white @ 10% transparency (1)
  * 00000000001111111111
  * 10000000000111111111
  * 11000000000011111111
  * ... etc ...
  * 00000000011111111110
  */
.OG-layout-analytics-south.og-drop:after,
.OG-layout-analytics-dock-north.og-drop:after,
.OG-layout-analytics-dock-center.og-drop:after,
.OG-layout-analytics-dock-south.og-drop:after {
    content: '';
    position: absolute;
    display: block;
    top: 24px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAa0lEQVQ4y63Uyw3AIAyD4X8sT8QIzN9bpaovJ/EhEuTwIQExwHJK0nYKSTuJci5CKJdNAOXWGKI8Ngcoryc1UT7vo4Hy+2pFFOtvFVDsCTBRSmPlgmG0EQAuGEIHUeWCQzQQqi7YRIPxD+sAmYYvMA+fMFoAAAAASUVORK5CYII=);
    z-index: 12;
}

.OG-layout-analytics-container .ui-layout-content {
    padding: 0;
    overflow-y: hidden;
    -moz-box-shadow: inset 0 0 10px #ddd;
    -webkit-box-shadow: inset 0 0 10px #ddd;
    box-shadow: inset 0 0 10px #ddd;
    margin-right: 0;
}

.OG-layout-analytics-container .ui-layout-header {
    min-height: 23px;
    background: #dadcdd url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKElEQVQIW2M8dfrMfwFBQQYYYLx15+7/D+/fM8AEwQIgWZggXAAmCAAQjhcbxFaq/gAAAABJRU5ErkJggg==);
}

.OG-layout-analytics-container .ui-layout-header:after {
    content: '';
    background: #fff;
    position: absolute;
    top: 1px;
    left: 0;
    right: 0;
    height: 12px;
    opacity: 0.15;
}