/*
 * Copyright 2012 - present by OpenGamma Inc. and the OpenGamma group of companies
 * Please see distribution for license.
 */

.OG-layout-analytics-container {
    height: 100%;
    background: #fff;
    visibility: hidden;
}

.OG-layout-analytics-center {
    background: #f8f8f8;
}