*~
foo~
*.class
*.log
bootstrap/
build/
classes/
dist/
doc/
ivy/
generated/
lib/
temp/
tests/classes/
tests/output/
.settings/org.eclipse.ltk.core.refactoring.prefs
/.fudge-proto-gitignore
MANIFEST.MF
.clover/
