.OG-gadgets-positions .OG-table {
    margin-bottom: 2px;
}

.OG-gadgets-positions > div {
    background-color: #ecf5fa;
    padding: 10px;
    min-height: 102px;
    position: relative;
}

.OG-gadgets-positions .og-securities td {
    padding: 4px 0;
}

.OG-gadgets-positions .og-securities tr td:first-child {
    color: #999;
    padding-right: 30px;
}

.OG-gadgets-positions .og-timeseries-container {
    background-color: #fff;
    border: 1px solid #d0e4f1;
    min-height: 50px;
    position: relative;
}

.OG-gadgets-positions .og-timeseries-extra {
    position: absolute;
    right: 4px;
    bottom: 0;
    z-index: 3;
    color: #555;
    font-size: 10px;
    background: #fff;
    opacity: 0.5;
}

.OG-gadgets-positions .og-timeseries-hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    vertical-align: middle;
    background: white;
    z-index: 4;
    opacity: 0.7;
    filter: alpha(opacity=70);
    cursor: pointer;
    font-size: 16px;
    display: none;
}

.OG-gadgets-positions .og-timeseries-hover a {
    position: relative;
    top: 15px;
}