/**
 * Copyright 2009 - present by OpenGamma Inc. and the OpenGamma group of companies
 * Please see distribution for license.
 */

/**
 * Plot Header
 */

.OG-timeseries-gadget .og-plot-header {
    position: absolute;
    top: -1px;
    font-size: 12px;
    font-weight: normal;
    line-height: 12px;
    padding: 8px;
    color: #555;
    text-shadow: 0 1px 0 #fff;
    border-radius: 1px;
    z-index: 4;
    left: 0;
}

.OG-timeseries-gadget .og-plot-header .og-field {
    display: inline-block;
    z-index: 2;
    position: relative;
    margin-right: 5px;
}

.OG-timeseries-gadget .og-plot-header select {
    margin: 0;
    min-width: 100px;
}

.OG-timeseries-gadget .og-plot-header .og-observation {
    height: 17px;
    position: relative;
    z-index: 2;
    margin-top: 3px;
    display: inline-block;
    text-shadow: none;
}

.OG-timeseries-gadget .og-plot-header .og-observation label {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 0 5px 2px 0;
    margin: 0 4px 0 0;
    height: 17px;
    position: relative;
}

.OG-timeseries-gadget .og-plot-header .og-observation input {
    left: -1px;
    position: absolute;
    top: -1px;
}

.OG-timeseries-gadget .og-plot-header .og-observation span {
    font-size: 10px;
    padding-left: 19px;
    position: relative;
}

.OG-timeseries-gadget .og-flot-top {
    height: 27px;
    position: relative;
    right: 0;
    margin-bottom: 2px;
}

.OG-timeseries-gadget .og-tenor {
    position: absolute;
    top: -28px;
    right: 0;
    font-size: 12px;
    font-weight: normal;
    line-height: 12px;
    padding: 7px 3px 5px 8px;
    color: #555;
    text-shadow: 0 1px 0 #fff;
    border-radius: 1px;
    z-index: 3;
}

.OG-timeseries-gadget .og-tenor .OG-link-active {
    color: #555;
}

.OG-timeseries-gadget .og-tenor:after {
    content: '';
    position: absolute;
    left: 0;
    right: 1px;
    top: 3px;
    bottom: 0;
    background: #fff;
}

.OG-timeseries-gadget .og-tenor span {
    z-index: 2;
    position: relative;
}

/*
 * Plots
 */

.OG-timeseries-gadget .og-plots {
    top: 0;
    background-color: #fff;
    visibility: hidden;
    border: 1px solid #6f839e;
}

.OG-timeseries-gadget .og-timeseries-plot {
    position: relative;
}

.OG-timeseries-gadget .og-js-p1 {
    left: 0;
    position: relative;
    overflow: hidden;
    height: 270px;
    width: 882px;
    position: relative;
    top: 0;
}

.OG-timeseries-gadget .og-js-p2 {
    position: relative;
    height: 50px;
    width: 882px;
    position: relative;
}

/**
 * Plot furniture
 */

.OG-timeseries-gadget .og-flot-xaxis {
    height: 1px;
    width: 798px;
    position: relative;
    background: #6d7d91;
}

.OG-timeseries-gadget .og-flot-xaxis:after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 50%;
    left: 0;
    right: 0;
    background: #fff;
    opacity: .1;
}

/**
  * 1000
  * 0100
  * 0010
  * 0001
  * 0=8395ac, 1=7689a3
  */
.OG-timeseries-gadget .og-js-p2-background {
    height: 50px;
    position: absolute;
    width: 100%;
    -webkit-box-shadow: inset 0 0 3px 3px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 3px 3px rgba(0, 0, 0, 0.15);
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJ0lEQVQIW2Ms61z8n5eHkwEGGJunrvn/+ct3BpggWAAkCxOEC8AEAY3UE+/WxCiTAAAAAElFTkSuQmCC);
}

/**
 * Data points
 */

.OG-timeseries-gadget .og-data-points {
    overflow: hidden;
    overflow-x: auto;
    display: block;
    position: relative;
    margin-top: 55px;
}

.OG-timeseries-gadget .og-data-points time {
    color: #555;
}

.OG-timeseries-gadget .og-data-points time span {
    color: #999;
}

.OG-timeseries-gadget .og-container {
    white-space: nowrap;
    display: block;
    height: 360px;
    overflow: hidden;
    overflow-x: auto;
    background-color: #fff;
}

.OG-timeseries-gadget .og-container > div {
    display: inline-block;
}

.OG-timeseries-gadget .og-data-series {
    width: 399px;
    display: inline-block;
    border-left: 1px solid #f6f6f6;
    float: left;
}

.OG-timeseries-gadget .og-data-series:last-child {
    border-right: none;
}

.OG-timeseries-gadget .og-data-series header {
    height: 29px;
    display: block;
    position: relative;
    border-top: 1px solid #fff;
}

.OG-timeseries-gadget .og-data-series footer {
    position: relative;
    color: #999;
    display: block;
    padding: 5px;
    background-color: #f6f6f6;
}

.OG-timeseries-gadget .og-data-series header h3 {
    display: inline-block;
    top: -1px;
    left: 0;
    font-size: 12px;
    font-weight: normal;
    line-height: 22px;
    padding: 3px 10px 3px 10px;
    border: 1px solid #D8D8D8;
    color: #555;
    text-shadow: 0 1px 0 white;
    background-color: #EEE;
    border-radius: 1px;
}

.OG-timeseries-gadget .og-data-series header h3:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 50%;
    background: #fafafa;
}

.OG-timeseries-gadget .og-data-series header h3 span {
    position: relative;
    z-index: 2;
    top: 0;
}

.OG-timeseries-gadget .og-data-series header span {
    position: relative;
    top: 7px;
}

.OG-timeseries-gadget .og-data-points button {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #57ba48;
    text-shadow: 0 1px 0 #fff;
}

/**
 * Slick grid
 */

.og-data-points .og-slick {
    border-top:  1px solid #fff;
    height: 281px;
}

.og-data-points .og-slick .og-loading {
    display: inline-block;
    padding: 5px;
    color: #999;
}

.og-data-points .slick-viewport {
    overflow-x: hidden!important;
    height: 254px!important;
}

.og-data-points .slick-viewport .slick-row:hover {
    background: none;
}

.OG-timeseries-gadget .og-checking-related {
    display: inline-block;
    position: relative;
    top: 5px;
    color: #ccc;
}

.og-data-points .og-slick .slick-header {
    height: 23px;
}

.og-data-points .og-slick .slick-header-column.ui-state-default {
    line-height: 12px;
}

.og-data-points .og-slick .slick-header {
    background: #ecf5fa;
    font-weight: bold;
}

.og-data-points .og-slick .slick-header-columns:before {
    content: none;
}

.og-data-points .og-slick .slick-column-name {
    font-weight: bold;
    color: #555;
    line-height: 12px;
}

.og-data-points .og-slick .slick-resizable-handle {
    border-right-color: #ccc;
    top: 0;
}

.og-data-points .og-slick .slick-resizable-handle:before {
    border-left-color: transparent;
}