.OG-position {
  margin: 10px 12px 20px 0;
}

.OG-position .og-quantity {
  color: #626262;
  font-size: 16px;
}

.OG-position .og-security td {
  width: 25%;
}

.OG-position td.og-security {
  width: 50%;
}