/*
 * Copyright 2012 - present by OpenGamma Inc. and the OpenGamma group of companies
 * Please see distribution for license.
 */
.OG-icon.og-icon-down-chevron:after {
    background-position: -37px -9px;
    display: inline-block;
    height: 6px;
    position: relative;
    width: 10px;
    z-index: 2;
}
.OG-icon.og-icon-down-chevron:hover:after {
    background-position: -48px -9px;
}