/*
 * Copyright 2012 - present by OpenGamma Inc. and the OpenGamma group of companies
 * Please see distribution for license.
 */
.OG-icon.og-icon-Timeseries:after {
  display: inline-block;
  background-position: -144px -78px;
  background-color: transparent;
  height: 13px;
  width: 15px;
  z-index: 2;
  position: absolute;
}