/**
 * Copyright 2009 - present by OpenGamma Inc. and the OpenGamma group of companies
 * Please see distribution for license.
 */

/**
  * @colordef #ecf5fa light blue (0)
  * @colordef #fefeff off white (1)
  * 0001
  * 0010
  * 0100
  * 1000
  */
.OG-background-01 {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKklEQVQIW2N88/XXfwYoEOJkZWCECYA4777/hgjAOCCFjP/+/f8PkoEBAEksGI2sJts/AAAAAElFTkSuQmCC);
}

/**
  * @colordef #d0d0d1 light grey (1)
  * @colordef #ecf5fa light blue (0)
  * 1000
  * 0100
  * 0010
  * 0001
  */
.OG-background-02 {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAIAAAAmkwkpAAAAHElEQVQIW2O4cOHim6+/IIgBiOF8EAfOh3IgfAB4lCwJ2HzdqwAAAABJRU5ErkJggg==);
}

/**
  * @colordef #6cc290 green (1)
  * @colordef #8bcfa8 lighter green (0)
  * 1000
  * 0100
  * 0010
  * 0001
  */
.OG-background-03 {
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKElEQVQIW2PMOTThvzyvBAMMMHafX/H/4ecXDDBBsABIFiYIF4AJAgCzPxTFgcbmlgAAAABJRU5ErkJggg==);
}

/**
  * @colordef #171717 dark grey (1)
  * @colordef #47494a light grey (0)
  * 1000
  * 0100
  * 0010
  * 0001
  */
.OG-background-04 {
    background: #555 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJ0lEQVQIW2MUFxf/b2BkzAADjO6eXv8vnDvLABMEC4BkYYJwAZggAPOTD9RNbjElAAAAAElFTkSuQmCC);
}

/**
  * @colordef #979797 dark grey (1)
  * @colordef #adadad light grey (0)
  * 1000
  * 0100
  * 0010
  * 0001
  */
.OG-background-05 {
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKElEQVQIW2OcPn36fzExMQYYYFy7du3/V69eMcAEwQIgWZggXAAmCAC3AhTbjl+fJAAAAABJRU5ErkJggg==);
}