/*
 * Copyright 2009 - present by OpenGamma Inc. and the OpenGamma group of companies
 * Please see distribution for license.
 */
.OG-shadow {
  -moz-box-shadow: 0 2px 5px #ccc;
  -webkit-box-shadow: 0 2px 5px #ccc;
  box-shadow: 0 2px 5px #ccc;
}