/*
 * Copyright 2012 - present by OpenGamma Inc. and the OpenGamma group of companies
 * Please see distribution for license.
 */
.OG-icon.og-icon-right-chevron:after {
    background-position: -101px -35px;
    background-color: transparent;
    display: inline-block;
    height: 10px;
    position: relative;
    width: 5px;
    z-index: 2;
}