/*
 * Copyright 2012 - present by OpenGamma Inc. and the OpenGamma group of companies
 * Please see distribution for license.
 */
.OG-icon.og-icon-down-chevron:after {
    background-position: -56px -185px;
    display: inline-block;
    height: 5px;
    position: relative;
    width: 10px;
    z-index: 2;
}

.OG-icon.og-complex:after {
    background-position: -34px -179px;
    height: 16px;
}