/*
 * Copyright 2013 - present by OpenGamma Inc. and the OpenGamma group of companies
 * Please see distribution for license.
 */
.OG-icon.og-icon-Filter:before{
  background-color: transparent;
  background-position: -175px -80px;
  display: inline-block;
  height: 11px;
  width: 11px;
  z-index: 2;
}