/*
 * Copyright 2009 - present by OpenGamma Inc. and the OpenGamma group of companies
 * Please see distribution for license.
 */
.OG-gradient-02 {
  background-color: #f7f7f7;
  background: -webkit-gradient(linear, left bottom, left top, from(#f9f9f8), to(#fefefe));
  background: -moz-linear-gradient(bottom,  #f9f9f8,  #fefefe);
  border-left: 1px solid #fff;
}