<div class="ui-layout-header">
  <div><header><h2>Synchronize portfolio</h2></header></div>
  <div class="og-sync-header">
    <table>
      <colgroup></colgroup><colgroup></colgroup><colgroup></colgroup>
      <colgroup></colgroup><colgroup></colgroup><colgroup></colgroup>
      <thead><tr>
        <th>Trades</th><th>Asset Class</th><th>Field</th><th>OG Value</th>
        <th>Provider Value</th><th>Info</th>
      </tr></thead>
    </table>
  </div>
  <div class="og-divider"></div>
</div>
<div class="ui-layout-content">
  <!-- ---------- -->
  <!-- FORM START -->
  <!-- ---------- -->
  <div class="og-container">
    <form>
    <table>
      <colgroup></colgroup><colgroup></colgroup><colgroup></colgroup>
      <colgroup></colgroup><colgroup></colgroup><colgroup></colgroup>
      <tbody class="og-new-trades">
        <tr class="og-new-trade">
          <td>35 x EXC US Equity</td>
          <td>-</td>
          <td>-</td>
          <td><label><input type="radio" name="new-trade-1" disabled="disabled" /><span>-</span></label></td>
          <td><label class="og-recommended"><input type="radio" name="new-trade-1" checked="checked" /><span>New Provider Trade</span></label></td>
          <td>New Trade</td>
        </tr>
        <tr class="og-new-trade">
          <td>36 x EXC US Equity</td>
          <td>-</td>
          <td>-</td>
          <td><label class="og-recommended"><input type="radio" name="new-trade-2" checked="checked" /><span>New OG Trade</span></label></td>
          <td><label><input type="radio" name="new-trade-2" disabled="disabled" /><span>-</span></label></td>
          <td>New Trade</td>
        </tr>
      </tbody>
      <tbody>
        <tr class="og-pending">
          <td><a href="#">34 x EXC US Equity</a></td>
          <td>Equity</td>
          <td>DealType</td>
          <td><label><input type="radio" name="pending-1" disabled="disabled" /><span>CashFlowDeal</span></label></td>
          <td><label><input type="radio" name="pending-1" disabled="disabled" /><span>CashFlowDeal</span></label></td>
          <td>Pending update</td>
        </tr>
        <tr><td colspan="6"><div></div></td></tr>
      </tbody>
      <tbody>
        <tr class="og-new-field">
          <td><a href="#">35 x EXC US Equity</a></td>
          <td>Equity</td>
          <td>DealType</td>
          <td><label><input type="radio" name="new-field-1" disabled="disabled" /><span>[no value]</span></label></td>
          <td><label class="og-recommended"><input type="radio" name="new-field-1" checked="checked" /><span>CashFlowDeal</span></label></td>
          <td>New Field</td>
        </tr>
        <tr class="og-new-field">
          <td></td>
          <td>Equity</td>
          <td>DealType</td>
          <td><label class="og-recommended"><input type="radio" name="conflict-1" checked="checked" /><span>CashFlowDeal_004</span></label></td>
          <td><label><input type="radio" name="conflict-1" /><span>CashFlowDeal_003</span></label></td>
          <td>OG Value updated</td>
        </tr>
        <tr class="og-new-field">
          <td></td>
          <td>Equity</td>
          <td>DealType</td>
          <td><label><input type="radio" name="conflict-2" /><span>CashFlowDeal_003</span></label></td>
          <td><label class="og-recommended"><input type="radio" name="conflict-2" checked="checked" /><span>CashFlowDeal_004</span></label></td>
          <td>Provider Value updated</td>
        </tr>
        <tr><td colspan="6"><div></div></td></tr>
      </tbody>
      <tbody>
        <tr class="og-new-field">
          <td><a href="#">99 x EXC US Equity</a></td>
          <td>Equity</td>
          <td>DealType</td>
          <td><label><input type="radio" name="new-field-2" disabled="disabled" /><span>[no value]</span></label></td>
          <td><label class="og-recommended"><input type="radio" name="new-field-2" checked="checked" /><span>CashFlowDeal</span></label></td>
          <td>New Field</td>
        </tr>
        <tr><td colspan="6"><div></div></td></tr>
      </tbody>
    </table>
    </form>
  </div>
  <!-- ---------- -->
  <!--  FORM END  -->
  <!-- ---------- -->
</div>
<div class="ui-layout-footer">
  <button>Submit Changes</button>
  <a href="#">Clear All</a>
  <label><input type="checkbox" /><span>Select Recommended</span></label>
  <label class="og-highlight-recommended og-recommended-active"><input type="checkbox" checked="checked" /><span>Highlight Recommended</span></label>
</div>