<nav class="OG-breadcrumb">
  <ul>
    <li><a title="${$item.title(portfolio_name)}" class="og-js-live-anchor"
        href="${$item.href()}">${$item.short_name(portfolio_name)}</a></li>
    {{each path}}
    <li {{if $index == path.length - 1}} class="og-current" {{/if}}><a
            title="${$item.title(name)}" class="og-js-live-anchor"
            {{if $index == path.length - 1}} data-og-editable="name" {{/if}}
            href="${$item.href(object_id)}">${$item.short_name(name)}</a></li>
    {{/each}}
  </ul>
</nav>