/**
 * Copyright 2009 - present by OpenGamma Inc. and the OpenGamma group of companies
 * Please see distribution for license.
 */

/* og-constraint */
.OG-grid-box {display: block; white-space: nowrap;}
.OG-grid-box .og-container {
    border: 1px solid #e4e4e4;
    background-color: #fefefe;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    display: inline-block;
}

.OG-grid-box tr:first-child td {padding-top: 5px;}
.OG-grid-box tr:last-child td {padding-bottom: 5px;}
.OG-grid-box table {margin: 0 5px; position:relative; display: block;}
.OG-grid-box tbody tr {height: 2.6em;}
.OG-grid-box td {vertical-align: middle;}
.OG-grid-box td label {vertical-align: middle; margin-right: 20px;}

.OG-grid-box .og-labeled,
.OG-grid-box .og-remove,
.OG-grid-box .og-add {width: 23px; text-align: center; vertical-align: middle; border-left: 1px solid #fff;}
.OG-grid-box .og-remove span,
.OG-grid-box .og-add span {margin-top: 6px;}
.OG-grid-box .og-labeled {background: #cbcbcb;}
.OG-grid-box .og-remove {background: #e9cccc;}

.OG-grid-box .og-add {background: #dff1e7;}
.OG-grid-box .OG-icon.og-icon-add {margin-left: 0;}

.OG-grid-box tfoot {position: absolute; right: 0; bottom: -15px; height: 18px; line-height: 14px; font-size: 10px}
.OG-grid-box tfoot td {display: inline-block; padding: 0;}

.OG-grid-box tfoot span {padding: 2px; height: 14px; display: inline-block; text-align: center;}
.OG-grid-box tfoot span.og-labeled {
    background-color: #CBCBCB;
    -moz-border-radius-bottomleft: 2px;
    -webkit-border-bottom-left-radius: 3px;
    width: auto;
}
.OG-grid-box tfoot span.og-remove {background-color: #E9CCCC; color: #960505; width: 19px;}
.OG-grid-box tfoot span.og-add {
    background-color: #DFF1E7;
    color: #64be89;
    -moz-border-radius-bottomright: 2px;
    -webkit-border-bottom-right-radius: 2px;
    width: 19px;
}

.OG-grid-box .og-title {color: #999;}

