/*
 * Copyright 2011 - present by OpenGamma Inc. and the OpenGamma group of companies
 * Please see distribution for license.
 */

.OG-form .og-id-cur label span:last-child {
  width: 70%;
}

.OG-form .og-id-cur label input,
.OG-form .og-id-cur label select {
  width: 100%;
  max-width: 500px;
}