/*
 * Copyright 2009 - present by OpenGamma Inc. and the OpenGamma group of companies
 * Please see distribution for license.
 */

.OG-form .og-resolution-rule input {
    width: 400px;
}

.OG-form .og-resolution-rule .og-rule {
  float: left;
  width: 350px!important;
  margin-right: 10px;
}

.OG-form .og-resolution-rule .og-priority {
  width: 30px!important;
}