<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:jaxrs="http://cxf.apache.org/jaxrs"
  xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://cxf.apache.org/jaxrs
http://cxf.apache.org/schemas/jaxrs.xsd">

  <bean id="jsonToFudge" class="com.opengamma.transport.jaxrs.FudgeJSONConsumer" />
  <bean id="fudgeToJson" class="com.opengamma.transport.jaxrs.FudgeJSONProducer" />
  <bean id="xmlToFudge" class="com.opengamma.transport.jaxrs.FudgeXMLConsumer" />
  <bean id="fudgeToXml" class="com.opengamma.transport.jaxrs.FudgeXMLProducer" />
  <bean id="fudgeInput" class="com.opengamma.transport.jaxrs.FudgeBinaryConsumer" />
  <bean id="fudgeOutput" class="com.opengamma.transport.jaxrs.FudgeBinaryProducer" />

</beans>
