<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:jaxrs="http://cxf.apache.org/jaxrs"
  xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://cxf.apache.org/jaxrs
http://cxf.apache.org/schemas/jaxrs.xsd">

  <bean id="jsonToFudge" class="com.opengamma.transport.jaxrs.FudgeJSONConsumer">
    <property name="fudgeContext" ref="fudgeContext" />
  </bean>
  <bean id="fudgeToJson" class="com.opengamma.transport.jaxrs.FudgeJSONProducer">
    <property name="fudgeContext" ref="fudgeContext" />
  </bean>
  <bean id="xmlToFudge" class="com.opengamma.transport.jaxrs.FudgeXMLConsumer">
    <property name="fudgeContext" ref="fudgeContext" />
  </bean>
  <bean id="fudgeToXml" class="com.opengamma.transport.jaxrs.FudgeXMLProducer">
    <property name="fudgeContext" ref="fudgeContext" />
  </bean>
  <bean id="fudgeInput" class="com.opengamma.transport.jaxrs.FudgeBinaryConsumer">
    <property name="fudgeContext" ref="fudgeContext" />
  </bean>
  <bean id="fudgeOutput" class="com.opengamma.transport.jaxrs.FudgeBinaryProducer">
    <property name="fudgeContext" ref="fudgeContext" />
  </bean>
  <bean id="fudgeObjectOutput" class="com.opengamma.transport.jaxrs.FudgeObjectBinaryProducer">
    <property name="fudgeContext" ref="fudgeContext" />
  </bean>

</beans>
