.OG-gadget-surface-hud .og-reset {
    background: #fff;
    display: none;
    margin: 2px;
    padding: 5px 5px 5px 22px;
    text-decoration: underline;
}

.OG-gadget-surface-hud .og-icon-reset:after {
    left: 5px;
    top: 8px;
}