.OG-gadget-surface-hud {
    bottom: 10px;
    left: 10px;
    position: absolute;
}

.OG-gadget-surface-hud canvas {
    border: 1px solid #ccc;
}

.OG-gadget-surface-hud div {
    /* margin accomodates vertical centering numbers without having to duplicate the values in the js */
    margin-top: 8px;
    margin-bottom: 3px
}

.OG-gadget-surface-hud span {
    position: absolute;
    left: 20px;
}

.OG-gadget-surface-hud .og-max-vol {
    top: 0;
}

.OG-gadget-surface-hud .og-min-vol {
    bottom: 0;
}

.OG-gadget-surface-hud .og-val-vol {
    display: none;
    background: #eee;
    border: 1px solid #ddd;
    padding: 0 5px;
}

.OG-gadget-surface-hud .og-val-vol:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    left: -10px;
    top: 50%;
    margin-top: -4px;
    border-top: 5px solid transparent;
    border-right: 10px solid #ddd;
    border-bottom: 5px solid transparent;
}