.OG-gadget-surface-hud {
    bottom: 10px;
    left: 10px;
    top: 0;
    position: absolute;
}

/* Options */
.OG-gadget-surface-hud .og-options {
    position: absolute;
    top: 10px;
    white-space: nowrap;
}

.OG-gadget-surface-hud .og-options input {
    vertical-align: top;
}

/* Volatility */
.OG-gadget-surface-hud .og-volatility {
    /* padding accomodates vertical centering numbers without having to duplicate the values in the js */
    padding-top: 9px;
    padding-bottom: 3px;
    position: absolute;
    bottom: 0;
}

.OG-gadget-surface-hud .og-volatility canvas {
    border: 1px solid #ccc;
}

.OG-gadget-surface-hud .og-volatility span {
    position: absolute;
    left: 20px;
}

.OG-gadget-surface-hud .og-volatility .og-max-vol {
    top: 0;
}

.OG-gadget-surface-hud .og-volatility .og-min-vol {
    bottom: 0;
}

.OG-gadget-surface-hud .og-volatility .og-val-vol {
    display: none;
    background: #eee;
    border: 1px solid #ddd;
    padding: 0 5px;
}

.OG-gadget-surface-hud .og-volatility .og-val-vol:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    left: -10px;
    top: 50%;
    margin-top: -4px;
    border-top: 5px solid transparent;
    border-right: 10px solid #ddd;
    border-bottom: 5px solid transparent;
}