*~
foo~
*.class
*.log
build/
dist/
docs/javadoc/
ivy/
/lib/
temp/
tests/classes/
tests/output/
!web/*
/*.DS_Store
/MANIFEST.MF
.clover/
build.number
.settings
test-output/
*.iws
*.ids
/install/db/hsqldb/bloombergexample-db*
