<div class='OG-histogram-gadget'>
  <section class='og-histogram-plots {{alive}}'>
    <div class='og-histogram-refresh OG-link'>Refresh</div>
    <div class='og-buckets'>
      Buckets:
      <span class='og-bucket-select og-bucket-oleft OG-link' name='{{buckets.oleft}}'>{{buckets.oleft}}</span>
      <span class='og-bucket-select og-bucket-ileft OG-link' name='{{buckets.ileft}}'>{{buckets.ileft}}</span>
      <span class='og-bucket-select og-bucket-mid OG-link' name='{{buckets.mid}}'>{{buckets.mid}}</span>
      <span class='og-bucket-select og-bucket-iright OG-link' name='{{buckets.iright}}'>{{buckets.iright}}</span>
      <span class='og-bucket-select og-bucket-oright OG-link' name='{{buckets.oright}}'>{{buckets.oright}}</span>
      <span class='og-bucket-select og-bucket-oright OG-link' name='{{buckets.ooright}}'>{{buckets.ooright}}</span>

    </div>
    <div class='og-histogram-plot'></div>
  </section>
</div>
