/**
 * Copyright 2009 - present by OpenGamma Inc. and the OpenGamma group of companies
 * Please see distribution for license.
 */
.OG-blotter-form-block{
	padding: 10px;
}
.OG-blotter-dialog input[type="text"]{
	width: 50%
}
.OG-blotter-dialog select{
	width: 50%
} 