<?xml version="1.0" encoding="UTF-8"?>
<fudgeEnvelope>
  <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.curve.CurveNodeIdMapper</fudgeField0>
  <name type="string">JPY BasisSwap 3M Bloomberg Mapper</name>
  <swapIds type="message">
    <P18M type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~JYBC1F Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P18M>
    <P2Y type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~JYBC2 Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P2Y>
    <P3Y type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~JYBC3 Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P3Y>
    <P4Y type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~JYBC4 Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P4Y>
    <P5Y type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~JYBC5 Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P5Y>
    <P6Y type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~JYBC6 Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P6Y>
    <P7Y type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~JYBC7 Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P7Y>
    <P8Y type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~JYBC8 Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P8Y>
    <P9Y type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~JYBC9 Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P9Y>
    <P10Y type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~JYBC10 Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P10Y>
    <P12Y type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~JYBC12 Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P12Y>
    <P15Y type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~JYBC15 Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P15Y>
    <P20Y type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~JYBC20 Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P20Y>
    <P25Y type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~JYBC25 Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P25Y>
    <P30Y type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~JYBC30 Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P30Y>
    <P35Y type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~JYBC35 Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P35Y>
    <P40Y type="message">
      <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.ircurve.StaticCurveInstrumentProvider</fudgeField0>
      <instrument type="string">BLOOMBERG_TICKER~JYBC40 Curncy</instrument>
      <dataField type="string">Market_Value</dataField>
      <typeField type="string">OUTRIGHT</typeField>
    </P40Y>
  </swapIds>
  <fudgeField0 ordinal="0" type="string">com.opengamma.financial.analytics.curve.CurveNodeIdMapper</fudgeField0>
</fudgeEnvelope>
