/*
 * Common generic styles
 *
 * Copyright 2009 - present by OpenGamma Inc. and the OpenGamma group of companies
 * Please see distribution for license.
 *
 */

.OG-logo-light:before {
  background: url('/prototype/images/common/sprites/main-sprite-sheet.png');
  content: "";
  cursor: pointer;
  background-position: 0 -91px;
  height: 22px;
  width: 126px;
  position: absolute;
}