/*
 * Copyright 2009 - present by OpenGamma Inc. and the OpenGamma group of companies
 * Please see distribution for license.
 */

.OG-g-row {
    position: absolute;
    width: 100%;
}

.OG-g-b {
    position: relative;
}

.OG-g-loading-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background-color: #fff;
    opacity: .5;
}

.OG-g-loading {
    font: 10px;
    text-transform: uppercase;
    display: block;
    left: 50%;
    top: 50%;
    position: absolute;
    margin-left: -75px;
    margin-top: -25px;
    z-index: 4;
}

.OG-g-loading .OG-loader {
    display: block;
    margin-top: 2px;
}

.OG-g-cell {
    position: absolute;
    overflow: hidden;
    border: 1px solid transparent;
    text-overflow: ellipsis;
    padding: 0 0 0 5px;
    cursor: default;
    white-space: nowrap;
}

.OG-g-cell.og-cell-highlight {
    background-color: #eee;
}

.OG-g-cell.og-error {
    color: #808080;
}

.OG-g-cell.og-log:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    -moz-transform: scale(.9999); /* Temporary fix for FF until mozilla patch bug */
}

.OG-g-cell.og-log-ERROR:after {
    border-top-color: #960000;
}

.OG-g-cell.og-log-WARN:after {
    border-top-color: #e58600;
}

.OG-g-cell.og-log-INFO:after {
    border-top-color: #487287;
}

.OG-g-h-fixed, .OG-g-b-fixed,
.OG-g-h-scroll, .OG-g-b-scroll {
    position: absolute;
    background: #fff;
}

.OG-g-h-scroll {
    background-color: #ecf5fa;
    overflow: hidden;
}

.OG-g-b-fixed {
    overflow-y: auto; overflow-x: hidden
}

.OG-g-b-scroll {
    overflow: scroll;
}


/* Header */
.OG-g-h-col {
    position: absolute;
    overflow: hidden;
    height: 30px;
    line-height: 30px;
    border: 1px solid transparent;
    border-bottom: 1px solid #dadcdd;
    border-right: 1px solid #dadcdd;
    text-overflow: ellipsis;
    background: #ecf5fa;
    padding: 0 0 0 4px;
    white-space: nowrap;
}

.OG-g-h-resize {
    float: right;
    position: absolute;
    right: -3px;
    top: 0;
    height: 100%;
    width: 3px;
    cursor: ew-resize;
    border-left: 3px solid transparent;
}

.OG-g-h-resize:hover {
    border-left-color: #999;
}

.OG-g-h-line {
    border-left: 1px dotted #000;
    position: absolute;
    z-index: 5;
}

.OG-g-h-reorderer {
    position: absolute;
    font-weight: bold;
    border: 2px dotted #555;
    padding: 4;
    margin: 0;
    z-index: 1;
}

.OG-g-h-set-name {
    background: #eee;
    height: 18px;
    position: absolute;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    cursor: default;
    font-size: 10px;
    color: #555;
    text-shadow: 0 1px 0 #fff;
    padding: 2px 3px;
}

.OG-g-h-set-name:after {
    display: block;
    content: '';
    background: #fafafa;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 50%;
    left: 0;
}

.OG-g-h-set-name div {
    position: relative;
    z-index: 2;
}

.OG-g-h-scroll .OG-g-h-set-name div {
    display: inline-block;
    background: #dadcdd;
    border-top: 1px solid #d6d8d9;
    border-left: 1px solid #d6d8d9;
    font-size: 10px;
    height: 14px;
    line-height: 14px;
    padding: 1px 2px 2px 2px;
    text-shadow: none;
}

.OG-g-h-cols {
    position: relative;
    font-weight: bold;
}

/* Fixed Cols */
.OG-g-h-fixed, .OG-g-b-fixed {
    background: #ecf5fa;
}

/* Selection Overlay */
.OG-g-sel {
    background: #ff0000;
    opacity: 0.4;
    filter:alpha(opacity=40);
    z-index: 1;
    position: absolute;
}

/* Selection Overlay Copyable */
.OG-g-cop {
    background: #42669a;
}

/* Indicator area */
.OG-g-cell .og-icon-tick-down,
.OG-g-cell .og-icon-tick-up,
.OG-g-cell .og-icon-tick-static {
    position: absolute;
    top: 6px;
    right: 13px;
}

/* negative value */
.OG-g .og-neg {
    color: #a62a2a;
}

/* column type styles */
.OG-g-LABELLED_MATRIX_1D, .OG-g-LABELLED_MATRIX_2D, .OG-g-LABELLED_MATRIX_3D,
.OG-g-UNPLOTTABLE_SURFACE_DATA, .OG-g-VECTOR, .OG-g-DOUBLE_GADGET {
    text-align: right;
    padding-right: 4px;
}