/*
 * Copyright 2012 - present by OpenGamma Inc. and the OpenGamma group of companies
 * Please see distribution for license.
 */

.OG-tab-overflow-panel {
    position: absolute;
    z-index: 2;
    background: #fff!important;
    border: 1px solid #ccc!important;
    display: none;
    height: auto;
}

.OG-tab-overflow-panel li {
    padding: 2px 5px 2px 5px;
    list-style: none;
    text-transform: uppercase;
    font-size: 10px;
}

.OG-tab-overflow-panel li:hover {
    background-color: #01467a;
    color: #fff;
    cursor: default;
}

.OG-tab-overflow-panel .OG-multiselect {
    display: none;
}

.OG-tab-overflow-panel .OG-gadget-tabs-label {
    top: 0;
}