/*
 * Common generic styles
 *
 * Copyright 2009 - present by OpenGamma Inc. and the OpenGamma group of companies
 * Please see distribution for license.
 *
 */

.OG-footer {
  bottom: 5px;
  left: 5px;
  position: absolute;
  height: 25px;
  right: 5px;
}

.OG-footer small {
  color: #fff;
  padding: 5px 0 0 135px;
  display: inline-block;
}