/*
 * Common generic styles
 *
 * Copyright 2009 - present by OpenGamma Inc. and the OpenGamma group of companies
 * Please see distribution for license.
 *
 */

.OG-logo-light-small:before {
  background: url('/prototype/images/common/sprites/main-sprite-sheet.png');
  content: "";
  cursor: pointer;
  background-position: -46px -60px;
  height: 14px;
  width: 80px;
  position: absolute;
}