input[type="text"] {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-top: 1px solid #abadb3;
    border-right: 1px solid #e3e9ef;
    border-bottom: 1px solid #e3e9ef;
    border-left: 1px solid #e3e9ef;
}