/**
 * Copyright 2009 - present by OpenGamma Inc. and the OpenGamma group of companies
 * Please see distribution for license.
 */

/*
* Page Masthead styles
*
* Copyright 2009 - present by OpenGamma Inc. and the OpenGamma group of companies
* Please see distribution for license.
*/

.OG-tabs {
  position: relative;
}

.OG-tabs li {
  display: inline-block;
  margin: 0 5px 0 0;
}

.OG-tabs a {
  color: #555;
  display: inline-block;
  padding: 7px 5px 12px 5px;
  text-decoration: none;
}

.OG-tabs a:hover {
  color: #61d050;
}

/* ACTIVE */
.OG-tabs .og-active {
  -webkit-border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  background: #363f47;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  color: #fff;
  position: relative;
}

.OG-tabs .og-active:hover {
  color: #fff;
}

.OG-tabs .og-active:before {
  -moz-box-shadow: 0 100px 1.5em #fff;
  -webkit-box-shadow: 0 100px 1.5em #fff;
  background-color: transparent;
  content: "";
  display: inline-block;
  height: 80%;
  opacity: 0.2;
  filter: alpha(opacity=20);
  position: absolute;
  top: -96px;
  left: 10%;
  width: 80%;
}

/* NEW */
.OG-tabs .og-new {
  color: #61d050;
  position: relative;
  margin-left: 5px;
}

.OG-tabs .og-new:after {
  content: '';
  height: 1px;
  position: absolute;
  bottom: 15px;
  left: 10px;
  right: 9px;
  border-bottom: 1px solid #d7f3d3;
}

.OG-tabs .og-new:hover:after {
  border-bottom-color: #61d050;
}

.OG-tabs .og-new:before {
  background: url('/prototype/images/common/sprites/main-sprite-sheet.png');
  content: "";
  cursor: pointer;
  background-position: 0 -9px;
  height: 6px;
  width: 6px;
  position: absolute;
  left: 0;
  top: 14px;
}

.OG-tabs .og-home.og-active:before {
  background-position: -20px -75px;
}

.OG-tabs .og-home {
  width: 18px;
}

.OG-tabs a {
  border-bottom: none;
}

.OG-tabs .og-home:after {
  background: url('/prototype/images/common/sprites/main-sprite-sheet.png');
  content: "";
  cursor: pointer;
  background-position: 0 -75px;
  height: 16px;
  width: 17px;
  position: absolute;
  top: 8px; left: 6px;
}

.OG-tabs.og-tab-hat:after {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  outline: 1px solid #fff;
  content: '';
  background-color: #2b343c;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
}