/*
 * Copyright 2009 - present by OpenGamma Inc. and the OpenGamma group of companies
 * Please see distribution for license.
 */

.OG-versions header {
  padding: 10px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.OG-versions .og-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.OG-versions table {
  width: 100%;
}

.OG-versions td,
.OG-versions th {
  padding:  0 10px 0 10px;
}

.OG-versions td span {
  color: #999;
}

.OG-versions th {
  text-align: left;
  padding-bottom: 5px;
}

.OG-versions tbody tr:hover {
  background-color: #f3f1e7;
  color: #487287;
  cursor: default;
}

.OG-versions .og-selected a {
  font-weight: bold;
  color: #555;
  border: none;
}

.OG-versions .og-selected a:after {
  content: ' (viewing)'
}

.OG-versions .og-version-header {
  margin-right: 20px;
}

.OG-versions colgroup {
  width: 33%;
}

.OG-versions {
  border: 1px solid #ffdd00!important;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.OG-versions .ui-layout-header {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQAKtra2SjDA+iFNdXf0cLADjgNiMyByQAACIGw2tx0FNhwAAAABJRU5ErkJggg==);
  background-color: #fffdf2;
  margin: 1px;
}

.OG-versions .ui-layout-content {
  overflow: scroll;
  overflow-x: auto;
  overflow-y: scroll;
  margin: 1px;
}

.OG-versions th {
  font-weight: normal;
  color: #999;
}

.OG-versions th:first-child {
  color: inherit;
}

.OG-versions .og-divider {
  border-bottom: 4px solid #f3f1e7;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  clear: both;
  height: 0;
  outline: 1px solid #fff;
}