/**
 * Copyright 2009 - present by OpenGamma Inc. and the OpenGamma group of companies
 * Please see distribution for license.
 */

input[type="text"],
input[type="password"] {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border-bottom: 1px solid #e3e9ef;
  border-left: 1px solid #e3e9ef;
  border-right: 1px solid #e3e9ef;
  border-top: 1px solid #abadb3;
}