/**
 * Toolbar buttons
 */
.OG-toolbar .OG-favorites {
    position: absolute;
    margin-top: 4px;
}

.OG-toolbar .og-favorites:before {
    margin-right: 5px;
    margin-top: 4px;
}

.OG-toolbar .og-icons {
  height: 30px;
  left: 5px;
}

.OG-toolbar .OG-icon {
  position: relative;
  display: inline-block;
  height: 21px;
  background-color: transparent;
  padding-top: 9px;
}

.OG-toolbar .og-title {
    position: relative;
    padding-right: 20px;
    float: left;
}

/**
 * Divider for icons
 */
.OG-toolbar .og-icon-divider {
  height: 30px;
  border-left: 1px solid #efefef;
  border-right: 1px solid #d9d9d9;
  display: inline-block;
  margin: 0 3px;
}

.OG-toolbar .og-title {
  position: relative;
  padding-right: 20px;
  float: left;
}

.OG-toolbar .og-active, .OG-toolbar .og-active:hover {
  background: #e4e4e5;
  border-left: 1px solid #fff;
  border-right: 1px solid transparent;
  color: #626262;
  cursor: default;
}

.OG-toolbar .og-active span {
  text-shadow: 0 1px 0 #fff;
}

.OG-toolbar .og-tab:first-child span {
  margin-left: 0!important;
}