/*
* Page Masthead styles
*
* Copyright 2009 - present by OpenGamma Inc. and the OpenGamma group of companies
* Please see distribution for license.
*/

.OG-main {
  margin-top: 3em;
  position: relative;
  z-index: 1;
}