.OG-tools .og-divider {
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #f1f1f1;
  margin: 0 -3px;
}

.OG-tools span {
  position: absolute;
  padding: 2px 5px;
  background: #2b343c;
  color: #fff;
  right: 20px;
  display: none;
  cursor: default;
}

.OG-tools span:after {
  content: '';
  position: absolute;
  right: -5px;
  top: 8px;
  display: block;
  border-top: 4px solid transparent;
  border-left: 5px solid #2b343c;
  border-bottom: 4px solid transparent;
}