/*
* Page Masthead styles
*
* Copyright 2009 - present by OpenGamma Inc. and the OpenGamma group of companies
* Please see distribution for license.
*/

.OG-header-generic {
    padding-bottom: 10px;
    z-index: 1;
}

.OG-header-generic small {
    color: #999;
    display: block;
    font-size: 10px;
}

.OG-header-generic .OG-link-small {
    margin-right: 10px;
}

.OG-header-generic .og-h1-label {
    color: #999;
    display: inline-block;
    font-family: 'Open Sans', arial, serif;
    font-size: 30px;
    line-height: 35px;
    margin: 0 5px 15px 0;
}