/*
* Page Masthead styles
*
* Copyright 2009 - present by OpenGamma Inc. and the OpenGamma group of companies
* Please see distribution for license.
*/

.OG-masthead {
  top: 5px;
  position: absolute!important;
  height: 3em;
}

.OG-masthead a {
    text-shadow: 0 1px 0 #fff;
}

.OG-masthead a.og-active {
    text-shadow: inherit;
}

.OG-masthead a:hover {
  text-shadow: inherit;
  color: #fff;
}