@font-face {
    /* A font by Jos Buivenga (exljbris) -> http://www.exljbris.com */
    font-family: 'MuseoSans500';
    src: url('https://opengamma.com/res/display/default/fonts/MuseoSans500/MuseoSans_500-webfont.eot');
    src: url('https://opengamma.com/res/display/default/fonts/MuseoSans500/MuseoSans_500-webfont.eot?iefix') format('eot'),
         url('https://opengamma.com/res/display/default/fonts/MuseoSans500/MuseoSans_500-webfont.woff') format('woff'),
         url('https://opengamma.com/res/display/default/fonts/MuseoSans500/MuseoSans_500-webfont.ttf') format('truetype'),
         url('https://opengamma.com/res/display/default/fonts/MuseoSans500/MuseoSans_500-webfont.svg#webfont8VbsAwew') format('svg');
    font-weight: normal;
    font-style: normal;
}

pre {
    width: 840px;
    overflow: auto;
}

body,div,p,ul,ol,li,dl,dt,dd,pre,blockquote,form,fieldset,table,tr,th,td,h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

body {
	font-family: Arial, sans-serif;
	background: #f9fbfc;
	margin: 0;
	padding: 0;
	font-size: 12px;
	line-height: 1.6;
	color: #333;
	min-width: 900px;
}

#og_container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -180px auto;
}

#og_push {
	clear: both;
	height: 180px;
	margin: 0 auto;
}

img, a img {
	border: 0;
}

ul {
	list-style: none;
}

#og_masthead {
	background: #e0ebef url(../chrome/masthead_bg.png) 50% 0 no-repeat;
}

#og_logo {
	margin: 0 auto;
	width: 585px;
	padding: 18px 0;
	line-height: 45px;
	vertical-align: middle;
	position: relative;
	left: -132px;
}

#og_logo img {
	position: relative;
	top: 8px;
}

#og_logo a {
	text-decoration: none;
}

#og_logo span {
	font-family: 'MuseoSlab500', sans-serif;
	font-weight: normal;
	color: #477187;
	font-size: 32px;
	margin-left: 14px;
	border-left: 1px solid #99b1be;
	padding-left: 15px;
}



#og_login {
	margin: -97px auto 0 auto;
	width: 280px;
	height: 97px;
	padding: 0;
	line-height: 45px;
	vertical-align: middle;
	position: relative;
	left: 300px;
}

#og_login_btn {
	display: block;
	margin: 0 0 0 auto;
	width: 87px;
	line-height: 23px;
	vertical-align: middle;
	text-align: center;
	position: relative;
	top: 40px;
	background: #477187 url(../chrome/login_btn.png) 0 0 no-repeat;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}

a#og_login_btn:link,
a#og_login_btn:visited {
	background-position: 0 0;
}

a#og_login_btn:hover,
a#og_login_btn:focus,
a#og_login_btn:active {
	background-position: 0 -23px;
}



#og_pagetitle {
	background: transparent url(../chrome/pagetitle_bg.png) 0 0 repeat-x;
}

#og_pagetitle h1 {
	font-family: 'MuseoSlab500', sans-serif;
	font-weight: normal;
	margin: 0 auto 15px auto;
	width: 820px;
	padding: 42px 10px 10px 10px;
	border-bottom: 2px solid #979898;
	position: relative;
	left: 30px;
	line-height: 1.2;
	font-size: 32px;
}

#og_outerwrapper {
	float: left;
	width: 100%;
}

#og_outerwrapper.og_with_sidebar {
	background: transparent url(../chrome/sidebar_bg.png) 50% 0 repeat-y;
}

#og_innerwrapper {
	margin: 0 auto;
	width: 840px;
	overflow: visible;
	position: relative;
	left: 30px;
}

#og_content {
	float: left;
	width: 540px;
	margin: 0;
	padding: 0 10px;
}

#og_sidebar {
	float: left;
	width: 240px;
	margin: 0 auto 0 20px;
	padding: 0 10px;
}

#og_footer {
	clear: both;
	width: 100%;
	padding: 0;
	background: #313b44 url(../chrome/footer_bg.png) 0 0 repeat-x;
	border-top: 40px solid #f9fbfb;
}

#og_footer div {
	position: relative;
	margin: 0 auto;
	width: 850px;
	height: 60px;
	padding: 80px 0 0 0;	
	overflow: visible;	
	background: transparent url(../chrome/footer_logo.png) 1px 43px no-repeat;
	position: relative;
	left: 25px;
}

#og_footer p {
	float: left;
	width: 540px;
	color: #fff;
	line-height: 1;
	margin: 0 0 0 20px;
}

#og_footer ul {
	float: right;
	width: 239px;
	color: #fff;
	padding: 0 10px;
}

#og_footer li {
	float: left;
	display: inline;
	line-height: 1;
	font-weight: bold;
	margin-right: 68px;
}

#og_footer li a:link,
#og_footer li a:visited {
	color: #fff;
	text-decoration: none;
}

#og_footer li a:hover,
#og_footer li a:active,
#og_footer li a:focus {
	color: #ccd8df;
	text-decoration: none;
	border-bottom: 1px dotted #ccd8df;
}

/* CONTENT STYLES */

#og_content p,
#og_content ul,
#og_content ol,
#og_content dl,
#og_content table {
	margin: 15px 0;
}

#og_innerwrapper a:link,
#og_innerwrapper a:visited {
	color: #033c5a;
	text-decoration: none;
	border-bottom: 1px solid #9ab1bd;
}

#og_innerwrapper a:hover,
#og_innerwrapper a:active,
#og_innerwrapper a:focus {
	color: #ff6a3c;
	text-decoration: none;
	border-bottom: 1px dotted #ff6a3c;
}

#og_content ul,
#og_content ol {
	padding-left: 20px;
}

#og_content li {
	margin: 8px 0;
	padding-left: 10px;
}

#og_content ul li {
	list-style-type: circle;
}

#og_content h2 {
	font-family: 'MuseoSlab500', sans-serif;
	margin: 25px 0 -5px 0;
	font-size: 22px;
	font-weight: normal;
}

#og_content h3 {
	font-family: 'MuseoSlab500', sans-serif;
	margin: 25px 0 -5px 0;
	font-size: 18px;
	font-weight: normal;
}

#og_content h4 {
	font-family: 'MuseoSlab500', sans-serif;
	margin: 25px 0 -5px 0;
	font-size: 15px;
	font-weight: normal;
	color: #666;
}

#og_content table {
	width: 100%;
	margin: 30px 0;
}

#og_content table caption {
	font-family: 'MuseoSlab500', sans-serif;
	color: #979898;
	text-align: center;
}

#og_content th {
	background: #e4e8ea;
	vertical-align: top;
	border: 1px solid #e4e8ea;
	font-weight: bold;
	padding: 2px 4px;
	margin: 2px;
	text-align: left;
}

#og_content td {
	vertical-align: top;
	border: 1px solid #e4e8ea;
	padding: 2px 4px;
	margin: 2px;
	text-align: left;
}

#og_content table .numeric {
	text-align: right;
}

#og_sidebar .og_links {
	margin-top: 10px;
	font-size: 14px;
	line-height: 1;
}

#og_sidebar .og_links li {
	margin-bottom: 10px;
}
