*~
foo~
*.class
*.log
build/
dist/
doc/
generated/
ivy/
lib/
temp/
tests/classes/
tests/output/
.settings/org.eclipse.ltk.core.refactoring.prefs
/.fudge-proto-gitignore
/MANIFEST.MF
.clover/
.DS_Store
