<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.testng.eclipse.launchconfig">
<listAttribute key="com.mountainminds.eclemma.core.SCOPE_IDS">
<listEntry value="=og-analytics/src\/main\/java"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.testng.remote.RemoteTestNG"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="og-analytics"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xmx2048m"/>
<mapAttribute key="org.testng.eclipse.ALL_CLASS_METHODS"/>
<listAttribute key="org.testng.eclipse.CLASS_TEST_LIST"/>
<listAttribute key="org.testng.eclipse.GROUP_LIST"/>
<listAttribute key="org.testng.eclipse.GROUP_LIST_CLASS"/>
<stringAttribute key="org.testng.eclipse.LOG_LEVEL" value="2"/>
<listAttribute key="org.testng.eclipse.METHOD_TEST_LIST"/>
<listAttribute key="org.testng.eclipse.PACKAGE_TEST_LIST">
<listEntry value="com.opengamma.analytics.financial.calculator"/>
<listEntry value="com.opengamma.analytics.financial.commodity.definition"/>
<listEntry value="com.opengamma.analytics.financial.commodity"/>
<listEntry value="com.opengamma.analytics.financial.covariance"/>
<listEntry value="com.opengamma.analytics.financial.credit.calibratehazardratecurve"/>
<listEntry value="com.opengamma.analytics.financial.credit.calibratehazardratecurve.standard"/>
<listEntry value="com.opengamma.analytics.financial.credit.calibratehazardratecurve.vanilla"/>
<listEntry value="com.opengamma.analytics.financial.credit.centralcounterparty"/>
<listEntry value="com.opengamma.analytics.financial.credit.correlationmodel"/>
<listEntry value="com.opengamma.analytics.financial.credit.creditdefaultswap"/>
<listEntry value="com.opengamma.analytics.financial.credit.creditdefaultswap.calibration.legacy"/>
<listEntry value="com.opengamma.analytics.financial.credit.creditdefaultswap.calibration.standard"/>
<listEntry value="com.opengamma.analytics.financial.credit.creditdefaultswap.calibration.standard"/>
<listEntry value="com.opengamma.analytics.financial.credit.creditdefaultswap.definition"/>
<listEntry value="com.opengamma.analytics.financial.credit.creditdefaultswap.definition.standard"/>
<listEntry value="com.opengamma.analytics.financial.credit.creditdefaultswap.greeks"/>
<listEntry value="com.opengamma.analytics.financial.credit.creditdefaultswap.greeks.legacy.vanilla"/>
<listEntry value="com.opengamma.analytics.financial.credit.creditdefaultswap.greeks.vanilla.isda"/>
<listEntry value="com.opengamma.analytics.financial.credit.creditdefaultswap.pricing"/>
<listEntry value="com.opengamma.analytics.financial.credit.creditdefaultswap.pricing.standard"/>
<listEntry value="com.opengamma.analytics.financial.credit.creditdefaultswap.pricing.vanilla.isda"/>
<listEntry value="com.opengamma.analytics.financial.credit.creditdefaultswapoption.definition"/>
<listEntry value="com.opengamma.analytics.financial.credit.creditdefaultswapoption.greeks"/>
<listEntry value="com.opengamma.analytics.financial.credit.creditdefaultswapoption.pricing"/>
<listEntry value="com.opengamma.analytics.financial.credit.indexcreditdefaultswap.definition"/>
<listEntry value="com.opengamma.analytics.financial.credit.indexcreditdefaultswap.greeks"/>
<listEntry value="com.opengamma.analytics.financial.credit.indexcreditdefaultswap.pricing"/>
<listEntry value="com.opengamma.analytics.financial.credit.isdamasteragreement"/>
<listEntry value="com.opengamma.analytics.financial.credit.isdayieldcurve"/>
<listEntry value="com.opengamma.analytics.financial.credit.nettingmodel"/>
<listEntry value="com.opengamma.analytics.financial.credit.obligormodel"/>
<listEntry value="com.opengamma.analytics.financial.credit.portfoliolosssimulationmodel"/>
<listEntry value="com.opengamma.analytics.financial.credit.ratingtransitionmodel"/>
<listEntry value="com.opengamma.analytics.financial.credit.recoveryratemodel"/>
<listEntry value="com.opengamma.analytics.financial.credit.schedulegeneration"/>
<listEntry value="com.opengamma.analytics.financial.credit.schedulegeneration.isda"/>
<listEntry value="com.opengamma.analytics.financial.credit.underlyingpool"/>
<listEntry value="com.opengamma.analytics.financial.curve.interestrate.building"/>
<listEntry value="com.opengamma.analytics.financial.curve.interestrate.generator"/>
<listEntry value="com.opengamma.analytics.financial.equity.capm"/>
<listEntry value="com.opengamma.analytics.financial.equity.future"/>
<listEntry value="com.opengamma.analytics.financial.equity.future.pricing"/>
<listEntry value="com.opengamma.analytics.financial.equity.option"/>
<listEntry value="com.opengamma.analytics.financial.equity.variance"/>
<listEntry value="com.opengamma.analytics.financial.forex.calculator"/>
<listEntry value="com.opengamma.analytics.financial.forex.convention"/>
<listEntry value="com.opengamma.analytics.financial.forex.conversion"/>
<listEntry value="com.opengamma.analytics.financial.forex.definition"/>
<listEntry value="com.opengamma.analytics.financial.forex.derivative"/>
<listEntry value="com.opengamma.analytics.financial.forex.method"/>
<listEntry value="com.opengamma.analytics.financial.greeks"/>
<listEntry value="com.opengamma.analytics.financial.instrument"/>
<listEntry value="com.opengamma.analytics.financial.instrument.annuity"/>
<listEntry value="com.opengamma.analytics.financial.instrument.bond"/>
<listEntry value="com.opengamma.analytics.financial.instrument.cash.definition"/>
<listEntry value="com.opengamma.analytics.financial.instrument.fra"/>
<listEntry value="com.opengamma.analytics.financial.instrument.future"/>
<listEntry value="com.opengamma.analytics.financial.instrument.index"/>
<listEntry value="com.opengamma.analytics.financial.instrument.index.generator"/>
<listEntry value="com.opengamma.analytics.financial.instrument.index.iborindex"/>
<listEntry value="com.opengamma.analytics.financial.instrument.index.indexon"/>
<listEntry value="com.opengamma.analytics.financial.instrument.inflation"/>
<listEntry value="com.opengamma.analytics.financial.instrument.payment"/>
<listEntry value="com.opengamma.analytics.financial.instrument.swap"/>
<listEntry value="com.opengamma.analytics.financial.instrument.swaption"/>
<listEntry value="com.opengamma.analytics.financial.interestrate"/>
<listEntry value="com.opengamma.analytics.financial.interestrate.annuity"/>
<listEntry value="com.opengamma.analytics.financial.interestrate.annuity.definition"/>
<listEntry value="com.opengamma.analytics.financial.interestrate.annuity.method"/>
<listEntry value="com.opengamma.analytics.financial.interestrate.annuity.provider"/>
<listEntry value="com.opengamma.analytics.financial.interestrate.bond.definition"/>
<listEntry value="com.opengamma.analytics.financial.interestrate.bond.method"/>
<listEntry value="com.opengamma.analytics.financial.interestrate.bond.provider"/>
<listEntry value="com.opengamma.analytics.financial.interestrate.capletstripping"/>
<listEntry value="com.opengamma.analytics.financial.interestrate.cash.derivative"/>
<listEntry value="com.opengamma.analytics.financial.interestrate.cash.method"/>
<listEntry value="com.opengamma.analytics.financial.interestrate.cash.provider"/>
<listEntry value="com.opengamma.analytics.financial.interestrate.curve"/>
<listEntry value="com.opengamma.analytics.financial.interestrate.fra"/>
<listEntry value="com.opengamma.analytics.financial.interestrate.fra.derivative"/>
<listEntry value="com.opengamma.analytics.financial.interestrate.fra.method"/>
<listEntry value="com.opengamma.analytics.financial.interestrate.fra.provider"/>
<listEntry value="com.opengamma.analytics.financial.interestrate.future.derivative"/>
<listEntry value="com.opengamma.analytics.financial.interestrate.future.method"/>
<listEntry value="com.opengamma.analytics.financial.interestrate.future.provider"/>
<listEntry value="com.opengamma.analytics.financial.interestrate.inflation.derivatives"/>
<listEntry value="com.opengamma.analytics.financial.interestrate.inflation.method"/>
<listEntry value="com.opengamma.analytics.financial.interestrate.inflation.provider"/>
<listEntry value="com.opengamma.analytics.financial.interestrate.market"/>
<listEntry value="com.opengamma.analytics.financial.interestrate.method"/>
<listEntry value="com.opengamma.analytics.financial.interestrate.payments"/>
<listEntry value="com.opengamma.analytics.financial.interestrate.payments.derivative"/>
<listEntry value="com.opengamma.analytics.financial.interestrate.payments.method"/>
<listEntry value="com.opengamma.analytics.financial.interestrate.payments.provider"/>
<listEntry value="com.opengamma.analytics.financial.interestrate.swap"/>
<listEntry value="com.opengamma.analytics.financial.interestrate.swap.definition"/>
<listEntry value="com.opengamma.analytics.financial.interestrate.swap.method"/>
<listEntry value="com.opengamma.analytics.financial.interestrate.swap.provider"/>
<listEntry value="com.opengamma.analytics.financial.interestrate.swaption.derivative"/>
<listEntry value="com.opengamma.analytics.financial.interestrate.swaption.method"/>
<listEntry value="com.opengamma.analytics.financial.interestrate.swaption.provider"/>
<listEntry value="com.opengamma.analytics.financial.model.finitedifference"/>
<listEntry value="com.opengamma.analytics.financial.model.finitedifference.applications"/>
<listEntry value="com.opengamma.analytics.financial.model.interestrate"/>
<listEntry value="com.opengamma.analytics.financial.model.interestrate.curve"/>
<listEntry value="com.opengamma.analytics.financial.model.interestrate.definition"/>
<listEntry value="com.opengamma.analytics.financial.model.option.definition"/>
<listEntry value="com.opengamma.analytics.financial.model.option.definition.twoasset"/>
<listEntry value="com.opengamma.analytics.financial.model.option.pricing"/>
<listEntry value="com.opengamma.analytics.financial.model.option.pricing.analytic"/>
<listEntry value="com.opengamma.analytics.financial.model.option.pricing.analytic.formula"/>
<listEntry value="com.opengamma.analytics.financial.model.option.pricing.analytic.twoasset"/>
<listEntry value="com.opengamma.analytics.financial.model.option.pricing.fourier"/>
<listEntry value="com.opengamma.analytics.financial.model.option.pricing.montecarlo"/>
<listEntry value="com.opengamma.analytics.financial.model.option.pricing.tree"/>
<listEntry value="com.opengamma.analytics.financial.model.stochastic"/>
<listEntry value="com.opengamma.analytics.financial.model.tree"/>
<listEntry value="com.opengamma.analytics.financial.model.volatility"/>
<listEntry value="com.opengamma.analytics.financial.model.volatility.curve"/>
<listEntry value="com.opengamma.analytics.financial.model.volatility.local"/>
<listEntry value="com.opengamma.analytics.financial.model.volatility.smile.fitting"/>
<listEntry value="com.opengamma.analytics.financial.model.volatility.smile.fitting.sabr"/>
<listEntry value="com.opengamma.analytics.financial.model.volatility.smile.function"/>
<listEntry value="com.opengamma.analytics.financial.model.volatility.surface"/>
<listEntry value="com.opengamma.analytics.financial.pnl"/>
<listEntry value="com.opengamma.analytics.financial.provider.calculator.blackcap"/>
<listEntry value="com.opengamma.analytics.financial.provider.calculator.blackforex"/>
<listEntry value="com.opengamma.analytics.financial.provider.calculator.blackstirfutures"/>
<listEntry value="com.opengamma.analytics.financial.provider.calculator.blackswaption"/>
<listEntry value="com.opengamma.analytics.financial.provider.calculator.g2pp"/>
<listEntry value="com.opengamma.analytics.financial.provider.calculator.generic"/>
<listEntry value="com.opengamma.analytics.financial.provider.calculator.hullwhite"/>
<listEntry value="com.opengamma.analytics.financial.provider.calculator.issuer"/>
<listEntry value="com.opengamma.analytics.financial.provider.calculator.libormarket"/>
<listEntry value="com.opengamma.analytics.financial.provider.calculator.normalstirfutures"/>
<listEntry value="com.opengamma.analytics.financial.provider.calculator.sabrcap"/>
<listEntry value="com.opengamma.analytics.financial.provider.calculator.sabrstirfutures"/>
<listEntry value="com.opengamma.analytics.financial.provider.calculator.sabrswaption"/>
<listEntry value="com.opengamma.analytics.financial.provider.curve"/>
<listEntry value="com.opengamma.analytics.financial.provider.curve.hullwhite"/>
<listEntry value="com.opengamma.analytics.financial.provider.curve.inflation"/>
<listEntry value="com.opengamma.analytics.financial.provider.curve.issuer"/>
<listEntry value="com.opengamma.analytics.financial.provider.curve.multicurve"/>
<listEntry value="com.opengamma.analytics.financial.provider.description.forex"/>
<listEntry value="com.opengamma.analytics.financial.provider.method"/>
<listEntry value="com.opengamma.analytics.financial.provider.sensitivity.blackcap"/>
<listEntry value="com.opengamma.analytics.financial.provider.sensitivity.blackforex"/>
<listEntry value="com.opengamma.analytics.financial.provider.sensitivity.blackstirfutures"/>
<listEntry value="com.opengamma.analytics.financial.provider.sensitivity.normalstirfutures"/>
<listEntry value="com.opengamma.analytics.financial.provider.sensitivity.sabrcap"/>
<listEntry value="com.opengamma.analytics.financial.provider.sensitivity.sabrstirfutures"/>
<listEntry value="com.opengamma.analytics.financial.riskfactor"/>
<listEntry value="com.opengamma.analytics.financial.riskreward"/>
<listEntry value="com.opengamma.analytics.financial.schedule"/>
<listEntry value="com.opengamma.analytics.financial.sensitivity"/>
<listEntry value="com.opengamma.analytics.financial.simpleinstruments.definition"/>
<listEntry value="com.opengamma.analytics.financial.simpleinstruments.derivative"/>
<listEntry value="com.opengamma.analytics.financial.timeseries.analysis"/>
<listEntry value="com.opengamma.analytics.financial.timeseries.filter"/>
<listEntry value="com.opengamma.analytics.financial.timeseries.model"/>
<listEntry value="com.opengamma.analytics.financial.timeseries.returns"/>
<listEntry value="com.opengamma.analytics.financial.timeseries.util"/>
<listEntry value="com.opengamma.analytics.financial.trade"/>
<listEntry value="com.opengamma.analytics.financial.var"/>
<listEntry value="com.opengamma.analytics.financial.var.conditional"/>
<listEntry value="com.opengamma.analytics.financial.var.parametric"/>
<listEntry value="com.opengamma.analytics.math"/>
<listEntry value="com.opengamma.analytics.math.cube"/>
<listEntry value="com.opengamma.analytics.math.curve"/>
<listEntry value="com.opengamma.analytics.math.differentiation"/>
<listEntry value="com.opengamma.analytics.math.fft"/>
<listEntry value="com.opengamma.analytics.math.function"/>
<listEntry value="com.opengamma.analytics.math.function.special"/>
<listEntry value="com.opengamma.analytics.math.integration"/>
<listEntry value="com.opengamma.analytics.math.interpolation"/>
<listEntry value="com.opengamma.analytics.math.interpolation.data"/>
<listEntry value="com.opengamma.analytics.math.linearalgebra"/>
<listEntry value="com.opengamma.analytics.math.matrix"/>
<listEntry value="com.opengamma.analytics.math.minimization"/>
<listEntry value="com.opengamma.analytics.math.number"/>
<listEntry value="com.opengamma.analytics.math.performance"/>
<listEntry value="com.opengamma.analytics.math.random"/>
<listEntry value="com.opengamma.analytics.math.regression"/>
<listEntry value="com.opengamma.analytics.math.rootfinding"/>
<listEntry value="com.opengamma.analytics.math.rootfinding.newton"/>
<listEntry value="com.opengamma.analytics.math.statistics"/>
<listEntry value="com.opengamma.analytics.math.statistics.descriptive"/>
<listEntry value="com.opengamma.analytics.math.statistics.descriptive.robust"/>
<listEntry value="com.opengamma.analytics.math.statistics.distribution"/>
<listEntry value="com.opengamma.analytics.math.statistics.estimation"/>
<listEntry value="com.opengamma.analytics.math.statistics.leastsquare"/>
<listEntry value="com.opengamma.analytics.math.surface"/>
<listEntry value="com.opengamma.analytics.math.util.wrapper"/>
<listEntry value="com.opengamma.analytics.math.utilities"/>
<listEntry value="com.opengamma.analytics.tutorial"/>
<listEntry value="com.opengamma.analytics.util.surface"/>
<listEntry value="com.opengamma.analytics.util.time"/>
<listEntry value="com.opengamma.financial.convention"/>
<listEntry value="com.opengamma.financial.convention.businessday"/>
<listEntry value="com.opengamma.financial.convention.calendar"/>
<listEntry value="com.opengamma.financial.convention.daycount"/>
<listEntry value="com.opengamma.financial.convention.frequency"/>
<listEntry value="com.opengamma.financial.convention.yield"/>
<listEntry value="com.opengamma.analytics.financial.commodity.calculation"/>
</listAttribute>
<mapAttribute key="org.testng.eclipse.PARAMETERS"/>
<intAttribute key="org.testng.eclipse.TYPE" value="5"/>
</launchConfiguration>
