<table class="OG-table">
  <thead>
    <tr><th><span>Position: ${template_data.name}</span></th><th>&nbsp;</th><th>&nbsp;</th></tr>
  </thead>
  <tbody>
  <tr>
    <td><a href=#/securities/${template_data.security_unique_id}>
     {{if template_data.security_name}}
        ${template_data.security_name}
     {{else}}
        (no value)
     {{/if}}
    </a></td>
    <td>
      <strong class="og-quantity" {{if editable}} data-og-editable="quantity" {{/if}}>${template_data.quantity}</strong>
    </td>
    <td>${template_data.security_type}</td>
  </tr>
  </tbody>
</table>
<div class="og-timeseries"></div>
<div>
  <table class="og-securities">
    <tbody class="og-js-identifiers">
      {{if securities[0]}}
        {{each securities}}
          <tr><td><span>${$value.scheme.lang()}</span></td><td>${$value.value.lang()}</td></tr>
        {{/each}}
      {{else}}
        <tr><td colspan="2">(no value)</td></tr>
      {{/if}}
    </tbody>
  </table>
</div>