/*
 * Custom Slickgrid styles
 *
 * Copyright 2009 - present by OpenGamma Inc. and the OpenGamma group of companies
 * Please see distribution for license.
 */

/* Remove borders from cells */
.slick-row {
    border: none;
}

/* Remove borders from cells */
.slick-cell, .slick-headerrow-column {
    border: none!important;
    padding: 0 0 0 4px;
}

/* Set default font color */
.ui-widget-content.slick-row {
    color: #999;
}

/* Set 'link' colour */
.ui-widget-content .slick-cell.og-link {
    color: #487287;
}

.ui-widget-content .slick-cell a {
    color: #487287;
}

.ui-widget-content .slick-cell a:hover {
  border-bottom: none;
}

.slick-row .og-uppercase {
  text-transform: uppercase;
}

/* Highlight rows on hover */
.slick-row:hover {
  background-color: #d7e7f2;
}

/* contexual button */
.slick-row:hover .og-button {
  display: none;
  height: 25px;
  position: absolute;
  right: 0;
  top: 0;
  width: 18px;
}

.slick-row:hover .og-button {
  display: block!important;
}

.slick-row .og-button .og-icon-delete {
  top: -6px;
  right: -5px;
}

/* Fix vertical alignment */
.ui-widget-content .slick-cell {
    line-height: 24px;
}

/* Empty cell */
.slick-row .og-no-content {
    color: #ddd;
    display: block;
    text-align: center;
}

.slick-row .selected {
  font-weight: bold;
}

.slick-header {
  position: relative;
  background: #d7e7f2;
  border: 1px solid #fff;
}

/*.slick-header input,*/
.slick-header select {
  z-index: 1;
}

.slick-header-columns:before {
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  background: #fff;
  bottom: 50%;
  content: '';
  left: 1px;
  opacity: 0.3;
  filter: alpha(opacity=30);
  position: absolute;
  top: 1px;
  right: 1px;
}

.ie8 .slick-header-columns:before {
  background: transparent;
}

.slick-resizable-handle {
  z-index: 1;
  width: 7px;
  opacity: 1;
}

.slick-resizable-handle:after {
  content: '';
  z-index: 1;
  border-right: 1px solid #fff;
  top: 2px;
  bottom: 2px;
  width: 5px;
  opacity: 1;
  position: absolute;
  opacity: 0.1;
}


.slick-resizable-handle:before {
  content: '';
  border-left: 1px solid #000;
  top: 2px;
  bottom: 2px;
  left: 6px;
  position: absolute;
  opacity: 0.1;
}

.slick-header-column.ui-state-default  {
  border-style: none;
  height: 19px;
  background: none;
}

.slick-column-name {
  color: #555;
  font-weight: bold;
  display: inline-block;
  line-height: 21px;
  vertical-align: middle;
}

.slick-column-name input,
.slick-column-name select {
    position: relative;
    top: -2px;
}

.grid-canvas {
  width: 100%!important;
}

.slick-viewport {
  overflow-y: scroll!important;
}

/**
 * Search
 **/
.OG-js-search .slick-header-column.ui-state-default  {
    border-style: none;
    background: none;
    height: 20px;
}

/**
 * Gadgets
 **/
.OG-gadget-container .slick-header {
    border-bottom: 1px solid #dadcdd;
    background-color: #ecf5fa;
}

.OG-gadget-container .slick-header-columns::before {
    content: none;
}

.OG-gadget-container .slick-row:hover {
    background-color: transparent;
}

.OG-gadget-container .grid-canvas .slick-cell{
  color: #555;
}

.OG-gadget-container .matrix .slick-row .l0 {
  background-color: #ecf5fa;
  color: #555;
  font-weight: bold;
}