*~
foo~
*.class
*.log
.project
.classpath
.checkstyle
/bin/
/build/
/dist/
/target/
/lib/
/ivy/
/temp/
/install/
tests/classes/
tests/output/
.settings/
MANIFEST.MF
.clover/
build.number
javadoc-data.json
*.pyc
*.iml
/target
/target
