<article>
  <header class="OG-header-generic">
    <div class="OG-tools"></div>
    <h1>{{html name}}</h1>
    <div class="OG-js-header-links"></div>
  </header>
  <section style="width: 800px">
    <div class="OG-details-content OG-js-details-panel">
      <section>
        <table class="OG-table">
          <col style="width: 40%" />
          <col style="width: 60%" />
            <thead>
            <tr>
              <th><span>Identifiers</span></th><th>&nbsp;</th>
            </tr>
          </thead>
          <tbody class="og-js-identifiers"></tbody>
        </table>
      </section>
      <section>
        <table class="OG-table">
          <col style="width: 40%" />
          <col style="width: 60%" />
          <thead>
            <tr>
              <th><span>${securityType.lang()}</span></th><th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr><td><span>Currency</span></td><td><span>${currency}</span></td></tr>
            <tr><td><span>Maturity Date</span></td><td><span>${maturityDate}</span></td></tr>
          </tbody>
        </table>
        <br/>
        <table class="OG-table">
          <col style="width: 40%" />
          <col style="width: 60%" />
          <thead>
            <tr>
              <th><span>Risk Factors</span></th><th>&nbsp;</th>
            </tr>
          </thead>
        </table>

        <table class="OG-table">
          <thead>
            <tr>
              <th>Factor Type</th>
              <th>Factor Name</th>
              <th>Node</th>
              <th>Price History</th>
              <th>Exposure History</th>
              <th>Convexity History</th>
            </tr>
          </thead>
          <tbody>
            {{each(factor_index, factor) underlyingFactors}}
            <tr>
              <td><span>${factor.factorType}</span></td>
              <td><span>${factor.factorName}</span></td>
              <td><span>${factor.node}</span></td>
              <td><span><a href="${factor.priceTsId}">Price</a></span></td>
              <td><span><a href="${factor.exposureTsId}">Exposure</a></span></td>
              <td><span><a href="${factor.convexityTsId}">Convexity</a></span></td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </section>
      <section class="OG-timeseries og-js-timeseries"></section>
    </div>
  </section>
</article>