<article>
  <header class="OG-header-generic">
    <div class="OG-tools"></div>
    <h1>{{html name}}</h1>
    <div class="OG-js-header-links"></div>
  </header>
  <section style="width: 800px">
    <div class="OG-details-content OG-js-details-panel">
      <section>
        <table class="OG-table">
          <col style="width: 40%" />
          <col style="width: 60%" />
            <thead>
            <tr>
              <th><span>Identifiers</span></th><th>&nbsp;</th>
            </tr>
          </thead>
          <tbody class="og-js-identifiers og-mod-content"></tbody>
        </table>
      </section>
      <section>
        <table class="OG-table">
          <col style="width: 40%" />
          <col style="width: 60%" />
          <thead>
            <tr>
              <th><span>${securityType}</span></th><th>&nbsp;</th>
            </tr>
          </thead>
        </table>
        <table class="OG-table">
          <thead>
            <tr>
              <th>Factor Set Id</th>
              <th>Factor Type</th>
              <th>Factor Name</th>
              <th>Node</th>
            </tr>
          </thead>
          <tbody>
            {{each(factor_index, factor) factors}}
            <tr>
              <td><span>${factor.factorSetExternalId}</span></td>
              <td><span>${factor.factorType}</span></td>
              <td><span>${factor.factorName}</span></td>
              <td><span>${factor.node}</span></td>
            </tr>
            {{/each}}
          </tbody>
        </table>
              
      </section>
      <section class="OG-timeseries og-js-timeseries"></section>
    </div>
  </section>
</article>