  <section>
    <table class="OG-table">
      <col style="width: 40%"/>
      <col style="width: 60%"/>
      <thead>
        <tr>
          <th colspan="2"><span><em>Attributes</em></span></th>
        </tr>
        <tr>
          <th>
            <div><em>Name</em></div>
          </th>
          <th>
            <div><em>Value</em></div>
          </th>
        </tr>
      </thead>
      <tbody>
        {{if attributes}}
          {{each(attribute_index, attribute_value) attributes}}
          <tr>
            <td>${attribute_index}</td>
            <td>${attribute_value}</td>
          </tr>
          {{/each}}
        {{else}}
          <tr>
            <td colspan="2"><span>(no values)</span></td>
          </tr>
        {{/if}}
      </tbody>
    </table>
  </section>