<div class="OG-security">
  <h1>
    <span class="OG-editable">${name}</span>
  </h1>
  <div class="og-box">
    <div class="og-lbl">
        <div>Type</div>
        <div>Exercise type</div>
        <div>Pay off style</div>
        <div>Option type</div>
        <div>Strike</div>
        <div>Expiry date</div>
        <div>Expiry accuracy</div>
        <div>Underlying identifier</div>
        <div>Currency</div>
    </div>
    <div class="og-cnt">
      <div><strong>${securityType}</strong></div>
      <div><strong>${exerciseType}</strong></div>
      <div><strong>${payOffStyle}</strong></div>
      <div><strong>${optionType}</strong></div>
      <div><strong>${strike}</strong></div>
      <div><strong>${expiryDate}</strong></div>
      <div><strong>${expiryAccuracy}</strong></div>
      <div><strong>${underlyingIdentifier}</strong></div>
      <div><strong>${currency}</strong></div>
    </div>
  </div>
  <div class="og-box">
    <div class="og-lbl">Identifiers</div>
    <div class="og-cnt og-js-identifiers"></div>
  </div>
</div>