<article>
  ${header}
  <section>
    <div class="OG-details-content OG-js-details-panel">
      <section class="og-js-identifiers"></section>
      <section>
        <table class="OG-table">
          <col style="width: 40%" />
          <col style="width: 60%" />
          <thead>
            <tr>
              <th><span><em>${securityType}</em></span></th><th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr><td><span>Currency</span></td><td>${currency}</td></tr>
            <tr><td><span>Base Currency</span></td><td>${baseCurrency}</td></tr>
            <tr><td><span>Counter Currency</span></td><td>${counterCurrency}</td></tr>
            <tr><td><span>Strike</span></td><td>${strike}</td></tr>
            <tr><td><span>Notional</span></td><td>${notional}</td></tr>
            <tr><td><span>Settlement Date</span></td><td>${settlementDate}</td></tr>
            <tr><td><span>Maturity Date</span></td><td>${maturityDate}</td></tr>
            <tr><td><span>Volatility Swap Type</span></td><td>${volatilitySwapType}</td></tr>
            <tr><td><span>Annualization Factor</span></td><td>${annualizationFactor}</td></tr>
            <tr><td><span>First Observation Date</span></td><td>${firstObservationDate}</td></tr>
            <tr><td><span>Last Observation Date</span></td><td>${lastObservationDate}</td></tr>
            <tr><td><span>Observation Frequency</span></td><td>${observationFrequency}</td></tr>
          </tbody>
        </table>
      </section>
      <section class="OG-timeseries-container"></section>
      ${attributes}
    </div>
  </section>
</article>
