<div class="OG-toolbar"></div>
<header class="OG-header-generic">
  <h1>${name}</h1>
  <div class="OG-js-header-links"></div>
</header>
<div class="OG-details-content OG-security">
  <div class="OG-c10 og-grid-last OG-max-width-l">
    <div class="og-box">
      <div class="og-lbl">
          <div>Type</div>
          <div>Exercise Type</div>
          <div>Pay Off Style</div>
          <div>Option Type</div>
          <div>Strike</div>
          <div>Expiry Date</div>
          <div>Expiry Accuracy</div>
          <div>Underlying Identifier</div>
          <div>Currency</div>
      </div>
      <div class="og-cnt">
        <div><strong>${securityType}</strong>&nbsp;</div>
        <div><strong>${exerciseType}</strong>&nbsp;</div>
        <div><strong>${payOffStyle}</strong>&nbsp;</div>
        <div><strong>${optionType}</strong>&nbsp;</div>
        <div><strong>${strike}</strong>&nbsp;</div>
        <div><strong>${expiryDate}</strong>&nbsp;</div>
        <div><strong>${expiryAccuracy}</strong>&nbsp;</div>
        <div><strong>${underlyingId}</strong>&nbsp;</div>
        <div><strong>${currency}</strong>&nbsp;</div>
      </div>
    </div>
  </div>
</div>