<article>
  <header class="OG-header-generic">
    <div class="OG-tools"></div>
    <label class="og-h1-label">Security:</label><h1>{{html name}}</h1>
    <div class="OG-js-header-links"></div>
  </header>
  <section style="width: 800px">
    <div class="OG-details-content OG-js-details-panel">
      <section class="og-js-identifiers"></section>
      <section>
        <table class="OG-table">
          <col style="width: 40%" />
          <col style="width: 60%" />
          <thead>
            <tr>
              <th><span><em>${securityType.lang()}</em></span></th><th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
          <tr><td><span>Call Amount</span></td><td>${callAmount}</td></tr>
          <tr><td><span>Call Currency</span></td><td>${callCurrency}</td></tr>
          <tr><td><span>Expiry</span></td><td>${expiry}</td></tr>
          <tr><td><span>Is Long</span></td><td>${isLong}</td></tr>
          <tr><td><span>Put Amount</span></td><td>${putAmount}</td></tr>
          <tr><td><span>Put Currency</span></td><td>${putCurrency}</td></tr>
          <tr><td><span>Settlement Date</span></td><td>${settlementDate}</td></tr>
          <tr><td><span>Delivery Currency</span></td><td>${deliveryCurrency}</td></tr>
          </tbody>
        </table>
      </section>
      <section class="OG-timeseries-container"></section>
      <section>
        <table class="OG-table">
          <col style="width: 40%" />
          <col style="width: 60%" />
          <thead>
            <tr><th colspan="2"><span><em>Attributes</em></span></th></tr>
            <tr>
              <th><div><em>Name</em></div></th>
              <th><div><em>Value</em></div></th>
            </tr>
          </thead>
          <tbody>
            {{if attributes}}
              {{each(attribute_index, attribute_value) attributes}}
              <tr>
                <td><span>${attribute_index}</span></td>
                <td><span>${attribute_value}</span></td>
              </tr>
              {{/each}}
            {{else}}
              <tr>
                <td colspan="2"><span>(no values)</span></td>
              </tr>
            {{/if}}
          </tbody>
        </table>
      </section>
    </div>
  </section>
</article>
