<div class="OG-security">
  <div class="OG-warning-message"></div>
  <h1>
    <span class="OG-editable">${name}</span>
  </h1>
  <div class="og-box">
    <div class="og-lbl">
        <div>Type</div>
        <div>Amount</div>
        <div>Currency</div>
        <div>End Date</div>
        <div>Rate</div>
        <div>Region</div>
    </div>
    <div class="og-cnt">
      <div><strong>${securityType}</strong>&nbsp;</div>
      <div><strong>${amount}</strong>&nbsp;</div>
      <div><strong>${currency}</strong>&nbsp;</div>
      <div><strong>${endDate.date} - ${endDate.zone}</strong>&nbsp;</div>
      <div><strong>${rate}</strong>&nbsp;</div>
      <div><strong>${region}</strong>&nbsp;</div>
    </div>
  </div>
  <div class="og-box">
    <div class="og-lbl">Identifiers</div>
    <div class="og-cnt og-js-identifiers"></div>
  </div>
</div>