<article>
  <header class="OG-header-generic">
    <div class="OG-tools"></div>
    <h1>{{html name}}</h1>
    <div class="OG-js-header-links"></div>
  </header>
  <section style="width: 800px">
    <div class="OG-details-content OG-js-details-panel">
      <section>
        <table class="OG-table">
          <col style="width: 40%" />
          <col style="width: 60%" />
            <thead>
            <tr>
              <th><span>Identifiers</span></th><th>&nbsp;</th>
            </tr>
          </thead>
          <tbody class="og-js-identifiers"></tbody>
        </table>
      </section>
      <section>
        <table class="OG-table">
          <col style="width: 40%" />
          <col style="width: 60%" />
          <thead>
            <tr>
              <th><span>${securityType}</span></th><th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr><td><span>Pay Amount</span></td><td>${payAmount}</td></tr>
            <tr><td><span>Pay Currency</span></td><td>${payCurrency}</td></tr>
            <tr><td><span>Receive Amount</span></td><td>${receiveAmount}</td></tr>
            <tr><td><span>Receive Currency</span></td><td>${receiveCurrency}</td></tr>
            <tr><td><span>Region</span></td><td>${region}</td></tr>
          </tbody>
        </table>
      </section>
      <section class="OG-timeseries og-js-timeseries"></section>
    </div>
  </section>
</article>