<article>
  <header class="OG-header-generic">
    <div class="OG-toolbar"></div>
    <h1>${name}</h1>
    <div class="OG-js-header-links"></div>
  </header>
  <section>
    <div class="OG-details-content OG-security OG-js-details-panel">
      <section>
        <div class="OG-mod-1 OG-c6">
          <table>
            <col style="width: 40%" />
            <col style="width: 60%" />
            <thead>
              <tr>
                <td>${securityType}</td><td></td>
              </tr>
            </thead>
            <tbody class="og-mod-content">
              <tr><td><span>Company Name</span></td><td>${companyName}</td></tr>
              <tr><td><span>Short Name</span></td><td>${shortName}</td></tr>
              <tr><td><span>Exchange</span></td><td>${exchange}</td></tr>
              <tr><td><span>Currency</span></td><td>${currency}</td></tr>
              <tr><td><span>Exchange Code</span></td><td>${exchangeCode}</td></tr>
              <tr><td><span>GICS code</span></td><td>${gicsCode}</td></tr>
            </tbody>
          </table>
        </div>
        <div class="OG-mod-1 og-style-2 OG-c4">
          <table>
            <col style="width: 40%" />
            <col style="width: 60%" />
              <thead>
              <tr>
                <td>Identifiers</td><td></td>
              </tr>
            </thead>
            <tbody class="og-js-identifiers og-mod-content"></tbody>
          </table>
        </div>
      </section>
    </div>
  </section>
</article>