<article>
  <header class="OG-header-generic">
    <div class="OG-tools"></div>
    <h1>{{html name}}</h1>
    <div class="OG-js-header-links"></div>
  </header>
  <section style="width: 800px">
    <div class="OG-details-content OG-js-details-panel">
      <section>
        <table class="OG-table">
          <col style="width: 40%" />
          <col style="width: 60%" />
            <thead>
            <tr>
              <th><span>Identifiers</span></th><th>&nbsp;</th>
            </tr>
          </thead>
          <tbody class="og-js-identifiers"></tbody>
        </table>
      </section>
      <section>
        <table class="OG-table">
          <col style="width: 40%" />
          <col style="width: 60%" />
          <thead>
            <tr>
              <th><span>${securityType.lang()}</span></th><th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr><td><span>Currency</span></td><td><span>${currency}</span></td></tr>
            <tr><td><span>Maturity Date</span></td><td><span>${maturityDate}</span></td></tr>
          </tbody>
        </table>
      </section>
      <section>
        <table class="OG-table">
          <col style="width: 40%" />
          <col style="width: 60%" />
          <thead>
            <tr><th colspan="2"><span>Attributes</span></th></tr>
            <tr>
              <th>Name</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            {{if attributes}}
              {{each(attribute_index, attribute_value) attributes}}
              <tr>
                <td><span>${attribute_index}</span></td>
                <td><span>${attribute_value}</span></td>
              </tr>
              {{/each}}
            {{else}}
              <tr>
                <td colspan="2"><span>(no values)</span></td>
              </tr>
            {{/if}}
          </tbody>
        </table>
      </section>
      <section>
        <table class="OG-table">
          <thead>
          <tr><th colspan="6"><span>Risk Factors</span></th></tr>
          <tr>
              <th>Factor Type</th>
              <th>Factor Name</th>
              <th>Node</th>
              <th>Price</th>
              <th>Exposure</th>
              <th>Convexity</th>
            </tr>
          </thead>
          <tbody>
          {{if factors.length}}
            {{each(factor_index, factor) factors}}
            <tr>
              <td><span>${factor.factorType}</span></td>
              <td><span>${factor.factorName}</span></td>
              <td><span>${factor.node}</span></td>
              {{if factor.priceTsId}}
                <td><span><a class="og-js-live-anchor" href="{{html
                  og.common.routes.prefix() +
                    og.common.routes.hash(og.views.securities.rules.load_item, og.common.routes.current().args, {
                      add: {timeseries: factor.priceTsId}
                    })}}">
                    ${factor.lastPrice || 'timeseries'}</a>
                </span></td>
              {{else}}
                <td><span>{{html factor.lastPrice || ''.lang()}}</span></td>
              {{/if}}
              {{if factor.exposureTsId}}
                <td><span><a class="og-js-live-anchor" href="{{html
                  og.common.routes.prefix() +
                    og.common.routes.hash(og.views.securities.rules.load_item, og.common.routes.current().args, {
                      add: {timeseries: factor.exposureTsId}
                    })}}">
                    ${factor.lastExposure || 'timeseries'}</a>
                </span></td>
              {{else}}
                <td><span>{{html factor.lastExposure || ''.lang()}}</span></td>
              {{/if}}
              {{if factor.convexityTsId}}
                <td><span><a class="og-js-live-anchor" href="{{html
                  og.common.routes.prefix() +
                    og.common.routes.hash(og.views.securities.rules.load_item, og.common.routes.current().args, {
                      add: {timeseries: factor.convexityTsId}
                    })}}">
                    ${factor.lastConvexity || 'timeseries'}</a>
                </span></td>
              {{else}}
                <td><span>{{html factor.lastConvexity || ''.lang()}}</span></td>
              {{/if}}
            </tr>
            {{/each}}
          {{else}}
            <tr>
              <td colspan="6"><span>(no values)</span></td>
            </tr>
          {{/if}}
          </tbody>
        </table>
      </section>
      <section class="OG-timeseries og-js-timeseries"></section>
    </div>
  </section>
</article>
