<article>
  <header class="OG-header-generic">
    <div class="OG-tools"></div>
    <h1>${name}</h1>
    <div class="OG-js-header-links"></div>
  </header>
  <section style="width: 800px">
    <div class="OG-details-content OG-js-details-panel">
      <section>
        <table class="OG-table">
          <col style="width: 40%" />
          <col style="width: 60%" />
            <thead>
            <tr>
              <th><span>Identifiers</span></th><th>&nbsp;</th>
            </tr>
          </thead>
          <tbody class="og-js-identifiers"></tbody>
        </table>
      </section>
      <section>
        <table class="OG-table">
          <col style="width: 40%" />
          <col style="width: 60%" />
          <thead>
            <tr>
              <th><span>${securityType}</span></th><th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr><td><span>Currency</span></td><td>${currency}</td></tr>
            <tr><td><span>Strike</span></td><td>${strike}</td></tr>
            <tr><td><span>Notional</span></td><td>${notional}</td></tr>
            <tr><td><span>Parameterized As Variance</span></td><td>${parameterizedAsVariance}</td></tr>
            <tr><td><span>Annualization Factor</span></td><td>${annualizationFactor}</td></tr>
            <tr><td><span>First Observation Date</span></td><td>${firstObservationDate}</td></tr>
            <tr><td><span>Last Observation Date</span></td><td>${lastObservationDate}</td></tr>
            <tr><td><span>Settlement Date</span></td><td>${settlementDate}</td></tr>
            <tr><td><span>Observation Frequency</span></td><td>${observationFrequency}</td></tr>
            <tr><td><span>Region ID</span></td><td>${regionId}</td></tr>
            <tr><td><span>Underlying Spot ID</span></td><td>${underlyingSpotId}</td></tr>
          </tbody>
        </table>
      </section>
      <section class="OG-timeseries og-js-timeseries"></section>
    </div>
  </section>
</article>