<article>
  <header class="OG-header-generic">
    <div class="OG-tools"></div>
    <h1>${name}</h1>
    <div class="OG-js-header-links"></div>
  </header>
  <section style="widthL: 800px">
    <div class="OG-details-content OG-js-details-panel">
      <section>
        <table class="OG-table">
          <col style="width: 40%" />
          <col style="width: 60%" />
            <thead>
            <tr>
              <th><span>Identifiers</span></th><th>&nbsp;</th>
            </tr>
          </thead>
          <tbody class="og-js-identifiers"></tbody>
        </table>
      </section>
      <section>
        <table class="OG-table">
          <col style="width: 40%" />
          <col style="width: 60%" />
          <thead>
            <tr>
              <th><span>${securityType.lang()}</span></th><th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
          <tr><td><span>Call Amount</span></td><td>${callAmount}</td></tr>
          <tr><td><span>Call Currency</span></td><td>${callCurrency}</td></tr>
          <tr><td><span>Expiry</span></td><td>${expiry}</td></tr>
          <tr><td><span>Is Long</span></td><td>${isLong}</td></tr>
          <tr><td><span>Put Amount</span></td><td>${putAmount}</td></tr>
          <tr><td><span>Put Currency</span></td><td>${putCurrency}</td></tr>
          <tr><td><span>Settlement Date</span></td><td>${settlementDate}</td></tr>
          <tr><td><span>Delivery Currency</span></td><td>${deliveryCurrency}</td></tr>
          </tbody>
        </table>
      </section>
    </div>
  </section>
</article>