<article>
  <header class="OG-header-generic">
    <div class="OG-tools"></div>
    <h1>${name}</h1>
    <div class="OG-js-header-links"></div>
  </header>
  <section style="width: 800px">
    <div class="OG-details-content OG-js-details-panel">
      <section>
        <table class="OG-table">
          <col style="width: 40%" />
          <col style="width: 60%" />
            <thead>
            <tr>
              <th><span>Identifiers</span></th><th>&nbsp;</th>
            </tr>
          </thead>
          <tbody class="og-js-identifiers"></tbody>
        </table>
      </section>
      <section>
        <table class="OG-table">
          <col style="width: 40%" />
          <col style="width: 60%" />
          <thead>
            <tr>
              <th><span>${securityType.lang()}</span></th><th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr><td><span>Currency</span></td><td>${currency}</td></tr>
            <tr><td><span>Exchange</span></td><td>${exchange}</td></tr>
            <tr><td><span>Exercise Type</span></td><td>${exerciseType}</td></tr>
            <tr><td><span>Expiry</span></td><td>${expiry}</td></tr>
            <tr><td><span>Is Margined</span></td><td>${isMargined}</td></tr>
            <tr><td><span>Option Type</span></td><td>${optionType}</td></tr>
            <tr><td><span>Point Value</span></td><td>${pointValue}</td></tr>
            <tr><td><span>Strike</span></td><td>${strike}</td></tr>
            <tr>
              <td><span>Underlying Identifier</span></td>
              <td class="OG-js-underlying-id">${underlyingId}</td>
            </tr>
          </tbody>
        </table>
      </section>
      <section class="OG-timeseries og-js-timeseries"></section>
    </div>
  </section>
</article>