<div class="OG-security">
  <div class="OG-warning-message"></div>
  <h1>
    <span class="OG-editable">${name}</span>
  </h1>
  <div class="OG-field-box">
    <div class="og-lbl">
      <div>Type</div>
      <div>Issuer name</div>
      <div>Issuer Type</div>
      <div>Issuer Domicile</div>
    </div>
    <div>
      <div><strong>${securityType}</strong></div>
      <div><strong>${issuerName}</strong></div>
      <div><strong>${issuerType}</strong></div>
      <div><strong>${issuerDomicile}</strong></div>
    </div>
  </div>
  <div class="OG-field-box">
    <div class="og-lbl">
      <div>Market</div>
      <div>Currency</div>
      <div>Yield convention</div>
    </div>
    <div class="og-cnt">
      <div><strong>${market}</strong></div>
      <div><strong>${currency}</strong></div>
      <div><strong>${yieldConvention}</strong></div>
    </div>
  </div>
  <div class="OG-field-box">
    <div class="og-lbl">
      <div>Last Trade Date</div>
      <div>Last Trade Accuracy</div>
    </div>
    <div class="og-cnt">
      <div><strong>${lastTradeDate}</strong></div>
      <div><strong>${lastTradeAccuracy}</strong></div>
    </div>
  </div>
  <div class="OG-field-box">
    <div class="og-lbl">
      <div>Coupon Type</div>
      <div>Coupon Rate</div>
      <div>Coupon Frequency</div>
    </div>
    <div class="og-cnt">
      <div><strong>${couponType}</strong></div>
      <div><strong>${couponRate}</strong></div>
      <div><strong>${couponFrequency}</strong></div>
    </div>
  </div>
  <div class="OG-field-box">
    <div class="og-lbl">
      <div>Day Count Convention</div>
      <div>Guarantee Type</div>
      <div>Business Day Convention</div>
      <div>Announcement Date</div>
      <div>Interest Accrual Date</div>
      <div>Settlement Date</div>
      <div>First Coupon Date</div>
      <div>Insurance Price</div>
      <div>Total Amount Issued</div>
      <div>Minimum Amount</div>
      <div>Minimum Increment</div>
      <div>Par Amount</div>
      <div>Redemption Value</div>
    </div>
    <div class="og-cnt">
      <div><strong>${dayCountConvention}</strong></div>
      <div><strong>${guaranteeType}</strong></div>
      <div><strong>${businessDayConvention}</strong></div>
      <div><strong>${announcementDate}</strong></div>
      <div><strong>${interestAccrualDate.date} - ${interestAccrualDate.zone}</strong></div>
      <div><strong>${settlementDate.date} - ${settlementDate.zone}</strong></div>
      <div><strong>${firstCouponDate.date} - ${firstCouponDate.zone}</strong></div>
      <div><strong>${issuancePrice}</strong></div>
      <div><strong>${totalAmountIssued}</strong></div>
      <div><strong>${minimumAmount}</strong></div>
      <div><strong>${minimumIncrement}</strong></div>
      <div><strong>${parAmount}</strong></div>
      <div><strong>${redemptionValue}</strong></div>
    </div>
  </div>
  <div class="OG-field-box">
    <div class="og-lbl">Identifiers</div>
    <div class="og-cnt og-js-identifiers"></div>
  </div>
</div>