<div class="OG-toolbar"></div>
<header class="OG-header-generic">
  <h1>${name}</h1>
</header>
<div class="OG-details-container">
<div class="og-details-content OG-security">
  <div class="OG-c10 og-grid-last OG-max-width-l">
    <section class="OG-mod-1 OG-c6">
      <table>
        <col style="width: 40%" />
        <col style="width: 60%" />
        <thead>
          <tr>
            <td>${securityType}</td><td></td>
          </tr>
        </thead>
        <tbody class="og-mod-content og-dotted">
          <tr><td><span>Expiry Date</span></td><td>${expirydate.datetime} - ${expirydate.timezone}</td></tr>
          <tr><td><span>Expiry Accuracy</span></td><td>${expiryAccuracy}</td></tr>
          <tr><td><span>Trading Exchange</span></td><td>${tradingExchange}</td></tr>
          <tr><td><span>Settlement Exchange</span></td><td>${settlementExchange}</td></tr>
          <tr><td><span>Redemption Value</span></td><td>${redemptionValue}</td></tr>
        </tbody>
      </table>
    </section>
    <section class="OG-mod-1 og-style-2 OG-c4">
      <table>
        <col style="width: 40%" />
        <col style="width: 60%" />
          <thead>
          <tr>
            <td>Identifiers</td><td></td>
          </tr>
        </thead>
        <tbody class="og-js-identifiers og-mod-content og-dotted"></tbody>
      </table>
    </section>
    <div class="og-box">
      <div class="og-lbl">Identifiers</div>
      <div class="og-cnt og-js-identifiers"></div>
    </div>
  </div>
</div>
</div>