<article>
  <header class="OG-header-generic">
    <div class="OG-tools"></div>
    <h1>${name}</h1>
    <div class="OG-js-header-links"></div>
  </header>
  <section>
    <div class="OG-details-content OG-security OG-js-details-panel">
      <section>
        <div class="OG-mod-1 OG-c6">
          <table>
            <col style="width: 40%" />
            <col style="width: 60%" />
            <thead>
              <tr>
                <td colspan="2">${securityType}</td>
              </tr>
            </thead>
            <tbody class="og-mod-content">
              <tr><td><span>Amount</span></td><td>${amount}</td></tr>
              <tr><td><span>Currency</span></td><td>${currency}</td></tr>
              <tr><td><span>Maturity</span></td><td>${maturity.date} - ${maturity.zone}</td></tr>
              <tr><td><span>Rate</span></td><td>${rate}</td></tr>
              <tr><td><span>Region</span></td><td>${region}</td></tr>

            </tbody>
          </table>
        </div>
        <div class="OG-mod-1 og-style-2 OG-c4">
          <table>
            <col style="width: 40%" />
            <col style="width: 60%" />
              <thead>
              <tr>
                <td>Identifiers</td><td></td>
              </tr>
            </thead>
            <tbody class="og-js-identifiers og-mod-content"></tbody>
          </table>
        </div>
      </section>
    </div>
  </section>
</article>