<article>
  ${header}
  <section>
    <div class="OG-details.content OG-js-details-panel">
      <section class="og-js-identifiers</section>
      <section>
        <table class="OG-table">
          <col style="width: 40%" />
          <col style="width: 60%" />
          <thead>
            <tr>
              <th><span><em>${securityType}</em></span></th><th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr><td><span>Effective Date</span></td><td>${effectiveDate.datetime} - ${expirydate.timezone></td></tr>
            <tr><td><span>Maturity Date</span></td><td>${maturityDate.datetime} - ${expirydate.timezone></td></tr>
            <tr><td><span>Notional</span></td><td>${notionalCurrency} ${notionalAmount}</td></tr>
            <tr>
              <td><span>Asset Id</span></td>
              <td class="OG-js-underlying-id">${security.assetId}</td>
            </tr>
            <tr>
              <td><span>Floating Rate Id</span></td>
              <td class="OG-js-underlying-id">${fundingLeg.floatingReferenceRateId}</td>
            </tr>
            <tr>
              <td><td style="vertical-align: top"><span>Spread</span></td><td>
              {{each spread}}${$index}: ${$value} <br/>{{/each}}
              </td>
            </tr>
            <tr>
              <td><td style="vertical-align: top"><span>Payment Calendars</span></td><td>
              {{each paymentDateCalendar}}${$index}: ${$value} <br />{{/each}}
              </td>
            </tr>
            <tr><td><span>Payment Settlement Days</span></td><td>${paymentSettlementDays}</td></tr>
            <tr><td><span>Payment Business Day Convention</span></td><td>${paymentBusinessDayConvention</td></tr>
            <tr><td><span>Payment Frequency</span></td><td>${paymentFrequency</td></tr>
            {{if paymentDates}}
              <tr>
                <td style="vertical-align: top"><span>Payment Date</span></td><td>
                  {{each paymentDates}}${$index}: ${$value} <br />{{/each}}
                </td>
              </tr>
            {{/if}}
          </tbody>
        </table>
      </section>
    </div>
  </section>
</article>              