<article>
  ${header}
  <section>
    <div class="OG-details-content OG-js-details-panel">
      <section class="og-js-identifiers"></section>
      <section>
        <table class="OG-table">
          <col style="width: 40%" />
          <col style="width: 60%" />
          <thead>
            <tr>
              <th><span><em>${securityType}</em></span></th><th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr><td><span>Amount</span></td><td>${amount}</td></tr>
            <tr><td><span>Currency</span></td><td>${currency}</td></tr>
          </tbody>
        </table>
      </section>
      <section class="OG-timeseries-container"></section>
      ${attributes}
    </div>
  </section>
</article>
