<article>
  <header class="OG-header-generic">
    <div class="OG-tools"></div>
    <h1>${name}</h1>
    <div class="OG-js-header-links"></div>
  </header>
  <section>
    <div class="OG-details-content OG-security OG-js-details-panel">
      <section>
        <div class="OG-mod-1 OG-c6">
          <table>
            <col style="width: 40%" />
            <col style="width: 60%" />
              <thead>
                <tr>
                  <td colspan="2">${securityType}</td>
                </tr>
              </thead>
              <tbody class="og-mod-content">
                <tr><td><span>Cap/Floor</span></td><td>${'Cap/Floor'}</td></tr>
                <tr><td><span>Direction</span></td><td>${Direction}</td></tr>
                <tr><td><span>Long ID</span></td><td>${longId}</td></tr>
                <tr><td><span>Short ID</span></td><td>${shortId}</td></tr>
                <tr><td><span>Start Date</span></td><td>${startDate}</td></tr>
                <tr><td><span>Maturity Date</span></td><td>${maturityDate}</td></tr>
                <tr><td><span>Day Count</span></td><td>${dayCount}</td></tr>
                <tr><td><span>Frequency</span></td><td>${frequency}</td></tr>
                <tr><td><span>Notional</span></td><td>${notional}</td></tr>
                <tr><td><span>Strike</span></td><td>${strike}</td></tr>
                <tr><td><span>Currency</span></td><td>${currency}</td></tr>
              </tbody>
            </table>
        </div>
        <div class="OG-mod-1 og-style-2 OG-c4">
          <table>
            <col style="width: 40%" />
            <col style="width: 60%" />
              <thead>
              <tr>
                <td>Identifiers</td><td></td>
              </tr>
            </thead>
            <tbody class="og-js-identifiers og-mod-content"></tbody>
          </table>
        </div>
      </section>
    </div>
  </section>
</article>