<article>
  <header class="OG-header-generic">
    <div class="OG-tools"></div>
    <h1>{{html name}}</h1>
    <div class="OG-js-header-links"></div>
  </header>
  <section style="width: 800px">
    <div class="OG-details-content OG-js-details-panel">
      <section>
        <table class="OG-table">
          <col style="width: 40%" />
          <col style="width: 60%" />
            <thead>
            <tr>
              <th><span>Identifiers</span></th><th>&nbsp;</th>
            </tr>
          </thead>
          <tbody class="og-js-identifiers"></tbody>
        </table>
      </section>
      <section>
        <table class="OG-table">
          <col style="width: 40%" />
          <col style="width: 60%" />
          <thead>
            <tr>
              <th><span>${securityType}</span></th><th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
          <tr><td><span>Currency</span></td><td>${currency}</td></tr>
          <tr><td><span>Expiry</span></td><td>${expiry}</td></tr>
          <tr><td><span>Is Cash Settled</span></td><td>${isCashSettled}</td></tr>
          <tr><td><span>Is Long</span></td><td>${isLong}</td></tr>
          <tr><td><span>Is Player</span></td><td>${isPayer}</td></tr>
          <tr>
            <td><span>Underlying Identifier</span></td>
            <td class="OG-js-underlying-id">${underlyingId}</td>
          </tr>
          </tbody>
        </table>
      </section>
      <section class="OG-timeseries og-js-timeseries"></section>
    </div>
  </section>
</article>