<div class="OG-security">
  <div class="OG-warning-message"></div>
  <h1>
    <span class="OG-editable">${name}</span>
  </h1>
  <div class="og-box">
    <div class="og-lbl">
        <div>Type</div>
        <div>Company Name</div>
        <div>Short Name</div>
        <div>Exchange</div>
        <div>Currency</div>
        <div>Exchange Code</div>
        <div>GICS Code</div>
    </div>
    <div class="og-cnt">
      <div><strong>${securityType}</strong>&nbsp;</div>
      <div><strong>${companyName}</strong>&nbsp;</div>
      <div><strong>${shortName}</strong>&nbsp;</div>
      <div><strong>${exchange}</strong>&nbsp;</div>
      <div><strong>${currency}</strong>&nbsp;</div>
      <div><strong>${exchangeCode}</strong>&nbsp;</div>
      <div><strong>${gicsCode}</strong>&nbsp;</div>
    </div>
  </div>
  <div class="og-box">
    <div class="og-lbl">Identifiers</div>
    <div class="og-cnt og-js-identifiers"></div>
  </div>
</div>